@model Machete.Domain.Worker

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Worker</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.raceID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.raceID)
            @Html.ValidationMessageFor(model => model.raceID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.raceother)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.raceother)
            @Html.ValidationMessageFor(model => model.raceother)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.height)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.height)
            @Html.ValidationMessageFor(model => model.height)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.weight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.weight)
            @Html.ValidationMessageFor(model => model.weight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.englishlevelID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.englishlevelID)
            @Html.ValidationMessageFor(model => model.englishlevelID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.recentarrival)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.recentarrival)
            @Html.ValidationMessageFor(model => model.recentarrival)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dateinUSA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateinUSA)
            @Html.ValidationMessageFor(model => model.dateinUSA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dateinseattle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateinseattle)
            @Html.ValidationMessageFor(model => model.dateinseattle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.disabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.disabled)
            @Html.ValidationMessageFor(model => model.disabled)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.disabilitydesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.disabilitydesc)
            @Html.ValidationMessageFor(model => model.disabilitydesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.maritalstatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.maritalstatus)
            @Html.ValidationMessageFor(model => model.maritalstatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.livewithchildren)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.livewithchildren)
            @Html.ValidationMessageFor(model => model.livewithchildren)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.numofchildren)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numofchildren)
            @Html.ValidationMessageFor(model => model.numofchildren)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.incomeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.incomeID)
            @Html.ValidationMessageFor(model => model.incomeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.livealone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.livealone)
            @Html.ValidationMessageFor(model => model.livealone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emcontUSAname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emcontUSAname)
            @Html.ValidationMessageFor(model => model.emcontUSAname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emcontUSArelation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emcontUSArelation)
            @Html.ValidationMessageFor(model => model.emcontUSArelation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emcontUSAphone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emcontUSAphone)
            @Html.ValidationMessageFor(model => model.emcontUSAphone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dwccardnum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dwccardnum)
            @Html.ValidationMessageFor(model => model.dwccardnum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.seattleneighborhoodID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.seattleneighborhoodID)
            @Html.ValidationMessageFor(model => model.seattleneighborhoodID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.immigrantrefugee)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.immigrantrefugee)
            @Html.ValidationMessageFor(model => model.immigrantrefugee)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.countryoforigin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.countryoforigin)
            @Html.ValidationMessageFor(model => model.countryoforigin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emcontoriginname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emcontoriginname)
            @Html.ValidationMessageFor(model => model.emcontoriginname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emcontoriginrelation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emcontoriginrelation)
            @Html.ValidationMessageFor(model => model.emcontoriginrelation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emcontoriginphone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emcontoriginphone)
            @Html.ValidationMessageFor(model => model.emcontoriginphone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.memberexpirationdate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.memberexpirationdate)
            @Html.ValidationMessageFor(model => model.memberexpirationdate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.driverslicense)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.driverslicense)
            @Html.ValidationMessageFor(model => model.driverslicense)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.expirationdate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.expirationdate)
            @Html.ValidationMessageFor(model => model.expirationdate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.insurance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.insurance)
            @Html.ValidationMessageFor(model => model.insurance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.insuranceexpiration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.insuranceexpiration)
            @Html.ValidationMessageFor(model => model.insuranceexpiration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.datecreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.datecreated)
            @Html.ValidationMessageFor(model => model.datecreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dateupdated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateupdated)
            @Html.ValidationMessageFor(model => model.dateupdated)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

