@model Machete.Web.ViewModel.WorkerViewModel
@using Machete.Web.Resources
@{
    ViewBag.Title = Workers.deletetitle;
}
<h2>@Workers.deletetitle</h2>
<p>
    @Html.ActionLink(Workers.indexreturnlink, "Index")
</p>





@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Persons.boxlegend</legend>
        @Html.EditorFor(model => model.person)
    </fieldset>
    <fieldset>
        <legend>@Workers.boxlegend</legend>
        @Html.EditorFor(model => model.worker)
        <input id="confirm_button" type="button" value="@Workers.deletesubmit" />
    </fieldset>
}
<script type="text/javascript">
    $().ready(function () {
        $('.editor-field').children().attr('disabled', 'disabled');
        $.alerts.okButton = "@Workers.deletesubmit";
        $("#confirm_button").click(function () {
            jConfirm('@Workers.deleteconfirmation',
                     '@Workers.deletetitle',
                     function (r) {
                         if (r == true) { $('form').submit(); }
                     }
                    );           
        });
    });
</script>
