@model IEnumerable<Machete.Domain.Worker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { id="createlink" })
</p>
<table>
    <tr>
        <th></th>
        <th>
            @Machete.Domain.Resources.Persons.firstname1
        </th>
        <th>
            @Machete.Domain.Resources.Persons.firstname2
        </th>
        <th>
            @Machete.Domain.Resources.Persons.lastname1
        </th>
        <th>
            @Machete.Domain.Resources.Persons.lastname2
        </th>
        <th>
            @Machete.Domain.Resources.Worker.dateupdated
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
            @item.Person.firstname1
        </td>
        <td>
             @item.Person.firstname2
        </td>
        <td>
             @item.Person.lastname1
        </td>
        <td>
             @item.Person.lastname2
        </td>
        <td>
            @String.Format("{0:g}", item.dateupdated)
        </td>
    </tr>
}

</table>

