@using Machete.Web.Helpers
@using Machete.Web.Resources
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization

@{
    ViewBag.Title = Workers.indextitle;

    var httpContext = ViewContext.HttpContext;
    var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
    var currentUrl = UriHelper.BuildRelative(httpContext.Request.PathBase, httpContext.Request.Path, httpContext.Request.QueryString);
}
<div id="workerTabs">
    <ul>
        <li><a href="#workerList" id="workerListTab" class="ListTab">@Workers.listlink</a> </li>
        @*<li><a href="/Worker/Create" id="workerCreateTab" class="CreateTab">@Workers.createlink</a></li>*@
    </ul>
    <div id="workerList">
        <table id="workerTable" class="display">
            <thead>
                <tr>
                    <th>EDITREF</th>
                    <th>LABEL</th>
                    <th>ID</th>
                    <th>@Worker.dwccardnum</th>
                    <th>@Worker.memberStatus</th>
                    <th>@Person.firstname1</th>
                    <th>@Person.firstname2</th>
                    <th>@Person.lastname1</th>
                    <th>@Person.lastname2</th>
                    <th>@Worker.memberexpirationdate</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        jqrfyTable({
        table: $('#workerTable'),
        tab: $('#workerTabs'),
        options: {
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[9, 'desc']],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "Worker/AjaxHandler",
            "oLanguage": datatable_lang_@(currentCulture.TwoLetterISOLanguageName),
            "bProcessing": true,
            "aoColumns": [
                { "mDataProp": "tabref","bSearchable": false, "bSortable": false, "bVisible": false },
                { "mDataProp": "tablabel","bSearchable": false, "bSortable": false, "bVisible": false },
                { "mDataProp": "WID","bSearchable": false, "bSortable": false, "bVisible": false },
                { "mDataProp": "dwccardnum" },
                { "mDataProp": "memberStatus" },
                { "mDataProp": "firstname1" },
                { "mDataProp": "firstname2" },
                { "mDataProp": "lastname1" },
                { "mDataProp": "lastname2" },
                { "mDataProp": "memberexpirationdate" }
            ],
            // callback populates html attr with row data from JSON
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).attr('recordid', aData['WID']);
                switch (aData['memberStatusID'])
                {
                    case "@(Machete.Domain.Worker.iActive)": $(nRow).addClass('statusBlue'); break;
                    case "@(Machete.Domain.Worker.iInactive)": $(nRow).addClass('statusYellow'); break;
                    case "@(Machete.Domain.Worker.iExpired)": $(nRow).addClass('statusYellow'); break;
                    case "@(Machete.Domain.Worker.iSanctioned)": $(nRow).addClass('statusRed'); break;
                    case "@(Machete.Domain.Worker.iExpelled)": $(nRow).addClass('statusRed'); break;
                    default: $(nRow).addClass('statusBlue');
                }
                return nRow;
            }
        },
        dblClickEvent: null,
        tabLabel: null
        });
        $('#workerTabs').mUI('createTabs', {
            prefix: "ui-tabs-worker-",
            formLevel: 1,
            changeConfirm: "@Shared.changeConfirm",
            changeTitle:   "@Shared.changeTitle"
        });
    });
</script>
