@model Machete.Web.ViewModel.WorkerViewModel
@using Machete.Web.Resources
@using Machete.Web.Helpers
<link href="@Url.Content("~/Content/print.css")" rel="stylesheet" type="text/css" media="print" />
@{
    ViewBag.Title = Workers.viewtitle;
}
<div class="print_off view_off">
<h2>@Workers.viewtitle</h2>

<p>
    @if (Html.IsInRole(Html.Role_AMP()))
    {
        @Html.ActionLink(Workers.editworkerlink, "Edit", new { id = Model.worker.ID })
        @Html.Encode(" | ");
    }
    @Html.ActionLink(Workers.indexreturnlink, "Index")
</p>
</div>


    <fieldset>
        <legend>@Persons.boxlegend</legend>
        @Html.EditorFor(model => model.person)
        
    </fieldset>
    <fieldset>
        <legend>@Workers.boxlegend</legend>

        @Html.EditorFor(model => model.worker)
    </fieldset>
<script type="text/javascript">
    $().ready(function () {
        $('.view_off').hide();
        $('.editor-field').children().attr('disabled', 'disabled')
    });
</script>