@model Machete.Web.ViewModel.WorkerViewModel
@using Machete.Web.Resources
@using Machete.Web.Helpers
@{
    ViewBag.Title = Workers.viewtitle;
}
<h2>@Workers.viewtitle</h2>
<p>
    @if (Html.IsInRole(Html.Role_AMP()))
    {
        @Html.ActionLink(Workers.editworkerlink, "Edit", new { id = Model.worker.ID })
        @Html.Encode(" | ");
    }
    @Html.ActionLink(Workers.indexreturnlink, "Index")
</p>



    <fieldset>
        <legend>@Persons.boxlegend</legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    @Html.EditorFor(model => model.person)
                </td>
                <td>
                    @if (Model.image.ImageData == null)
                    {
                        <p>
                            @Html.Label(Workers.noimagelabel)
                        </p>
                    }
                    else
                    {
                        <img src="@Url.Action("GetImage", "Image", new { Model.image.ID })" alt="" />
                    }
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>@Workers.boxlegend</legend>
        <!--
        
        This pulls from views/shared/editortemplates. 
        name is by convention, model name
        
        !-->
        @Html.EditorFor(model => model.worker)
    </fieldset>
<script type="text/javascript">
    $().ready(function () {
        $('.editor-field').children().attr('disabled', 'disabled')
    });
</script>