@model Machete.Web.ViewModel.WorkerViewModel
@using Machete.Web.Resources
@using Machete.Web.Helpers
<link href="@Url.Content("~/Content/print.css")" rel="stylesheet" type="text/css" media="print" />
@{
    ViewBag.Title = Workers.viewtitle;
    DateTime currentEventMonth = DateTime.MinValue;
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
    double totalIncome =0;
    double subTotal = 0;
    int asnCount = 0;
    int hrsCount = 0;
}
<div class="print_off view_off">
<h2>@Workers.viewtitle</h2>

<p>
    @if (Html.IsInRole(Html.Role_AMP()))
    {
        @Html.ActionLink(Workers.editworkerlink, "Edit", new { id = Model.worker.ID })
        @Html.Encode(" | ");
    }
    @Html.ActionLink(Workers.indexreturnlink, "Index")
</p>
</div>


<fieldset>
    <legend>@Persons.boxlegend</legend>
    @Html.EditorFor(model => model.person)
        
</fieldset>
<fieldset>
    <legend>@Workers.boxlegend</legend>
    @Html.EditorFor(model => model.worker)
</fieldset>
<fieldset>
    <legend>Events?!</legend>
</fieldset>
<fieldset>
    <legend>WorkAssignments?!</legend>
    <table>
        <thead>
            <tr>
                <th>Assignment?!#:</th>
                <th>Date?!:</th>
                <th>Skill?!:</th>
                <th>Hours?!:</th>
                <th>Wage?!:</th>
                <th>Est.Inc?!:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.worker.workAssignments.OrderBy(o => o.getFullPseudoID()))
            {                
                subTotal = Math.Round((item.hours * item.hourlyWage), 2);
                totalIncome = totalIncome+ subTotal;
                asnCount++;
                hrsCount = hrsCount + item.hours;              
                <tr>
                    <td>@item.getFullPseudoID()</td>
                    <td>@item.workOrder.dateTimeofWork.ToShortDateString()</td>
                    <td>@Lookups.byID(item.skillID, CI.TwoLetterISOLanguageName)</td>
                    <td>@item.hours</td>
                    <td>@item.hourlyWage</td>
                    <td>@(String.Format("{0:C}",subTotal))</td>
                </tr>
            }
            <tr>
                <td>Count?!:</td>
                <td>@(asnCount)</td>
                <td>Total Hrs?!:</td>
                <td>@(hrsCount)</td>
                <td>Total Inc?!:</td>
                <td>@(String.Format("{0:C}", totalIncome))</td>
            </tr>
        </tbody>
    </table>
</fieldset>
<fieldset>
    <legend>Signins?!</legend>
    @foreach (var item in Model.worker.workersignins.OrderBy(o => o.dateforsignin))
    {
        if (currentEventMonth == DateTime.MinValue || currentEventMonth.Month != item.dateforsignin.Month)
        {
            currentEventMonth = item.dateforsignin;
            <h4>@Html.Encode(String.Format("{0} {1}", currentEventMonth.Month, currentEventMonth.Year))</h4>
        }
        else
        {
            @Html.Encode(", ")
        }
        @Html.Encode(item.dateforsignin.ToShortDateString())
    }
</fieldset>
<script type="text/javascript">
    $().ready(function () {
        $('.view_off').hide();
    });
</script>