@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization
@model Machete.Web.ViewModel.WorkOrder

@using Machete.Web.Resources;

@Html.HiddenFor(model => model.ID, new { @class = "hiddenRecID" })
@Html.HiddenFor(model => model.EmployerID)
@{
    var httpContext = ViewContext.HttpContext;
    var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
    var currentUrl = UriHelper.BuildRelative(httpContext.Request.PathBase, httpContext.Request.Path, httpContext.Request.QueryString);
}
<div class="tb-table">
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.contactName)
        </div>
        <div class="tb-field">
            @Html.DisplayTextFor(model => model.contactName)            
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.workSiteAddress1)
        </div>
        <div class="tb-field">
            @Html.DisplayTextFor(model => model.workSiteAddress1)
            @Html.DisplayTextFor(model => model.workSiteAddress2)
            <br />
            @Html.DisplayTextFor(model => model.city)
            @Html.DisplayTextFor(model => model.state)
            @Html.DisplayTextFor(model => model.zipcode)
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="tb-field">
            @Html.DisplayTextFor(model => model.phone)            
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.transportTransactID)
        </div>
        <div class="tb-field">
            @Html.DisplayTextFor(model => model.transportTransactID)            
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.transportTransactType)
        </div>
        <div class="tb-field">
            @Html.DisplayTextFor(model => model.transportTransactType)            
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="tb-field">
            @Html.DisplayTextFor(model => model.phone)            
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.Label(WorkOrder.lunchShort)
        </div>
        <div class="tb-field">
            @(Model.lunchSupplied)  
        </div>
        <div class="tb-field" style="font-weight: bold; ">  
            @Html.Label(WorkOrders.transportFeeShort)        
        </div>
        <div class="tb-field bold" style="font-weight: bold; ">
            @Html.Label(WorkOrders.transportFeeExtraShort)
        </div>
                <div class="tb-field bold" style="font-weight: bold; ">
            @Html.Label(WorkOrders.transportfeetotal)
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.Label(WorkOrders.transportMethodIDShort)
        </div>
        <div class="tb-field">
            @(Model.transportMethod)
        </div>
        <div class="tb-field">
            @String.Format("{0:c}",Model.transportFee) +
        </div>
        <div class="tb-field">
            @String.Format("{0:c}",Model.transportFeeExtra) = 
        </div>        
        <div class="tb-field">
            @String.Format("{0:c}", Model.transportFee + Model.transportFeeExtra)
        </div>
    </div>    

    @if (Model.englishRequired)
    {
        <div class="tb-row">
            <div class="tb-label">
                @Html.LabelFor(model => model.englishRequiredNote)
            </div>
            <div class="tb-field">
                @Html.DisplayTextFor(model => model.englishRequiredNote)            
            </div>
        </div>
    }
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="tb-bordered_field">
            @Html.DisplayTextFor(model => model.description)
        </div>
    </div>
</div><!--tb-table-->
