@model Machete.Domain.WorkAssignment
@using Machete.Web.Resources
@{
    ViewBag.Title = WorkAssignments.deletetitle;
}
<div id="employerAccordion">
    <h3>
        <a href="#">@Employers.boxlegend: @Model.workOrder.Employer.name</a></h3>
    <div>
        @Html.EditorFor(model => model.workOrder.Employer)
    </div>
</div> 
<h2 class="hide_on_js">@WorkAssignments.deletetitle</h2>
<p class="hide_on_js">
    @Html.ActionLink(WorkAssignments.indexreturnlink, "Index", new { EmployerID = Model.workOrder.EmployerID })
</p>
@using (Html.BeginForm("Delete", "WorkAssignment", FormMethod.Post, new { @class = "deletetab-form" })) 
{
    @Html.EditorForModel()
    <p>
        <input id="confirm_button" type="button" value="@WorkAssignments.deletesubmit" /> 
    </p>
}
<script type="text/javascript">
    $().ready(function () {
        $('.editor-field').children().attr('disabled', 'disabled');
        $.alerts.okButton = "@WorkAssignments.deletesubmit";
        $("#confirm_button").click(function () {
            jConfirm('@WorkAssignments.deleteconfirmation',
                     '@WorkAssignments.deletetitle',
                     function (r) {
                         if (r == true) { $('form').submit(); }
                     }
                    );
        });
        $("#employerAccordion").accordion({
            active: false,
            collapsible: true
        });
    });
</script>