@model Machete.Web.ViewModel.WorkAssignmentIndex
@using Machete.Web.Helpers
@using Machete.Web.Resources
@using Machete.Domain.Resources
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}
@using (Html.BeginForm())
{
<div>
    @Html.LabelFor(m => m.todaysdate)
</div>
<div>
    @Html.TextBoxFor(m => m.todaysdate)
    <input type="button" value="update" id="updateBtn" />
</div>
}    
<div>
    @Html.LabelFor(m => m.dwccardnum)
</div>
<div>
    @Html.TextBoxFor(m => m.dwccardnum)
</div>

<div id="assignmentTab">
    <ul>
        <li><a href="#availAssignList">All Assignments?!</a></li>
    </ul>
    <div id="availAssignList">
            <table id="availAssignTable" class="display">
            <thead>
                <tr>
                    <th>REF</th>
                    <th>LABEL</th>
                    <th>WorkOrderID</th>
                    <th>ID#</th>
                    <th>@WorkOrder.dateTimeofWork</th>
                    <th>@WorkAssignment.englishLevelID</th>
                    <th>@WorkAssignment.skillID</th>
                    <th>@WorkAssignment.hourlyWage</th>
                    <th>@WorkAssignment.hours</th>
                    <th>@WorkAssignment.days</th>
                    <th>@WorkAssignments.earnings</th>
                    <th>@WorkAssignment.description</th>


                </tr>
            </thead>
        </table>
    </div>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        jqrfyTabs($("#assignmentTab"), "ui-tabs-assignment-");
        jqrfyTable($("#availAssignTable"), $("#assignmentTab"),
        {
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[4, 'desc']],
            "bFilter": true,
            //"bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/WorkAssignment/AjaxHandler",
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
            "bProcessing": true,
            "aoColumns": [
                            { "mDataProp": "tabref", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "tablabel", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "WOID", "bSearchable": false, "bSortable": false, "bVisible": false }, 
                            { "mDataProp": "pWAID"},                            
                            { "mDataProp": "dateTimeofWork"},                            
                            { "mDataProp": "englishlevel"}, 
                            { "mDataProp": "skill"}, 
                            { "mDataProp": "hourlywage"}, 
                            { "mDataProp": "hours"}, 
                            { "mDataProp": "days"},
                            { "mDataProp": "earnings"},
                            { "mDataProp": "description"}

                        ],
            "aoSearchCols" : [null, null, null, null, null, null, null, null, null, null, null],
            "fnServerData": function ( sSource, aoData, fnCallback ) {
			        /* Add some extra data to the sender */
			        aoData.push( { "name": "todaysdate", "value": $('#todaysdate').val() } );
                    aoData.push( { "name": "dwccardnum", "value": $('#dwccardnum').val()} );
			        $.getJSON( sSource, aoData, function (json) { 
				        /* Do whatever additional processing you want on the callback, then tell DataTables */
				        fnCallback(json)
			        } );
		        }
//            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) { },
//            "fnDrawCallback": function () {}
            });
            $("#updateBtn").click(function (e) {
                e.preventDefault();
                $("#availAssignTable").dataTable().fnDraw();
            });
    });
</script>