@model Machete.Domain.WorkAssignment
@using Machete.Web.Resources
@using Machete.Web.Helpers
<link href="@Url.Content("~/Content/print.css")" rel="stylesheet" type="text/css" media="print" />
@{
    ViewBag.Title = WorkAssignments.viewtitle;
}
<div id="employerAccordion">
    <h3>
        <a href="#">@Employers.boxlegend: @Model.workOrder.Employer.name</a></h3>
    <div>
        @Html.EditorFor(model => model.workOrder.Employer)
    </div>
    <h3><a href="#">@WorkOrders.boxlegend# @Model.workOrder.ID - @Model.workOrder.contactName - @Model.workOrder.workSiteAddress1</a></h3>
    <div>
        @Html.EditorFor(model => model.workOrder)
    </div>
</div> 
<h2 class="print_off">@WorkAssignments.viewtitle</h2>
<p class="print_off">
    @if (Html.IsInRole(Html.Role_AMP()))
    {
    @Html.ActionLink(WorkAssignments.editlink, "Edit", new { id = Model.ID }) 
        @Html.Encode(" | ");
    }
    @Html.ActionLink(WorkAssignments.indexreturnlink, "Index", new { EmployerID = Model.workOrder.EmployerID, WorkOrderID = Model.workOrder.ID })
    @if (Html.IsInRole(Html.Role_AMP()))
    {
        @Html.Encode(" | ")
        @Html.ActionLink(WorkAssignments.createlink, "Create", "WorkAssignment", new { EmployerID = Model.workOrder.EmployerID, WorkOrderID = Model.workOrder.ID }, null)
    }
</p>
<h3>@WorkAssignments.boxlegend# @Model.ID</h3>
@Html.EditorForModel()

<script type="text/javascript">
    $().ready(function () {
        $('.editor-field').children().attr('disabled', 'disabled')
    });
    $("#employerAccordion").accordion({
        active: false,
        collapsible: true
    });
</script>