@using Machete.Web.Helpers
@using Microsoft.AspNetCore.Routing
@using Machete.Web.Resources

<!DOCTYPE html>
<html>
<script src="~/Content/jquery.js"></script>

@{
    var controllerName = Context.Request.HttpContext.GetRouteData().Values["controller"].ToString();
}
<head>
    <link href="@Url.Content("~/Content/jquery.lightbox-0.5.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/Machete.css" />
    <link rel="stylesheet" href="~/Content/reportcss.css" />
    <title>@Shared.title@ViewBag.title</title>
    <link rel="shortcut icon" href="/Content/favicon.ico" type="image/png"/>
    <link rel="icon" href="/Content/favicon.ico" type="image/png"/> 
</head>

<body>
    <div class="page">
        <div>
            @*<input type="button" value="@Machete.Web.Resources.Shared.bannerbtn" id="showbanner" class="formButton"/>*@
        </div>
        <div id="header">
            <div id="title" class="print-off">
                @Html.ActionLink(Shared.hometab, "Index", "Home", null, new { id = "menulinkhome" })
            </div>
            <div id="logindisplay" class="print-off">
                @await Html.PartialAsync("_LogOnPartial")
                @await Html.PartialAsync("_CultureChooser")
            </div>
            <div id="menucontainer" class="print-off">
                <ul id="menu">
                    <li></li>
                    @if (Html.IsInRole("Administrator", "Manager"))
                    {
                        <li>@Html.ActionLink("V2", "Index", "V2", null, new { id = "menulinkV2" })</li>
                        <li>@Html.ActionLink(Shared.reportstab, "Index", "Reports", null, new { id = "menulinkreports" })</li>
                        <li>@Html.ActionLink(Shared.emailstab, "Index", "Email", null, new { id = "menulinkemails" })</li>
                     }
                     @if (Html.IsInRole("Administrator", "Manager", "PhoneDesk"))
                     {
                        <li>@Html.ActionLink(Shared.employerstab, "Index", "Employer", null, new { id = "menulinkemployer" })</li>
                        <li>@Html.ActionLink(Shared.workorderstab, "Index", "WorkOrder", null, new { id = "menulinkworkorder" })</li>
                     }
                     @if (Html.IsInRole("Administrator", "Manager", "PhoneDesk", "Check-in", "User"))
                     {
                        <li>@Html.ActionLink(Shared.workassignmentstab, "Index", "WorkAssignment")</li>
                     }
                     @if (Html.IsInRole("Administrator", "Manager", "PhoneDesk") || Html.IsInRole(new[] { "Teacher" }))
                     {
                        <li>@Html.ActionLink(Shared.persontab, "Index", "Person", null, new { id = "menulinkperson" })</li>
                     }
                     @if (Html.IsInRole("Administrator", "Manager") || Html.IsInRole(new[] { "Teacher" }))
                     {
                        <li>@Html.ActionLink(Shared.activitytab, "Index", "Activity", null, new { id = "menulinkactivity" })</li>
                     }
                     @if (Html.IsInRole("Administrator", "Manager", "PhoneDesk", "Check-in", "User"))
                     {
                        <li>@Html.ActionLink(Shared.workersignintab, "Index", "WorkerSignin", null, new { id = "menulinkworkersignin" })</li>
                    }
                </ul>
            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer" class="print-off">
            <p class="print-off">
                Web solution by Savage Learning, LLC. Copyright 2011-2015. Licensed under GNU GPL v3.0.
            </p>
            </div><!--footer-->        
        </div><!--main-->
    </div><!--page-->
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('.formButton').button();
        $("a[href='/@(controllerName)']").addClass('menulinkactive');

        function callback() {
            setTimeout(function () {

            }, 1000);
        };
    });
</script>