<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>    
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>machete::</h1>
            </div>

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Persons", "Index", "Persons")</li>
                    <li>@Html.ActionLink("Workers", "Index", "Workers")</li>
                    <li>@Html.ActionLink("WorkOrders", "Index", "WorkOrders")</li>
                    <li>@Html.ActionLink("WorkAsmts", "Index", "WorkAssignments")</li>
                    <li>@Html.ActionLink("Employers", "Index", "Employers")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Category", "Index", "Category")</li>					
                    <li>@Html.ActionLink("Expense", "Index", "Expense")</li>
                </ul>

            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            Casa Latina| <a href="http://www.casa-latina.org">Website</a> | <a href="https://www.facebook.com/pages/Casa-Latina/138778978113">Facebook</a>
            </div>
        </div>
    </div>
</body>
</html>
