@using Combres.Mvc
<!DOCTYPE html>
<html>
@Html.CombresLink("siteJs")
@Html.CombresLink("siteCss")
<head>
    <title>@Machete.Web.Resources.Shared.title@ViewBag.title</title>
    <link rel="shortcut icon" href="/Content/favicon.ico" type="image/png"/>
    <link rel="icon" href="/Content/favicon.ico" type="image/png"/> 
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title" >
                <img alt="@Machete.Web.Resources.Shared.title" src="/Content/casa_logo.png" title="CasaLogo" class="casaLogo"/>
                <img class="print_off" alt="@Machete.Web.Resources.Shared.title" src="/Content/machete_1_close_crop.png" title="titleBanner"/>
            </div>

            <div id="logindisplay" class="print_off">
                @Html.Partial("_LogOnPartial")
                @Html.Partial("_CultureChooser")
            </div>

            <div id="menucontainer" class="print_off">

                <ul id="menu">
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.hometab, "Index", "Home", null, new { id = "menulinkhome" })</li>
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.employerstab, "Index", "Employer", null, new { id = "menulinkemployer" })</li>
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.workorderstab, "Index", "WorkOrder", null, new { id = "menulinkworkorder" })</li>
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.workassignmentstab, "Index", "WorkAssignment")</li>
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.persontab, "Index", "Person", null, new { id = "menulinkperson" })</li>
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.workerstab, "Index", "Worker", null, new { id="menulinkworker"})</li>
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.workersignintab, "Index", "WorkerSignin", null, new { id = "menulinkworkersignin" })</li>
                    
                </ul>

            </div>
        </div>

        <div id="main" class="clearfix">
            @RenderBody()
            <div id="footer" class="print_off" style="Clear:Both">
            
            <p>
                Web solution by Savage Learning, LLC. (c) 2011 Savage Learning, LLC.
            </p>
            </div><!--footer-->        
        </div><!--main-->
    </div><!--page-->
</body>
</html>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('a[href=/@Request.RequestContext.RouteData.Values["controller"]]').addClass('menulinkactive');
    });
</script>