<!DOCTYPE html>
<html>
<head>
    <title>@Machete.Web.Resources.Shared.title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>    
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>@Machete.Web.Resources.Shared.title</h1>
            </div>

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
                @Html.Partial("_CultureChooser")
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.persontab, "Index", "Person")</li>
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.hometab, "Index", "Home")</li>
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.workerstab, "Index", "Worker")</li>
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.workorderstab, "Index", "WorkOrders")</li>
                    <!--<li>@Html.ActionLink(@Machete.Web.Resources.Shared.workassignmentstab, "Index", "WorkAssignments")</li>
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.employerstab, "Index", "Employers")</li>
                    <li>@Html.ActionLink(@Machete.Web.Resources.Shared.hometab, "Index", "Home")</li>
                    <li>@Html.ActionLink("##Category", "Index", "Category")</li>					
                    <li>@Html.ActionLink("##Expense", "Index", "Expense")</li>
                    !-->
                </ul>

            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            
            <p>
                Web solution by Savage Learning, LLC. (c) 2011 Savage Learning, LLC.
            </p>
            </div>
        </div>
    </div>
</body>
</html>
