@using Machete.Web.Helpers
@using Machete.Web.Resources
@using Machete.Domain.Resources
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
    string recType = "Activity";
    //string idPrefix = recType + Model.ID + "-";
}
<div id="actJoinList">
    
    <div class="tb-table" style="clear: left;">
        <div class="tb-row">
            <div id="actInTab" class="tb-cell">
                <ul>
                <li>ACT-IN-TABLE</li>
                </ul>
                <table id="actInTable" class="display">
                <thead>
                    <tr>
                        <th>@Activity.name</th>
                        <th>@Activity.type</th>
                        <th>@Activity.teacher</th>
                        <th>@Activity.dateStart</th>
                    </tr>
                </thead>
            </table>
            </div>
            <div id="actOutTab" class="tb-cell">
                <ul>
                <li>ACT-OUT-TABLE</li>
                </ul>
                <table id="actOutTable" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>LABEL</th>
                        <th>@Activity.name</th>
                        <th>@Activity.type</th>
                        <th>@Activity.teacher</th>
                        <th>@Activity.dateStart</th>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#actOutTab").mUI('createTabs', {
            prefix: "ui-tabs-actOut-", 
            formLevel: 3,
            changeConfirm: "@(Machete.Web.Resources.Shared.changeConfirm)",
            changeTitle: "@(Machete.Web.Resources.Shared.changeTitle)"
        });
        $("#actInTab").mUI('createTabs', {
            prefix: "ui-tabs-actIn-", 
            formLevel: 3,
            changeConfirm: "@(Machete.Web.Resources.Shared.changeConfirm)",
            changeTitle: "@(Machete.Web.Resources.Shared.changeTitle)"
        });
        //jqrfyTable($('#actOutTable'), $('#personPartsTabs'),
        $('#actOutTable').dataTable(
        {
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[5, 'desc']],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/Activity/AjaxHandler", 
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
            "bProcessing": true,
            "aoColumns": [
                            {"mDataProp": "tabref",  "bSearchable": false, "bSortable": false, "bVisible": false },
                            {"mDataProp": "tablabel",  "bSearchable": false, "bSortable": false, "bVisible": false },
                            {"mDataProp": "name" },
                            {"mDataProp": "type" },
                            {"mDataProp": "teacher" },
                            {"mDataProp": "dateStart" },
            ],
            "fnServerData": function ( sSource, aoData, fnCallback ) {
			    /* Add some extra data to the sender */			    
                aoData.push( { "name": "personID", "value": $('#personID').val() } );
                aoData.push( { "name": "attendedActivities", "value": false } );
			    $.getJSON( sSource, aoData, function (json) { 
				    /* Do whatever additional processing you want on the callback, then tell DataTables */
				    fnCallback(json)
			    } );
		    }             
        //}, null, "@(recType)");
        });
        $('#actInTable').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[5, 'desc']],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/Activity/AjaxHandler", 
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
            "bProcessing": true,
            "aoColumns": [
                            {"mDataProp": "tabref",  "bSearchable": false, "bSortable": false, "bVisible": false },
                            {"mDataProp": "tablabel",  "bSearchable": false, "bSortable": false, "bVisible": false },
                            {"mDataProp": "name" },
                            {"mDataProp": "type" },
                            {"mDataProp": "teacher" },
                            {"mDataProp": "dateStart" },
            ],
            "fnServerData": function ( sSource, aoData, fnCallback ) {
			    /* Add some extra data to the sender */			    
                aoData.push( { "name": "personID", "value": $('#personID').val() } );
                aoData.push( { "name": "attendedActivities", "value": true } );
			    $.getJSON( sSource, aoData, function (json) { 
				    /* Do whatever additional processing you want on the callback, then tell DataTables */
				    fnCallback(json)
			    } );
		    }             
        });
        //$('#eventTable_filter input').attr('ID','personSearchBox');
    });
</script>
