@using Machete.Web.Helpers
@using Machete.Web.Resources
@using Machete.Domain.Resources
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
    string recType = "email";
    //string idPrefix = recType + Model.ID + "-";
}
<div id="emailList"> @* This div is the ui.panel  *@
    <table id="emailTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>LABEL</th>
                <th>$$$Email ID:</th>
                <th>@Emails.emailTo</th>
                <th>@Emails.subject</th>
                <th>$$$status</th>
                <th>$$$attchmnt</th>
                <th>$$$attempts</th>
                <th>$$$last attempt</th>
                <th>@Record.dateupdated</th>
                <th>@Record.updatedby</th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {        
        //
        // Create Email table
        jqrfyTable({
            table: $('#emailTable'), 
            tab: $('#emailTabs'),
            options: {
                "bPaginate": true,
                "bLengthChange": true,
                "aaSorting": [[8, 'desc']],
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "bServerSide": true,
                "sAjaxSource": "/Email/AjaxHandler",
                "bProcessing": true,
                "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
                "aoColumns": [                           //dataTable column definition
                                { "mDataProp": "tabref",  "bSearchable": false, "bSortable": false, "bVisible": false },
                                { "mDataProp": "tablabel",  "bSearchable": false, "bSortable": false, "bVisible": false },
                                { "mDataProp": "recordid" },
                                { "mDataProp": "emailTo" },
                                { "mDataProp": "subject" },
                                { "mDataProp": "status" },
                                { "mDataProp": "hasAttachment", "bSortable": false, "bVisible": true },
                                { "mDataProp": "transmitAttempts" },
                                { "mDataProp": "lastAttempt" },
                                { "mDataProp": "dateupdated", "bVisible": true },
                                { "mDataProp": "Updatedby", "bSortable": false, "bVisible": true }
                            ]             
            }, 
            dblClickEvent: null, 
            tabLabel: "@(recType)",
            maxTabs: 2
            });

    });
</script>

