@* @model System.Web.Mvc.HandleErrorInfo *@
@* TODO find what ^ is doing and replace *@

@using Machete.Web.Resources

@{
    ViewBag.Title = Shared.Error;
    
}

<h2>
    @Shared.ErrorPgApology
</h2>
<div>
<p>
    @Shared.ErrorPgExplanation
</p>
<p><b>@Shared.ErrorPgControllerLabel</b>
@Model.ControllerName
</p>
<p><b>@Shared.ErrorPgActionLabel</b>
@Model.ActionName
</p>

</div>