@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Machete.Web.Resources.Shared.Error;
    
}

<h2>
    @Machete.Web.Resources.Shared.ErrorPgApology
</h2>
<div>
<p>
@Machete.Web.Resources.Shared.ErrorPgExplanation
</p>
<p><b>@Machete.Web.Resources.Shared.ErrorPgControllerLabel</b>
@Model.ControllerName
</p>
<p><b>@Machete.Web.Resources.Shared.ErrorPgActionLabel</b>
@Model.ActionName
</p>

</div>