@model Machete.Domain.WorkOrder
@using Machete.Web.Helpers
@using Machete.Web.Resources
@using Machete.Domain.Resources
@Html.HiddenFor(model => model.ID, new { @class = "hiddenRecID" })
@Html.HiddenFor(model => model.EmployerID)
@Html.HiddenFor(model => model.onlineSource)


@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];    
}
<div class="tb-table">
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.contactName)
        </div>
        <div class="tb-field">
            @Html.DisplayTextFor(model => model.contactName)            
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.workSiteAddress1)
        </div>
        <div class="tb-field">
            @Html.DisplayTextFor(model => model.workSiteAddress1)
            @Html.DisplayTextFor(model => model.workSiteAddress2)
            <br />
            @Html.DisplayTextFor(model => model.city)
            @Html.DisplayTextFor(model => model.state)
            @Html.DisplayTextFor(model => model.zipcode)
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="tb-field">
            @Html.DisplayTextFor(model => model.phone)            
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.Label(WorkOrder.lunchShort)
        </div>
        <div class="tb-field">
            @Lookups.getBool(Model.lunchSupplied)  
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.Label(WorkOrders.transportMethodIDShort)
        </div>
        <div class="tb-field">
            @Lookups.byID(Model.transportMethodID)
        </div>
    </div>    

    @if (Model.englishRequired == true)
    {
        <div class="tb-row">
            <div class="tb-label">
                @Html.LabelFor(model => model.englishRequiredNote)
            </div>
            <div class="tb-field">
                @Html.DisplayTextFor(model => model.englishRequiredNote)            
            </div>
        </div>
    }
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="tb-bordered_field">
            @Html.DisplayTextFor(model => model.description)
        </div>
    </div>
</div><!--tb-table-->
