@using Machete.Web.Helpers
@model Machete.Web.ViewModel.Record

@using Machete.Web.Resources

@if (Html.IsInRole(new[] { "Administrator", "Manager" }))
{
<div class="managerAccordion Accordion print_off view_off">
    <h3><a href="#">@Shared.managerinformation</a></h3>
    <div class="tb-table">
        <div class="tb-row">
            <div class="tb-label">
                @Html.LabelFor(model => model.datecreated)
            </div>
            <div class="tb-display">
                @Html.DisplayFor(model => model.datecreated)
                @Html.ValidationMessageFor(model => model.datecreated)
            </div>
            <div class="tb-label">
                @Html.LabelFor(model => model.dateupdated)
            </div>
            <div class="tb-display">
                @Html.DisplayFor(model => model.dateupdated)
                @Html.ValidationMessageFor(model => model.dateupdated)
            </div>
                    <div class="tb-label">
                @Html.LabelFor(model => model.ID)
            </div>
            <div class="tb-field">
                @Html.DisplayFor(model => model.ID, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ID)
            </div>
        </div>
        <!--tb-row-->
        <div class="tb-row">
            <div class="tb-label">
                @Html.LabelFor(model => model.createdby)
            </div>
            <div class="tb-display">
                @Html.DisplayFor(model => model.createdby)
                @Html.ValidationMessageFor(model => model.createdby)
            </div>
            <div class="tb-label">
                @Html.LabelFor(model => model.updatedby)
            </div>
            <div class="tb-display">
                @Html.DisplayFor(model => model.updatedby)
                @Html.ValidationMessageFor(model => model.updatedby)
            </div>
        </div>
        <!--tb-row-->
    </div>
    <!--tb-table-->
</div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".Accordion").accordion({
            collapsible: true,
            active: false,
            autoHeight: false
        });
    });
</script>