@model Machete.Domain.Employer
@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
    string recType = "WO";
    //string idPrefix = recType + Model.ID + "-";
}
<div id="workOrderTabs_@(Model.ID)" >
    <ul>
        <li><a href="#workOrderList" id="workOrderListTab_@(Model.ID)" class="ListTab">@WorkOrders.listlink</a> </li>
        <li><a href="/WorkOrder/Create?EmployerID=@(Model.ID)" id="workOrderCreateTab_@(Model.ID)" class="CreateTab">@WorkOrders.createlink</a></li>        
    </ul>
    <div id="workOrderList">
        <table id="workOrderTable_@(Model.ID)" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>EmployerID</th>
                    <th>@WorkOrder.workorderID</th>
                    <th>@WorkOrder.dateTimeofWork</th>
                    <th>@WorkOrder.statusShort</th>
                    <th>@WorkOrders.assigncount</th>
                    <th>@WorkOrder.contactName</th>
                    <th>@WorkOrder.workSiteAddress1</th>
                    <th>@Record.dateupdated</th>
                    <th>@Record.updatedby</th>
                </tr>
            </thead>
        </table>        
    </div>
</div>

<div id="employerSelectDialog" title="@WorkOrders.empChgConfirmTitle">
    <table id="employerSelectTable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>LABEL</th>
            <th>@Machete.Domain.Resources.Employer.active</th>
            <th>@Machete.Domain.Resources.Employer.name</th>
            <th>@Machete.Domain.Resources.Employer.address1</th>
            <th>@Machete.Domain.Resources.Employer.city</th>
            <th>@Machete.Domain.Resources.Employer.phone</th>
            <th>@Machete.Domain.Resources.Record.dateupdated</th>
            <th>@Machete.Domain.Resources.Record.updatedby</th>
        </tr>
    </thead>
</table>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        ////////////////////////////////////////////////////////////////
        //
        // Setup work order Tabs
        //
        $('#workOrderTabs_@(Model.ID)').unbind('.M_workorderEvents');
        M_workOrderTable_@(Model.ID) = null;
        
        $('#workOrderTabs_@(Model.ID)').mUI('createTabs', {prefix: "ui-tabs-workorder-e_@(Model.ID)-"});
        ////////////////////////////////////////////////////////////////
        //
        // Setup workorder Table
        //
        M_workOrderTable_@(Model.ID) = $('#workOrderTable_@(Model.ID)');
        jqrfyTable(M_workOrderTable_@(Model.ID), $('#workOrderTabs_@(Model.ID)'),
        {
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[7, 'desc']],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/WorkOrder/AjaxHandler",
            "bProcessing": true,
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
            "aoColumns": [
                            { "mDataProp": "tabref", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "tablabel", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "EID", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "WOID" },
                            { "mDataProp": "dateTimeofWork" },
                            { "mDataProp": "status" },
                            { "mDataProp": "WAcount" },
                            { "mDataProp": "contactName" },
                            { "mDataProp": "workSiteAddress1" },
                            { "mDataProp": "dateupdated" },
                            { "mDataProp": "updatedby" }
                        ],
            "aoSearchCols" :  [null, null, { "sSearch": "@(Model.ID)" }, null, null, null, null, null, null]
            
        }, null, "@(recType)" );
        ////////////////////////////////////////////////////////////////
        //
        // table for selecting employer (for workorder move functionality)
        //
        $('#employerSelectTable').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[7, 'desc']],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "iDeferLoading": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/Employer/AjaxHandler", 
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
            "bProcessing": true,
            "aoColumns": [
                            {"mDataProp": "tabref",  "bSearchable": false, "bSortable": false, "bVisible": false },
                            {"mDataProp": "tablabel",  "bSearchable": false, "bSortable": false, "bVisible": false },
                            {"mDataProp": "active" },
                            {"mDataProp": "name" },
                            {"mDataProp": "address1" },
                            {"mDataProp": "city" },
                            {"mDataProp": "phone" },
                            {"mDataProp": "dateupdated" },
                            {"mDataProp": "Updatedby", "bSortable": false }
            ]              
        }).fnSetFilteringDelay(250);
        $('#employerSelectTable_filter input').attr('ID', 'employerSelectTable_searchbox');
        //////////////////////////////////////////////////
        //
        //
        $('#employerSelectDialog').hide();
        $('#employerSelectTable').hide();
        
        $('#employerSelectTable').find('tbody').mUI('selectEmployerDblClick',
        {
            okButton: "@WorkOrders.empChgConfirmSubmit",
            message: "@WorkOrders.empChgConfirm",
            title: '@WorkOrders.empChgConfirmSubmit' 
        });
    });
</script>