@model Machete.Web.ViewModel.WorkOrder

@using Machete.Web.Helpers
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization

@using Machete.Web.Resources

@{
    var httpContext = ViewContext.HttpContext;
    var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
    var currentUrl = UriHelper.BuildRelative(httpContext.Request.PathBase, httpContext.Request.Path, httpContext.Request.QueryString);
}

<div id="workAssignTabs-wo-@(Model.ID)">
    <ul>
        <li>
            <a href="#workAssignList-wo-@(Model.ID)" 
                class="workAssignListTab ListTab" 
                id="walt-@(Model.ID)">@WorkAssignments.listlink</a> 
        </li>
        @if (Html.IsInRole(new[]{"Administrator", "Manager", "PhoneDesk"}) && Model.dateTimeofWork >= DateTime.Today || Html.IsInRole(new[] { "Administrator", "Manager" }))
        {
            <li>
                <a href="/WorkAssignment/Create?WorkOrderID=@(Model.ID)&_description=@(Model.description)" 
                    class="workAssignCreateTab CreateTab" 
                    id="wact-@(Model.ID)">@WorkAssignments.createlink</a>
             </li>
        }
    </ul>
    <div id="workAssignList-wo-@(Model.ID)">
        <table id="workAssignTable-wo-@(Model.ID)" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>WorkOrderID</th>
                    <th>ID#</th>
                    <th>@WorkAssignment.englishLevelID</th>
                    <th>@WorkAssignment.skillID</th>
                    <th>@WorkAssignment.hourlyWage</th>
                    <th>@WorkAssignment.hours</th>
                    <th>@WorkAssignment.hourRange</th>
                    <th>@WorkAssignment.days</th>
                    <th>@WorkAssignment.description</th>
                    <th>@Record.dateupdated</th>
                    <th>@Record.updatedby</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        ////////////////////////////////////////////////////////////////
        //
        // Create Work Assignment tabs
        //
        if (typeof $('#workOrderTabs_@(Model.EmployerID)') != "undefined") {
            $('#workOrderTabs_@(Model.EmployerID)').unbind('.M_asmt_@(Model.ID)');
        }

        $('#workAssignTabs-wo-@(Model.ID)').mUI('createTabs', {
            prefix: "ui-tabs-workAssign-wo-@(Model.ID)-", 
            defaultTab: 1,
            formLevel: 3,
            changeConfirm: "@Shared.changeConfirm",
            changeTitle: "@Shared.changeTitle",
            updateDatatable: true
        });
        ////////////////////////////////////////////////////////////////
        //
        // Create Work Assignment table
        //
        $('#activateWorkOrderButton-@(Model.ID)').hide();
        jqrfyTable({
            table: $('#workAssignTable-wo-@(Model.ID)'), 
            tab: $('#workAssignTabs-wo-@(Model.ID)'),
            options: {
                "bPaginate": true,
                "bLengthChange": true,
                "aaSorting": [[7, 'desc']],
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "bServerSide": true,
                "sAjaxSource": "/WorkAssignment/AjaxHandler",
                "oLanguage": datatable_lang_@(currentCulture.TwoLetterISOLanguageName),
                "bProcessing": true,
                "aoColumns": [
                                { "mDataProp": "tabref", "bSearchable": false, "bSortable": false, "bVisible": false },
                                { "mDataProp": "tablabel", "bSearchable": false, "bSortable": false, "bVisible": false },
                                { "mDataProp": "WOID", "bSearchable": false, "bSortable": false, "bVisible": false }, 
                                { "mDataProp": "pWAID"},
                                { "mDataProp": "englishlevel"}, 
                                { "mDataProp": "skill"}, 
                                { "mDataProp": "hourlywage"}, 
                                { "mDataProp": "hours"}, 
                                { "mDataProp": "hourRange"},
                                { "mDataProp": "days"},
                                { "mDataProp": "description"},
                                { "mDataProp": "dateupdated"},
                                { "mDataProp": "updatedby" }
                            ],
                "aoSearchCols" : [null, null, { "sSearch": "@(Model.ID)" }, null, null, null, null, null, null, null, null, null],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) { 
                                        //show activation button (need at least 1 assignment to activate)
                                        switch (aData['asmtStatus'])
                                        {
                                            // magic strings in WorkAssignmentController
                                            case "active": $(nRow).addClass('statusBlue'); break;
                                            case "completed": $(nRow).addClass('statusGreen'); break;
                                            case "incomplete": $(nRow).addClass('statusOrange'); break;
                                            case "orphaned": $(nRow).addClass('statusYellow'); break;
                                            case "cancelled": $(nRow).addClass('statusRed'); break;
                                            default: $(nRow).addClass('statusBlue');
                                        }     
                                        $('#activateWorkOrderButton-@(Model.ID)').show();

                                        return nRow;
                                },
                "fnServerDataExtra": function() { return [{ "name": "showPending", "value": true}]}
            }
        });
        ////////////////////////////////////////////////////////////////////////////
        //
        // Work Order Tab SELECT events (added from Work Assignment Index script)
        //
        if (typeof $('#workOrderTabs_@(Model.EmployerID)') != "undefined") {
            $('#workOrderTabs_@(Model.EmployerID)').bind("tabsselect.M_asmt_@(Model.ID)", function (event, ui) {
                //hide work order activation button. If assignment row exists, it will show button.
                $('#activateWorkOrder-@(Model.ID)').hide();
            });
        }   
    });
</script>