@model Machete.Domain.WorkOrder
@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}
<div id="workAssignTabs-wo-@(Model.ID)">
    <ul>
        <li>
            <a href="#workAssignList-wo-@(Model.ID)" 
                class="workAssignListTab ListTab" 
                id="walt-@(Model.ID)">@WorkAssignments.listlink</a> 
        </li>
        @if ((Html.IsInRole(Html.Role_AMP()) && Model.dateTimeofWork >= DateTime.Today) || Html.IsInRole(Html.Role_AM()))
        {
            <li>
                <a href="/WorkAssignment/Create?WorkOrderID=@(Model.ID)" 
                    class="workAssignCreateTab CreateTab" 
                    id="wact-@(Model.ID)">@WorkAssignments.createlink</a>
             </li>
        }
    </ul>
    <div id="workAssignList-wo-@(Model.ID)">
        <table id="workAssignTable-wo-@(Model.ID)" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>WorkOrderID</th>
                    <th>ID#</th>
                    <th>@WorkAssignment.englishLevelID</th>
                    <th>@WorkAssignment.skillID</th>
                    <th>@WorkAssignment.hourlyWage</th>
                    <th>@WorkAssignment.hours</th>
                    <th>@WorkAssignment.days</th>
                    <th>@WorkAssignment.description</th>
                    <th>@Record.dateupdated</th>
                    <th>@Record.updatedby</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        ////////////////////////////////////////////////////////////////
        //
        // Create Work Assignment tabs
        //
        if (typeof $('#workOrderTabs_@(Model.EmployerID)') != "undefined") {
            $('#workOrderTabs_@(Model.EmployerID)').unbind('.M_asmt_@(Model.ID)');
        }

        $('#workAssignTabs-wo-@(Model.ID)').mUI('createTabs', {
            prefix: "ui-tabs-workAssign-wo-@(Model.ID)-", 
            defaultTab: 1,
            formLevel: 3 
        });
        ////////////////////////////////////////////////////////////////
        //
        // Create Work Assignment table
        //
        $('#activateWorkOrderButton-@(Model.ID)').hide();
        jqrfyTable($('#workAssignTable-wo-@(Model.ID)'), $('#workAssignTabs-wo-@(Model.ID)'),
        {
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[7, 'desc']],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/WorkAssignment/AjaxHandler",
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
            "bProcessing": true,
            "aoColumns": [
                            { "mDataProp": "tabref", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "tablabel", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "WOID", "bSearchable": false, "bSortable": false, "bVisible": false }, 
                            { "mDataProp": "pWAID"},
                            { "mDataProp": "englishlevel"}, 
                            { "mDataProp": "skill"}, 
                            { "mDataProp": "hourlywage"}, 
                            { "mDataProp": "hours"}, 
                            { "mDataProp": "days"},
                            { "mDataProp": "description"},
                            { "mDataProp": "dateupdated"},
                            { "mDataProp": "updatedby" }
                        ],
            "aoSearchCols" : [null, null, { "sSearch": "@(Model.ID)" }, null, null, null, null, null, null, null, null, null],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) { 
                                    //show activation button (need at least 1 assignment to activate)
                                    $('#activateWorkOrderButton-@(Model.ID)').show();
                                    if (aData['WID'] > 0 && aData['WSIID'] > 0 && aData['status']) { // assigned
                                        $(nRow).addClass('statusGreen');
                                    } 
                                    if (aData['WID'] == 0 && aData['status'] == @(Lookups.getSingleEN("orderstatus", "Completed"))) { // Unassigned
                                        $(nRow).addClass('statusOrange');
                                    } 
                                    if (aData['WID'] > 0 && aData['WSIID'] == 0 && aData['status'] == @(Lookups.getSingleEN("orderstatus", "Completed"))) { // orphaned
                                        $(nRow).addClass('statusYellow');
                                    }
                                    if (aData['status'] == @(Lookups.getSingleEN("orderstatus", "Cancelled"))) { // cancelled
                                        $(nRow).addClass('statusRed');
                                    }
                                    return nRow;
                            },
            "fnServerData": function ( sSource, aoData, fnCallback ) {
			    /* Add some extra data to the sender */
                aoData.push( { "name": "showPending", "value": true});
			    $.getJSON( sSource, aoData, function (json) { 
				    /* Do whatever additional processing you want on the callback, then tell DataTables */
				    fnCallback(json)
			    } );
		    }
        });
        ////////////////////////////////////////////////////////////////////////////
        //
        // Work Order Tab SELECT events (added from Work Assignment Index script)
        //
        if (typeof $('#workOrderTabs_@(Model.EmployerID)') != "undefined") {
            $('#workOrderTabs_@(Model.EmployerID)').bind("tabsselect.M_asmt_@(Model.ID)", function (event, ui) {
                //hide work order activation button. If assignment row exists, it will show button.
                $('#activateWorkOrder-@(Model.ID)').hide();
            });
        }   
    });
</script>