@model Machete.Web.ViewModel.EmailView
@using Machete.Web.Resources
@{  
    string recType = "email";
    string idPrefix = recType + Model.ID + "-";
}
@using (Html.BeginForm("Create", "Email", FormMethod.Post, 
                        new { @id = "emailCreateForm" }))
{
    <div>
        <input type="submit" id="@(idPrefix)SaveBtn" class="formButton saveBtn" 
               value="@Emails.createsubmit"  tabindex="9"/>
        <input type="button" id="@(Model.idPrefix)attachWO" class="formButton" value="$$$attach WO" />

    </div>
    @Html.ValidationSummary(true)
    @Html.EditorForModel()

}
<script type="text/javascript">
    $(document).ready(function () {
        $('.formButton').button();
        var emailCreateForm = $("#emailCreateForm")
        $.validator.unobtrusive.parseDynamicContent('#emailCreateForm');
        $('#emailName').focus();
        // Email Create submit event

        emailCreateForm.mUI('formSubmit', {
            recType: "@(recType)", //for add_rectab
            create: true,
            formLevel: 1
        });
        //
        // machete UI detect changes on forms in tabs   
        emailCreateForm.mUI('formDetectChanges', {
            recType: "@(recType)",
            formLevel: 1,
            changeConfirm: "@(Shared.changeConfirm)",
            changeTitle: "@(Shared.changeTitle)"
        });
        $('#@(Model.idPrefix)attachWO').mUI('btnAttachWorkOrder', {
            url: '/WorkOrder/View/@(Model.woid)',
            field: $('#@(Model.idPrefix)attachment')
        });
    });
</script>