@model Machete.Domain.Email

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Email</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.emailFrom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emailFrom)
            @Html.ValidationMessageFor(model => model.emailFrom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emailTo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emailTo)
            @Html.ValidationMessageFor(model => model.emailTo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.subject)
            @Html.ValidationMessageFor(model => model.subject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.body)
            @Html.ValidationMessageFor(model => model.body)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.transmitAttempts)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.transmitAttempts)
            @Html.ValidationMessageFor(model => model.transmitAttempts)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastAttempt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastAttempt)
            @Html.ValidationMessageFor(model => model.lastAttempt)
        </div>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.datecreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.datecreated)
            @Html.ValidationMessageFor(model => model.datecreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dateupdated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateupdated)
            @Html.ValidationMessageFor(model => model.dateupdated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Createdby)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Createdby)
            @Html.ValidationMessageFor(model => model.Createdby)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Updatedby)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Updatedby)
            @Html.ValidationMessageFor(model => model.Updatedby)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
