@model Machete.Domain.Person
@using Machete.Web.Resources
@{
    ViewBag.Title = Persons.deletetitle;
}
<h2>@Persons.deletetitle</h2>
<p>
    @Html.ActionLink(Persons.indexreturnlink, "Index")
</p>
<fieldset>
    <legend>@Persons.boxlegend</legend>
    @Html.EditorForModel()
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input id="confirm_button" type="button" value="@Persons.deletesubmit" />
    </p>
}
<script type="text/javascript">
    $().ready(function () {
        $('.editor-field').children().attr('disabled', 'disabled');
        $.alerts.okButton = "@Persons.deletesubmit";
        $("#confirm_button").click(function () {
            jConfirm('@Persons.deleteconfirmation',
                     '@Persons.deletetitle',
                     function (r) {
                         if (r == true) { $('form').submit(); }
                     }
                    );
        });
    });
</script>