@model Machete.Domain.Person

@{
    ViewBag.Title = @Machete.Web.Resources.Persons.detailstitle;
}

<h2>@Machete.Web.Resources.Persons.detailstitle</h2>

<fieldset>
    <legend>@Machete.Web.Resources.Persons.boxlegend</legend>

    <div class="display-label">firstname1</div>
    <div class="display-field">@Model.firstname1</div>

    <div class="display-label">firstname2</div>
    <div class="display-field">@Model.firstname2</div>

    <div class="display-label">lastname1</div>
    <div class="display-field">@Model.lastname1</div>

    <div class="display-label">lastname2</div>
    <div class="display-field">@Model.lastname2</div>

    <div class="display-label">address1</div>
    <div class="display-field">@Model.address1</div>

    <div class="display-label">address2</div>
    <div class="display-field">@Model.address2</div>

    <div class="display-label">city</div>
    <div class="display-field">@Model.city</div>

    <div class="display-label">state</div>
    <div class="display-field">@Model.state</div>

    <div class="display-label">zipcode</div>
    <div class="display-field">@Model.zipcode</div>

    <div class="display-label">phone</div>
    <div class="display-field">@Model.phone</div>

    <div class="display-label">gender</div>
    <div class="display-field">@Model.gender</div>

    <div class="display-label">genderother</div>
    <div class="display-field">@Model.genderother</div>
</fieldset>
<p>
    @Html.ActionLink(@Machete.Web.Resources.Persons.editlink, "Edit", new { id = Model.ID }) |
    @Html.ActionLink(@Machete.Web.Resources.Persons.indexreturnlink, "Index")
</p>

