@model Machete.Domain.Person
@using Machete.Web.Resources
@using Machete.Web.Helpers
@{
    string recType = "person";
    string idPrefix = recType + "-";
}
<div id="personPartsTabs">
    <ul>
        <li><a href="#personGeneralTabRef" id="personGeneralTab" class="GeneralTab">@Machete.Web.Resources.Persons.basicinfo</a></li>
        @if (Model.Worker == null) {
            <li><a href="/Worker/Create?ID=@(Model.ID)" id="workerCreateTab" class="CreateTab">@Machete.Web.Resources.Persons.createworker</a></li>        
        }
        else
        {
            <li><a href="/Worker/Edit/@(Model.ID)" id="workerEditTab">@Machete.Web.Resources.Persons.workerinfo</a></li>
        }
    </ul>
    <div id="personGeneralTabRef">
        @using (Html.BeginForm("Edit", "Person", FormMethod.Post,
                    new { @class = "edittab-form", @id = "Persontab-" + Model.ID }))
        {

            <input type="button" value="@Persons.viewlink" class="formButton" id="view-@Model.ID" />
            <input type="submit" value="@Persons.editsubmit" class="formButton"/>
            if (Html.IsInRole(Html.Role_AM()))
            {
                <input id="delete-@Model.ID" type="button" value="@Persons.deletesubmit" 
                        class="formButton deleteButton" />
            }
            <br />
            @Html.ValidationSummary(true)
            @Html.EditorForModel()
    
        }
        @if (Html.IsInRole(Html.Role_AM()))
        {
            using (Html.BeginForm("Delete", "Person", FormMethod.Post,
                                    new { @class = "edittab-form", @id = "DeletePerson-" + Model.ID }))
            {
                @Html.HiddenFor(model => model.ID);
            }
        }
    </div>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var personID = "@Model.ID";
        $('#view-@Model.ID').click(function () {
            printwindow = window.open('/Person/View/@Model.ID');
            //printwindow.print();
        });
        $('.formButton').button();
        $('#firstname1').focus();
        //$('#edittab-form').ajaxForm();
        //        $("#Persontab-"+ "@Model.ID").submit(function (e) {
        //            if ($("#edittab-form").valid()) {
        //                $.post($(this).attr("action"), $(this).serialize());
        //            }
        //            //TODO: javascript...need to deal with ajax error
        //            e.preventDefault();
        //        });
        $.validator.unobtrusive.parseDynamicContent('.edittab-form');
        $.alerts.okButton = "@Persons.deletesubmit";
        $("#delete-@Model.ID").click(function () {
            jConfirm('@Persons.deleteconfirmation',
                     '@Persons.deletetitle',
                     function (r) {
                         if (r == true) {
                             $('#DeletePerson-@Model.ID').submit();
                         }
                     }
             );
        });
        //
        //
        //
        jqrfyTabs($('#personPartsTabs'), "ui-tabs-personParts-");
    });
</script>