@model Machete.Domain.Person
@using Machete.Web.Resources
@using Machete.Web.Helpers
@{
    string recType = "person";
    string idPrefix = recType + Model.ID + "-";
}
<div id="@(idPrefix)personPartsTabs">
    <ul>
        <li><a href="#personGeneralTabRef" id="personGeneralTab" class="GeneralTab">@Machete.Web.Resources.Persons.basicinfo</a></li>
        @if (Model.Worker == null)
        {
            <li><a href="/Worker/Create?ID=@(Model.ID)" id="workerCreateTab" class="CreateTab">@Machete.Web.Resources.Persons.createworker</a></li>
        }
        @if (Html.IsRoleAllowed("Worker.Edit.WorkerInfo.ShowTab") && Model.Worker != null)
        {
            <li><a href="/Worker/Edit/@(Model.ID)" id="workerEditTab">@Machete.Web.Resources.Persons.workerinfo</a></li>
        }
        @if (Html.IsInRole(Html.Role_AM()))
        {
            <li><a href="#eventList" id="eventListTab" class="ListTab">@Events.eventtab</a> </li>
            <li><a href="/Event/Create?PersonID=@(Model.ID)" id="eventCreateTab" class="CreateTab">@Events.createlink</a></li>
        }
        @if (Html.IsInRole(Html.Role_T()) && Model.Worker != null)
        {
            <li><a href="#actJoinList" id="actJoinTab" class="ListTab">@Activities.actJoinTab</a></li>
            <li><a hidden href="/Worker/Edit/@(Model.ID)" id="workerEditTab">@Machete.Web.Resources.Persons.workerinfo</a></li>
        }
    </ul>
    <div id="personGeneralTabRef">
        @using (Html.BeginForm("Edit", "Person", FormMethod.Post,
                    new { @class = "edittab-form", @id = "Persontab-" + Model.ID }))
        {

            <input type="button" value="@Persons.viewlink" class="formButton" id="view-@Model.ID" />
            <input type="button" onclick="FindPersonDuplicate()" value="@Persons.editsubmit" class="formButton saveBtn" />
            if (Html.IsInRole(Html.Role_AM()))
            {
                <input id="delete-@Model.ID" type="button" value="@Persons.deletesubmit"
                       class="formButton deleteButton" />
            }
            <br />
            @Html.ValidationSummary(true)
            @Html.EditorForModel()

        }
        @if (Html.IsInRole(Html.Role_AM()))
        {
            using (Html.BeginForm("Delete", "Person", FormMethod.Post,
                                    new { @class = "edittab-form", @id = "DeletePerson-" + Model.ID }))
            {
                @* TODO: create UI tests, remove generic "ID" label *@
                @Html.HiddenFor(model => model.ID);
            @Html.Hidden("personID", Model.ID);
            }
        }
    </div>
    @Html.Partial("EventIndex", Model)
    @if (Html.IsInRole(Html.Role_T()) && Model.Worker != null)
    {
        @Html.Partial("ActivityJoinIndex", Model)
    }
</div>

<div id="duplicatesDialog" title="@(Machete.Web.Resources.Shared.DuplicatePersonsTitle)">
</div>

<script type="text/javascript">
    $(document).ready(function () {
       // setFormData(false);
        var personEditForm = $('#Persontab-@Model.ID');
        var personPartTabs = $('#@(idPrefix)personPartsTabs');
        var personDeleteForm = $('#DeletePerson-@Model.ID');
        var personDeleteBtn = $("#delete-@Model.ID");
        $('#view-@Model.ID').click(function () {
            printwindow = window.open('/Person/View/@Model.ID');
        });
        $('.formButton').button();
        $('#firstname1').focus();
        $.validator.unobtrusive.parseDynamicContent(personEditForm);
        //
        //
        personPartTabs.mUI('createTabs', {
            prefix: "ui-tabs-personParts-",
            formLevel: 1,
            changeConfirm: "@(Machete.Web.Resources.Shared.changeConfirm)",
            changeTitle: "@(Machete.Web.Resources.Shared.changeTitle)"
        });
        //
        // delete button confirmation
        personDeleteBtn.mUI('formClickDelete', {
            ok: "@Persons.deletesubmit",
            confirm: '@Persons.deleteconfirmation',
            title: '@Persons.deletetitle',
            form: personDeleteForm,
            altClose: $("#@(idPrefix)CloseBtn")
        });
        //
        // edit form submit
        personEditForm.mUI('tabFormSubmit', {
            create: false,
            selectTab: 0,
            formLevel: 1
        });
        personEditForm.mUI('formDetectChanges', {
            recType: "@(recType)",
            formLevel: 1,
            changeConfirm: "@(Machete.Web.Resources.Shared.changeConfirm)",
            changeTitle: "@(Machete.Web.Resources.Shared.changeTitle)"
        });

    });


    var duplicatesDialog = $("#duplicatesDialog").dialog({
        autoOpen: false,
        height: 400,
        width: 400,
        modal: true,
        closeOnEscape: false,
        buttons: {
            "Cancel": function () { $(this).dialog("close"); },
            "Save": function () { $(this).dialog("close"); saveEditedPerson(); }
        }
    });

    function FindPersonDuplicate() {
        var form = $('#Persontab-@Model.ID');
        if (form.valid()) {
            $.ajax({
                url: "/Person/GetDuplicates",
                data: {
                    firstname: $('#person'+@Model.ID+'-firstname1')[0].value,
                    lastname: $('#person'+@Model.ID+'-lastname1')[0].value,
                    phone: $('#person' +@Model.ID +'-phone')[0].value
                },
                success: onSuccessFindPersonDuplicate,
                dataType: "json"
            });
        }
        else {
            form.submit();
        }
    }

    function CreateHtmlText(duplicates) {
        var dialogHtmlText = '<p>@(Machete.Web.Resources.Shared.DuplicatePersonsMessage)</p>'
            + '<table class="duplicatePersons" style="width:100%" border="1" cellpadding="2">'
            + '<tr>'
            + '<th>@(Machete.Web.Resources.Persons.firstname)</th>'
            + '<th>@(Machete.Web.Resources.Persons.lastname)</th>'
            + '<th>@(Machete.Web.Resources.Persons.phone)</th>'
            + '</tr>';

        for (var i = 0; i < duplicates.length; i++) {
            if (duplicates[i].ID == '@Model.ID') { continue; }
            if (duplicates[i].Phone != null) {
                dialogHtmlText += '<tr>'
                    + '<td>' + duplicates[i]["First Name"] + '</td>'
                    + '<td>' + duplicates[i]["Last Name"] + '</td>'
                    + '<td>' + duplicates[i]["Phone"] + '</td> </tr>';
            } else {
                dialogHtmlText += '<tr>'
                   + '<td>' + duplicates[i]["First Name"] + '</td>'
                   + '<td>' + duplicates[i]["Last Name"] + '</td>'
                   + '<td>   N/A    </td> </tr>';
            }
        }
        dialogHtmlText += '</table> <p></p> <p></p>@(Machete.Web.Resources.Shared.SaveMessageDuplicatePersons)</p>';

        return dialogHtmlText;
    }

    function onSuccessFindPersonDuplicate(result) {
        if (result.duplicates.length > 1) {

            duplicatesDialog.dialog("open");
            duplicatesDialog.html(CreateHtmlText(result.duplicates));
        }
        else {
            saveEditedPerson();

        }
    }

    function saveEditedPerson() {
        var form = $('#Persontab-@Model.ID');
        if (form.valid()) {
            form.submit();
        }
    }


</script>