@using Machete.Web.Helpers
@using Machete.Web.Resources
@using Machete.Domain.Resources
@{
    ViewBag.Title = Persons.indextitle;
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
    string recType = "person";
}
<div id="personTabs" class="ExclusiveTab">
    <ul>
        <li><a href="#personList" id="personListTab" class="ListTab">@Persons.listlink</a> </li>
        <li><a href="/Person/Create" id="personCreateTab" class="CreateTab">@Persons.createlink</a></li>
    </ul>
    <div id="personList">
        <table id="personTable" class="display">
            <thead>
                <tr>
                    <th class="tb-col-hidden">ID</th>
                    <th class="tb-col-hidden">LABEL</th>
                    <th>@Person.active</th>
                    <th>@Person.firstname1</th>
                    <th>@Person.firstname2</th>
                    <th>@Person.lastname1</th>
                    <th>@Person.lastname2</th>
                    <th>@Person.phone</th>
                    <th>@Record.dateupdated</th>
                    <th>@Record.updatedby</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        jqrfyTable($('#personTable'), $('#personTabs'),
        {
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[8, 'desc']],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/Person/AjaxHandler", 
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
            "bProcessing": true,
            "aoColumns": [
                { "bSearchable": false, "bSortable": false, "bVisible": false },
                { "bSearchable": false, "bSortable": false, "bVisible": false },
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                { "sName": "Updatedby", "bSortable": false }
            ],            
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).attr('edittabref', aData[0]);
                $(nRow).attr('edittablabel', aData[1]);
                return nRow;
            }                
        }, null, "@(recType)");
        $('#personTable_filter input').attr('ID','personSearchBox');
        $('#personTabs').mUI("createTabs", {prefix: "ui-tabs-person-"} );
    });
</script>
