@model Machete.Web.Models.HirerRegisterViewModel
@{
    ViewBag.Title = @Machete.Web.Resources.ValidationStrings.HirerRegisterTitle;
}
<div class="account-background">
    <h2>@Machete.Web.Resources.ValidationStrings.HirerRegister</h2>
    @Html.Raw(System.Web.Configuration.WebConfigurationManager.AppSettings["HirerRegisterInstructions_EN"]) @Html.ActionLink(@Machete.Web.Resources.ValidationStrings.signIn, "Login") @Machete.Web.Resources.ValidationStrings.haveAccount
    @Html.Raw(System.Web.Configuration.WebConfigurationManager.AppSettings["WorkCenterDescription_EN"]) 
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, @Machete.Web.Resources.ValidationStrings.RegisterValSummary)
        <div>
            <fieldset>
                <legend>Account Creation</legend>
                <div class="tb-table">
                    <div class="tb-row">
                        <div class="tb-label">
                            @Html.LabelFor(m => m.Email)
                        </div>
                        <div class="tb-field">
                            @Html.TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="tb-row">
                        <div class="tb-label">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div class="tb-field">
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="tb-label">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                        <div class="tb-field">
                            @Html.PasswordFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                </div>
                <p>
                    <input type="submit" value="@Machete.Web.Resources.ValidationStrings.create" />
                </p>
            </fieldset>
        </div>
    }
</div>