@model Machete.Web.ViewModel.EmailView
@using Machete.Web.Helpers
@using Machete.Web.Resources
@using Machete.Web.ViewModel

@Html.HiddenFor(model => model.ID, new { @class = "hiddenRecID", id = Model.idPrefix + "EMAILID" })
@Html.HiddenFor(model => model.woid, new { @class = "hiddenRecID", id = Model.idPrefix + "WOID" })

<div >
    <input type="button" id="@(Model.idPrefix)attachWO" class="formButton" value="@Emails.attachWO" />
    <input type="button" id="@(Model.idPrefix)reattachWO" class="formButton" value="@Emails.reattachWO" />
    <input type="button" id="@(Model.idPrefix)clearWO" class="formButton" value="@Emails.clearWO" />
    <input type="button" id="@(Model.idPrefix)viewWO" class="formButton" value="@Emails.viewWO" />
</div>
<div class="tb-table" style="float: left; clear: left;">
    @*    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.emailFrom, 
            new {tabindex = "1", id=idPrefix + "emailFrom", @class="emailField email"})
    </div>*@
    <div class="tb-row">
        <div class="tb-label">
            @Html.Label(Emails.emailStatus)
        </div>
        @if (Html.IsInRole(Html.Role_AM()) && Model.editable)
        {
            @Html.mUIDropDownListFor(model => model.statusID, Model.def.getSelectList(Machete.Domain.LCategory.emailstatus), new { @id = Model.idPrefix + "status" })
        }
        else
        { 
            <div class="tb-header">
                @Model.status
                @Html.HiddenFor(model => model.statusID, new { @id = Model.idPrefix + "status" })
            </div>
        }
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.Label(Emails.templateChooser)
        </div>
        <div class="tb-field">
            <select name="templateChooser" id="@(Model.idPrefix + "templateChooser")"
                    tabindex="1"
                    class="">
                <option value="">@Shared.choose</option>
                @foreach (var item in Model.templates)
                {
                    <option value="@(item.Value)" template="@(item.template)">@item.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="tb-row">
        @*@Html.mUITableLabelAndTextBoxFor(model => model.attachment, new { @id = Model.idPrefix + "attachment" })*@
        @Html.HiddenFor(m => m.attachment, new { @id = Model.idPrefix + "attachment" })
    </div>
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.emailTo,
            new { tabindex = "1", id = Model.idPrefix + "emailTo", @class = "emailField" })
    </div>
    <!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(m => m.subject,
            new { tabindex = "1", id = Model.idPrefix + "subject", @class = "emailField" })
    </div>
    <div class="tb-row">
        @Html.mUITableDescLabelFor(m => m.body)
        @Html.TextAreaFor(m => m.body, new { tabindex = "1", id = Model.idPrefix + "body", @class = "emailField" })
    </div>
</div>

<div style="clear: left;"></div>
@Html.Partial("ManagerInfo", Model)


<script type="text/javascript">
    $(document).ready(function () {
        var selectDropDown = $('#@(Model.idPrefix + "templateChooser")');
        var attachmentURL = '/WorkOrder/ViewForEmail/@(Model.woid)';
        console.log("attachmentURL: "+attachmentURL);
        selectDropDown.mUI('selectDDPopulatesField', {
            attrName: 'template',
            target: $('#@(Model.idPrefix + "body")')
        });
        $('#@(Model.idPrefix)attachWO').mUI('btnAttachWorkOrder', {
            url: attachmentURL,
            woid: @(Model.woid.GetValueOrDefault()),
            field: $('#@(Model.idPrefix)attachment'),
            reattach: $('#@(Model.idPrefix)reattachWO'),
            clear: $('#@(Model.idPrefix)clearWO'),
            view: $('#@(Model.idPrefix)viewWO')
        });
    });
</script>
