@model Machete.Domain.Email
@using Machete.Web.Helpers
@using Machete.Web.Resources

@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
    string recType = "email";
    string idPrefix = recType + Model.ID + "-";
}
@Html.HiddenFor(model => model.ID, new { @class="hiddenRecID", id=idPrefix + "ID"})
<div class="tb-table" style="float: left; clear: left;">
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.emailFrom, 
            new {tabindex = "1", id=idPrefix + "emailFrom", @class="emailField email"})
    </div>
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.emailTo, 
            new {tabindex = "1", id=idPrefix + "emailTo", @class="emailField email"})
    </div><!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(m => m.subject,
            new {tabindex = "1", id=idPrefix + "subject", @class="emailField"})
    </div>
    <div class="tb-row">
        @Html.mUITableLabelFor(m => m.body)
        @Html.TextAreaFor(m => m.body, new {tabindex = "1", id=idPrefix + "body", @class="emailField"})
    </div>
</div>

<div style="clear: left;"></div>
@Html.Partial("ManagerInfo", Model)
@Html.Partial("AdministratorInfo", Model)


<script type="text/javascript">
    $(document).ready(function () {

    });
</script>