@model Machete.Domain.Employer
@using Machete.Web.Helpers
@using Machete.Web.Resources

@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
    string recType = "employer";
    string idPrefix = recType + Model.ID + "-";
}
@Html.HiddenFor(model => model.ID, new { @class="hiddenRecID", id=idPrefix + "ID"})
<div class="tb-table" style="float: left; clear: left;">
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.name, new {tabindex = "1", id=idPrefix + "name"})
        @Html.mUITableLabelFor(model => model.business)
        @Html.mUIDropDownYesNoFor(model => model.business, new { tabindex = "2", id = idPrefix + "business" }) 
    </div><!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.address1, new { tabindex = "1", id = idPrefix + "address1" })
        @Html.mUITableLabelAndTextBoxFor(model => model.phone, new { tabindex = "2", id = idPrefix + "phone" })
    </div><!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.address2, new { tabindex = "1", id = idPrefix + "address2" })
        @Html.mUITableLabelAndTextBoxFor(model => model.cellphone, new { tabindex = "2", id = idPrefix + "cellphone" })
    </div><!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.city, new { tabindex = "1", id = idPrefix + "city" })
        @Html.mUITableLabelAndTextBoxFor(model => model.email, new { tabindex = "2", id = idPrefix + "email" })
    </div>
    <!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.state, new { tabindex = "1", id = idPrefix + "state" })
        @Html.mUITableLabelFor(model => model.referredby)
        @Html.mUIDropDownListFor(model => model.referredby, new SelectList(Lookups.emplrreference.get(CI.TwoLetterISOLanguageName), "Value", "Text", Model.referredby), new { tabindex = "2", id = idPrefix + "referredby" })
    </div>
    <!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.zipcode, new { tabindex = "1", id = idPrefix + "zipcode" })
        @Html.mUITableLabelAndTextBoxFor(model => model.referredbyOther, new { tabindex = "2", id = idPrefix + "referredbyOther" })
    </div>
    <div class="tb-row">
        @Html.mUITableLabelFor(model => model.active)
        @Html.mUIDropDownYesNoFor(model => model.active, new { tabindex = "1", id = idPrefix + "active" })
        @Html.mUITableLabelFor(model => model.blogparticipate)
        @Html.mUIDropDownYesNoFor(model => model.blogparticipate, new { tabindex = "2", id = idPrefix + "blogparticipate" })
    </div>
    <div class="tb-row">
        @Html.mUITableLabelFor(model => model.returnCustomer)
        @Html.mUIDropDownYesNoFor(model => model.returnCustomer, new { tabindex = "1", id = idPrefix + "returnCustomer" })
        @Html.mUITableLabelFor(model => model.receiveUpdates)
        @Html.mUIDropDownYesNoFor(model => model.receiveUpdates, new { tabindex = "2", id = idPrefix + "blogparticipate" })
    </div>
    <div class="tb-row">
        @Html.mUITableLabelFor(model => model.onlineSource)
        @Html.mUIDropDownYesNoFor(model => model.onlineSource, new { tabindex = "1", id = idPrefix + "onlineSource" })

    </div>
</div>
<div class="tb-table" style="float: left;">
    <div class="tb-row">
        <div class="tb-label desc-label">
            @Html.LabelFor(model => model.notes)
        </div>
        <div class="tb-field desc-field">
            @Html.TextAreaFor(model => model.notes, new { tabindex = "3", @class="desc-field" , id = idPrefix + "notes"})
            @Html.ValidationMessageFor(model => model.notes)
        </div>
    </div>
</div>
<div style="clear: left;"></div>
@Html.Partial("ManagerInfo", Model)
@Html.Partial("AdministratorInfo", Model)


<script type="text/javascript">
    $(document).ready(function () {
       //$("#phone").mask("999-999-9999", { placeholder: "" });
        //$("#cellphone").mask("999-999-9999", { placeholder: "" });

    });
</script>