@using Machete.Domain
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization
@model Machete.Web.ViewModel.Person

@using Machete.Web.Resources;

@{
    var httpContext = ViewContext.HttpContext;
    var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
    var currentUrl = UriHelper.BuildRelative(httpContext.Request.PathBase, httpContext.Request.Path, httpContext.Request.QueryString);

    string recType = "person";
    string idPrefix = recType + Model.ID + "-";
}
<!--The table for the first name and last name-->
<div class="tb-table">
    <div id="namerow1" class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.firstname1)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.firstname1, new { tabindex = "1", @class="personEditor", id=idPrefix + "firstname1"})
            @Html.ValidationMessageFor(model => model.firstname1)
        </div>
        <div class="tb-label">
            @Html.LabelFor(model => model.firstname2)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.firstname2, new { tabindex = "9", @class = "personEditor", id=idPrefix + "firstname2" })
            @Html.ValidationMessageFor(model => model.firstname2)
        </div>
    </div>
    <div id="namerow2" class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.lastname1)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.lastname1, new { tabindex = "2", @class = "personEditor", id=idPrefix + "lastname1" })
            @Html.ValidationMessageFor(model => model.lastname1)
        </div>
        <div class="tb-label">
            @Html.LabelFor(model => model.lastname2)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.lastname2, new { tabindex = "10", @class = "personEditor", id=idPrefix + "lastname2"})
            @Html.ValidationMessageFor(model => model.lastname2)
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.address1)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.address1, new { tabindex = "3", @class = "personEditor", id=idPrefix + "address1" })
            @Html.ValidationMessageFor(model => model.address1)
        </div>
        <div class="tb-label">
            @Html.LabelFor(model => model.nickname)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.nickname, new { tabindex = "11", @class = "personEditor", id=idPrefix + "nickname" })
            @Html.ValidationMessageFor(model => model.nickname)
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.address2)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.address2, new { tabindex = "4", @class = "personEditor", id=idPrefix + "address2" })
            @Html.ValidationMessageFor(model => model.address2)
        </div>
        <div class="tb-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.phone, new { tabindex = "12", @class = "personEditor", id=idPrefix + "phone" })
            @Html.ValidationMessageFor(model => model.phone)
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.city)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.city, new { tabindex = "5", @class = "personEditor", id=idPrefix + "city" })
            @Html.ValidationMessageFor(model => model.city)
        </div>
        <div class="tb-label">
            @Html.LabelFor(model => model.cellphone)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.cellphone, new { tabindex = "13", @class = "personEditor", id=idPrefix + "cellphone" })
            @Html.ValidationMessageFor(model => model.cellphone)
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.state)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.state, new { tabindex = "6", @class = "personEditor", id=idPrefix + "state" })
            @Html.ValidationMessageFor(model => model.state)
        </div>
        <div class="tb-label">
            @Html.LabelFor(model => model.gender)
        </div>
        <div class="tb-field">
            @Html.DropDownListFor(model => model.gender, 
                Model.def.getSelectList(LCategory.gender), 
                Shared.choose, new { tabindex = "14", id=idPrefix + "gender" })
            @Html.ValidationMessageFor(model => model.gender)
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.zipcode)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.zipcode, new { tabindex = "7", @class = "personEditor", id = idPrefix + "zipcode" })
            @Html.ValidationMessageFor(model => model.zipcode)
        </div>
        <div class="tb-label">
            @Html.LabelFor(model => model.genderother)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.genderother, new { tabindex = "15", @class = "personEditor", id=idPrefix + "genderOther" })
            @Html.ValidationMessageFor(model => model.genderother)
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.email, new { tabindex = "8", @class = "personEditor", id=idPrefix + "email" })
            @Html.ValidationMessageFor(model => model.email)
        </div>
        <div class="tb-label">
            @Html.LabelFor(model => model.facebook)
        </div>
        <div class="tb-field">
            @Html.TextBoxFor(model => model.facebook, new { tabindex = "16", @class = "personEditor", id=idPrefix + "facebook" })
            @Html.ValidationMessageFor(model => model.facebook)
        </div>
    </div>
</div>
@await Html.PartialAsync("ManagerInfo")


@*<script type="text/javascript">
    $().ready(function () {
        $("#phone").mask("999-999-9999", {placeholder:" "});
    });
</script>*@
