@model Machete.Domain.WorkOrder
@using Machete.Web.Helpers
@using Machete.Web.Resources
@using Machete.Domain.Resources
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
    string recType = "WO";
    string idPrefix = recType + Model.ID + "-";
}
@Html.HiddenFor(model => model.ID, new { @class = "hiddenRecID" })
@Html.HiddenFor(model => model.EmployerID, new { @id = idPrefix + "EmployerID" })
<div class="tb-table">
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.dateTimeofWork, new { @id = idPrefix + "dateTimeofWork" })
        @Html.mUITableLabelAndTextBoxFor(model => model.paperOrderNum, new { style = "width: 5em", id = idPrefix + "paperOrderNum" })
    </div>
    <div class="tb-row">
        @Html.mUITableLabelFor(model => model.status)
        

        @if (Html.IsInRole(Html.Role_AM()))
        {
            @Html.mUIDropDownListFor(model => model.status,
                                         new SelectList(Lookups.woStatus.get(CI.TwoLetterISOLanguageName), "Value", "Text", Model.status),
                                    new { @id = idPrefix + "status" })
                
        }
        else
        {
            <div class="tb-header">

            @Lookups.byID(Model.status, CI.TwoLetterISOLanguageName)
            @Html.HiddenFor(model => model.status, new { @id = idPrefix + "status" })
            </div>
        }
        @Html.mUITableLabelFor(model => model.timeFlexible)
        @Html.mUIDropDownYesNoFor(model => model.timeFlexible, new { tabindex = "2", id = idPrefix + "timeFlexible" }) 
    </div>
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.contactName, new { tabindex = "1", id = idPrefix + "contactName" })
        @Html.mUITableLabelFor(model => model.permanentPlacement)
        @Html.mUIDropDownYesNoFor(model => model.permanentPlacement, new { tabindex = "2", id = idPrefix + "permanentPlacement" })
    </div>
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.workSiteAddress1, new { tabindex = "1", id = idPrefix + "workSiteAddress1" })
    </div>
    <!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.workSiteAddress2, new { tabindex = "1", id = idPrefix + "workSiteAddress2" })
        <div class="tb-label englishRequired_@(Model.ID)">
            @Html.LabelFor(model => model.englishRequired)
        </div>
        <div class="tb-field englishRequired_@(Model.ID)">
            @Html.mUIDropDownYesNoFor(model => model.englishRequired, new { tabindex = "2", id = idPrefix + "englishRequired" })
        </div>
    </div>
    <!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.city, new { tabindex = "1", id = idPrefix + "city" })
        @Html.mUITableLabelFor(model => model.lunchSupplied)
        @Html.mUIDropDownYesNoFor(model => model.lunchSupplied, new { tabindex = "2", id = idPrefix + "lunchSupplied" })

    </div>
    <!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.state, new { tabindex = "1", id = idPrefix + "state" })
        @Html.mUITableLabelFor(model => model.transportMethodID)
        @Html.mUIDropDownListFor(model => model.transportMethodID,
                     new SelectList(Lookups.transportmethod.get(CI.TwoLetterISOLanguageName), "Value", "Text", Model.transportMethodID),
                              new { tabindex = "2", id = idPrefix + "transportMethodID" })
    </div>
    <!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.zipcode, new { tabindex = "1", id = idPrefix + "zipcode" })
        @Html.mUITableLabelAndTextBoxFor(model => model.transportFee, new { tabindex = "2", @class = "money-field", id = idPrefix + "transportFee" })
    </div>
    <!--tb-row-->
    <div class="tb-row">
        @Html.mUITableLabelAndTextBoxFor(model => model.phone, new { tabindex = "1", id = idPrefix + "phone" })
        @Html.mUITableLabelAndTextBoxFor(model => model.transportFeeExtra, new { tabindex = "2", @class = "money-field", id = idPrefix + "transportFeeExtra" })
    </div>
</div><!--tb-table main workorder table-->
<div class="tb-table">
    <div class="tb-row englishNoteRow" id="@(idPrefix)englishRequiredNoteRow">
        @Html.mUITableDescLabelFor(model => model.englishRequiredNote)
        <div class="tb-field">
            @Html.TextAreaFor(model => model.englishRequiredNote, 
                new { tabindex = "2", @class = "desc-field", id = idPrefix + "englishRequiredNote" })
            @Html.ValidationMessageFor(model => model.englishRequiredNote)
        </div>
    </div>
    <div class="tb-row">
        <div class="tb-label desc-label">
            @Html.LabelFor(model => model.workerRequests)
            <input type="button" value="@Machete.Domain.Resources.WorkOrder.requestAdd" class="formButton" id="addRequestBtn-@(Model.ID)"/>
            <input type="button" value="@Machete.Domain.Resources.WorkOrder.requestRemove" class="formButton" id="removeRequestBtn-@(Model.ID)"/>
        </div>
        <div class="tb-field desc-field">
            @Html.ListBox("workerRequests2", new SelectList(ViewBag.workerRequests, "Value", "Text"), new { @id = "workerRequests2_WO-"+ Model.ID, tabindex = "2", @style="min-width: 8em;"})
        </div>

        @Html.mUITableDescLabelFor(model => model.description)
        <div class="tb-field desc-field">
            @Html.TextAreaFor(model => model.description, new { tabindex = "3", @class = "desc-field", id = idPrefix + "description" })
            @Html.ValidationMessageFor(model => model.description)
        </div>
    </div>
</div>
@Html.Partial("ManagerInfo")
@Html.Partial("AdministratorInfo")

<div id="workerDialog-@(Model.ID)" title="@Machete.Domain.Resources.WorkOrder.requestTitle">
    <table id="workerTable-@(Model.ID)" class="display" style="display: none">
        <thead>
            <tr>
                <th>EDITREF</th>
                <th>LABEL</th>
                <th>ID</th>
                <th>@Worker.dwccardnum</th>
                <th>@Worker.active</th>
                <th>@Person.firstname1</th>
                <th>@Person.firstname2</th>
                <th>@Person.lastname1</th>
                <th>@Person.lastname2</th>
                <th>@Worker.memberexpirationdate</th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //
        //
        $("#@(idPrefix)dateTimeofWork").datetimepicker({
            stepMinute: 15,
            ampm: true,
            hourMin: 7,
            hourMax: 23,
            minuteMin: 0,
            minuteMax: 45,
            minuteGrid: 15,
            hourGrid: 4
        });
        //
        //
        $('#workerTable-@(Model.ID)').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[9, 'desc']],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "iDeferLoading": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/Worker/AjaxHandler", 
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
            "bProcessing": true,
            "aoColumns": [
                { "mDataProp": "tabref","bSearchable": false, "bSortable": false, "bVisible": false },
                { "mDataProp": "tablabel","bSearchable": false, "bSortable": false, "bVisible": false },
                { "mDataProp": "WID","bSearchable": false, "bSortable": false, "bVisible": false },
                { "mDataProp": "dwccardnum" },
                { "mDataProp": "active" },
                { "mDataProp": "firstname1" },
                { "mDataProp": "firstname2" },
                { "mDataProp": "lastname1" },
                { "mDataProp": "lastname2" },
                { "mDataProp": "memberexpirationdate" }
            ],
            // callback populates html attr with row data from JSON            
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).attr('recordid', aData['WID']);
                //$(nRow).attr('edittablabel', aData[1]);                
                return nRow;
            }         
        }).fnSetFilteringDelay(250);
        // workRequest Dialog -doubleclick on row to select
        // create event to handle worker selection from dialog
        $('#workerTable-@(Model.ID)').find('tbody').dblclick(function (event) {            
            var myTr = event.target.parentNode;
            var myID = $(myTr).attr('recordid');  
            var myLabel =  $(myTr).find('td:eq(0)').text() + ' '+
                                              $(myTr).find('td:eq(2)').text() + ' '+
                                              $(myTr).find('td:eq(4)').text();
          // handler function created by addRequestionBtn create event
          //M_workerRequestHandler_@(Model.ID)(myID, myLabel);
              $('#workerRequests2_WO-@(Model.ID)').append(
                    $('<option></option>').val(myID).html(myLabel)                
                );
          $('a.ui-dialog-titlebar-close').click();
        });
        //////////////////////////////////////////////////
        //
        //
        $('#workerDialog-@(Model.ID)').hide();
        $('#workerTable-@(Model.ID)').hide();
        //$("#wophone").mask("999-999-9999", { placeholder: " " });

        //////////////////////////////////////////////////
        //
        //
        $('#addRequestBtn-@(Model.ID)').click(function () {
            $('#workerTable-@(Model.ID)').dataTable().fnDraw();
            $('#workerTable-@(Model.ID)').show();
            //
            //Anon function to handle doubleclick of record selector
            //M_workerRequestHandler_@(Model.ID) = function (myID, myLabel){
            //    $('#workerRequests2_WO-@(Model.ID)').append(
            //        $('<option></option>').val(myID).html(myLabel)                
            //    );
            //}
            $("#workerDialog-@(Model.ID)").dialog({
                    height: 340,
                    width: 1000,
                    modal: true
            });
            
            $('#workerDialog-@(Model.ID)').show();
        });
        //////////////////////////////////////////////////
        //
        //
        $('#removeRequestBtn-@(Model.ID)').click(function () {
            $('#workerRequests2_WO-@(Model.ID)').find('option:selected').remove();
        });
    });
</script>