@model IEnumerable<Machete.Domain.Image>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddImage", "Event")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ImageMimeType
        </th>
        <th>
            datecreated
        </th>
        <th>
            dateupdated
        </th>
        <th>
            createdby
        </th>
        <th>
            updatedby
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @* edit what? *@
            @* @Html.ActionLink("Edit", "Edit", new { id=item.ID }) | *@
            @Html.ActionLink("Delete", "DeleteImage", "Event", new {id = item.ID})
        </td>
        <td>
            @item.ImageMimeType
        </td>
        <td>
            @String.Format("{0:g}", item.datecreated)
        </td>
        <td>
            @String.Format("{0:g}", item.dateupdated)
        </td>
        <td>
            @item.createdby
        </td>
        <td>
            @item.updatedby
        </td>
    </tr>
}

</table>

