@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization

@using Machete.Web.Resources;

@{
    ViewBag.Title = Persons.indextitle;

    var httpContext = ViewContext.HttpContext;
    var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
    var currentUrl = UriHelper.BuildRelative(httpContext.Request.PathBase, httpContext.Request.Path, httpContext.Request.QueryString);

    string recType = "config";
}


<div id="configTabs" class="ExclusiveTab">
    <ul>
        <li><a href="#configList" id="configListTab" class="ListTab">@Configs.listlink</a> </li>
        <li><a href="/Lookup/Create" id="configCreateTab" class="CreateTab">@Configs.createlink</a></li>
    </ul>
    <div id="configList">
        @Html.Label("Category")
        @Html.DropDownList("category", (SelectList)ViewBag.configCategories)
        <table id="configTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>@Configs.category</th>
                    <th>@Configs.selected</th>
                    <th>@Configs.textEN</th>
                    <th>@Configs.textES</th>
                    <th>@Configs.subcategory</th>
                    <th>@Configs.level</th>
                    <th>@Configs.ltrCode</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#configTable').mUI('createTable', {
        tab: $('#configTabs'),
        options: {
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[8, 'desc']],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/Lookup/AjaxHandler", 
            "oLanguage": datatable_lang_@(currentCulture.TwoLetterISOLanguageName),
            "bProcessing": true,
            "aoColumns": [
                {"mDataProp": "tabref", "bSearchable": false, "bSortable": false, "bVisible": false },
                {"mDataProp": "tablabel", "bSearchable": false, "bSortable": false, "bVisible": false },
                {"mDataProp": "category" },
                {"mDataProp": "selected" },
                {"mDataProp": "text_EN" },
                {"mDataProp": "text_ES" },
                {"mDataProp": "subcategory" },
                {"mDataProp": "level" },
                {"mDataProp": "ltrCode" }
            ],
            "fnServerDataExtra": function () {
                return [
                    { "name": "category", "value": $('#category').val() }
                ]
            },
        }, 
        dblClickEvent: null, 
        tabLabel: "@(recType)"
        });
        $('#configTable_filter input').attr('ID','configSearchBox');
        $('#configTabs').mUI("createTabs", {
            prefix: "ui-tabs-config-",
            formLevel: 1,
            changeConfirm: "@Shared.changeConfirm",
            changeTitle: "@Shared.changeTitle",
            updateDatatable: true
        });
        $('#category').click(function(e) {
//            e.preventDefault();
            $("#configTable").dataTable().fnDraw();
        });
    });
</script>