@model Machete.Domain.Employer
@using Machete.Web.Resources
@{  
    string recType = "employer";
    string idPrefix = recType + Model.ID + "-";
}
@using (Html.BeginForm("Create", "Employer", FormMethod.Post, 
                        new { @id = "employerCreateForm" }))
{
    <div style="float: left;">
        <input type="submit" id="@(idPrefix)SaveBtn" 
               value="@Employers.createsubmit"  tabindex="9"/>
    </div>
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#@(idPrefix)SaveBtn').button();
        $.validator.unobtrusive.parseDynamicContent('#employerCreateForm');
        $('#employerName').focus();
        // Employer Create submit event
        $("#employerCreateForm").mUI('formSubmitCreate', {
            recType: "@(recType)" 
        });
    });
</script>