@model Machete.Domain.Employer
@using Machete.Web.Helpers
@using Machete.Web.Resources
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
    string recType = "employer";
}
@using (Html.BeginForm("Edit", "Employer", FormMethod.Post, 
                        new { @class = "edittab-form EditPost", @id="EmployerTab-" + Model.ID }))
{
    <input type="button" value="@Employers.viewlink" class="formButton" id="viewEmployer-@Model.ID" />
    <input type="submit" value="@Employers.editsubmit" class="formButton"/>
    if (Html.IsInRole(Html.Role_AM()))
    {
        <input id="deleteEmployerButton-@Model.ID" type="button" value="@Employers.deletesubmit" 
                class="formButton deleteButton" />
    }
    <br />    
    @Html.ValidationSummary(true)
    @Html.EditorForModel()

}
@if (Html.IsInRole(Html.Role_AM()))
{
    //
    // Only Managers can delete employer records
    // The phonedesk can edit and save
    //
    using (Html.BeginForm("Delete", "Employer", FormMethod.Post, 
                            new { @class = "edittab-form DeletePost", @id = "DeleteEmployer-" + Model.ID }))
    {
        @Html.HiddenFor(model => model.ID);
    }
}
@Html.Partial("WorkOrderIndex", Model)
<div id="fDC_container">
    <h1 id="fDC_title">
    </h1>
    <div id="fDC_content">
        <div id="fDC_message">
        </div>
        <div id="fDC_panel">
            <input type="button" id="fDC_ok" />
            <input type="button" id="fDC_cancel" />
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#fDC_container').hide();
        $('#viewEmployer-@Model.ID').click(function () {
            printwindow = window.open('/Employer/View/@Model.ID');
        });
        $('.formButton').button();
        $('#employerName').focus();
        //
        // machete UI detect changes on forms in tabs   
        $("#EmployerTab-@(Model.ID)").mUI('formDetectChanges', {
            recType: "@(recType)",
            formLevel: 1
            });
        //
        // validation for elements added after page load
        $.validator.unobtrusive.parseDynamicContent($('#EmployerTab-@Model.ID'));
        //
        // delete button confirmation
        $("#deleteEmployerButton-@Model.ID").mUI('formClickDelete', {
            ok: "@Employers.deletesubmit",
            confirm: '@Employers.deleteconfirmation',
            title: '@Employers.deletetitle',
            form: $('#DeleteEmployer-@Model.ID')
        });
        //
        // edit form submit
        $('#EmployerTab-@Model.ID').mUI('formSubmit', {
            create: false,
            selectTab: 0,
            formLevel: 1
        });
    });
</script>