@using Machete.Web.Helpers
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization

@using Machete.Web.Resources;

@{
    var httpContext = ViewContext.HttpContext;
    var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
    var currentUrl = UriHelper.BuildRelative(httpContext.Request.PathBase, httpContext.Request.Path, httpContext.Request.QueryString);

    string recType = "employer";
}

<div id="employerTabs" class="ExclusiveTab">
    <ul>
        <li><a href="#employerList" id="employerListTab" class="ListTab">@Employers.listlink</a> </li>

        @if (Html.IsInRole("Administrator", "Manager", "PhoneDesk"))
        {
            <li><a href="/Employer/Create" id="employerCreateTab" class="CreateTab">@Employers.createlink</a></li>
        }
        
    </ul>
    <div id="employerList"> @* This div is the ui.panel  *@
        <input type="button" value="@Machete.Web.Resources.WorkOrders.btnAll" class="formButton" id="allOrdersBtn"/>
        <input type="button" value="@Machete.Web.Resources.WorkOrders.btnOnline" class="formButton" id="onlineOrdersBtn"/>
        <table id="employerTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>@Employer.active</th>
                    <th>@Employer.name</th>
                    <th>@Employer.address1</th>
                    <th>@Employer.city</th>
                    <th>@Employer.zipcode</th>
                    <th>@Employer.phone</th>
                    <th>@Employer.cellphone</th>
                    <th>@Record.dateupdated</th>
                    <th>@Record.updatedby</th>
                    <th>@Employer.onlineSource</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="employerSelectDialog" title="@WorkOrders.empChgConfirmTitle">
    <table id="employerSelectTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>LABEL</th>
                <th>@Machete.Web.Resources.Employer.active</th>
                <th>@Machete.Web.Resources.Employer.name</th>
                <th>@Machete.Web.Resources.Employer.address1</th>
                <th>@Machete.Web.Resources.Employer.city</th>
                <th>@Machete.Web.Resources.Employer.zipcode</th>
                <th>@Machete.Web.Resources.Employer.phone</th>
                <th>@Machete.Web.Resources.Employer.cellphone</th>
                <th>@Machete.Web.Resources.Record.dateupdated</th>
                <th>@Machete.Web.Resources.Record.updatedby</th>
            </tr>
        </thead>
    </table>
</div>
@await Html.PartialAsync("WorkerIndex")
<script type="text/javascript">
    $(document).ready(function () {
        $('.formButton').button();
        ////////////////////////////////////////////////////////////////
        //
        // Create Employer table
        //
        var oTable = jqrfyTable({
            table: $('#employerTable'),
            tab: $('#employerTabs'),
            options: {
                //"sScrollY": "315px",
                //"iDisplaylength": 15,
                "bPaginate": true,
                "bLengthChange": true,
                "aaSorting": [[9, 'desc']],
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "bServerSide": true,
                "sAjaxSource": "/Employer/AjaxHandler",
                "bProcessing": true,
                "oLanguage": datatable_lang_@(currentCulture.TwoLetterISOLanguageName),
                "aoColumns": [                           //dataTable column definition
                                {"mDataProp": "tabref",  "bSearchable": false, "bSortable": false, "bVisible": false },
                                {"mDataProp": "tablabel",  "bSearchable": false, "bSortable": false, "bVisible": false },
                                {"mDataProp": "active" },
                                {"mDataProp": "name" },
                                {"mDataProp": "address1" },
                                { "mDataProp": "city" },
                                { "mDataProp": "zipcode" },
                                { "mDataProp": "phone" },
                                { "mDataProp": "cellphone" },
                                {"mDataProp": "dateupdated" },
                                { "mDataProp": "updatedby", "bSortable": false },
                                { "mDataProp": "onlineSource", "bSearchable": false, "bSortable": true, "bVisible": true }
                            ]
            },
            dblClickEvent: null,
            tabLabel: "@(recType)"
        });
        $('#employerTabs').mUI('createTabs', {
            prefix: "ui-tabs-employer-",
            formLevel: 1,
            changeConfirm: "@(Machete.Web.Resources.Shared.changeConfirmPerson)",
            changeTitle: "@(Machete.Web.Resources.Shared.changeTitlePerson)",
            updateDataTable: true
            });
        $('#allOrdersBtn').click(function() {
            oTable.dataTable().fnResetAllFilters();
        });
        $('#onlineOrdersBtn').click(function() {
            oTable.dataTable().fnResetAllFilters(false);
            oTable.dataTable().fnFilter(true, 9); //sync with DT array above
        });

        $('#employerCreateTab').click(function () {

            // capturing not-saved typed fields from Create New Employer form to localStorage variables

            // serializeArray captures all the form fields
            var employerFormContent = $('#employerCreateForm').serializeArray();
            window.localStorage.setItem("employerCreateForm", JSON.stringify(employerFormContent));
        });
        ////////////////////////////////////////////////////////////////
        //
        // table for selecting employer (for workorder move functionality)
        //
        $('#employerSelectTable').dataTable().fnDestroy();
        $('#employerSelectTable').dataTable({
            "bPaginate": true,
            "bDeferLoading": true,
            "bLengthChange": true,
            "aaSorting": [[7, 'desc']],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "iDeferLoading": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/Employer/AjaxHandler",
            "oLanguage": datatable_lang_@(currentCulture.TwoLetterISOLanguageName),
            "bProcessing": true,
            "aoColumns": [
                            {"mDataProp": "tabref",  "bSearchable": false, "bSortable": false, "bVisible": false },
                            {"mDataProp": "tablabel",  "bSearchable": false, "bSortable": false, "bVisible": false },
                            {"mDataProp": "active" },
                            {"mDataProp": "name" },
                            {"mDataProp": "address1" },
                            { "mDataProp": "city" },
                            { "mDataProp": "zipcode" },
                            { "mDataProp": "phone" },
                            { "mDataProp": "cellphone" },
                            {"mDataProp": "dateupdated" },
                            {"mDataProp": "updatedby", "bSortable": false }
            ],
            // callback populates html attr with row data from JSON
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).attr('recordid', aData['EID']);
                return nRow;
            }
        }).fnSetFilteringDelay(250);
        $('#employerSelectTable_filter input').attr('ID', 'employerSelectTable_searchbox');
        //////////////////////////////////////////////////
        //
        //

        $('#employerSelectTable').find('tbody').mUI('selectEmployerDblClick',
        {
            okButton: "@WorkOrders.empChgConfirmSubmit",
            message: "@WorkOrders.empChgConfirm",
            title: '@WorkOrders.empChgConfirmSubmit'
        });
        $('#employerSelectDialog').hide();
        $('#employerSelectTable').hide()
        return true;
    });
</script>

