@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}
<div id="reportTabs">
    <ul>
        <li><a href="#summaryWrapper" id="summaryTab" >@Machete.Web.Resources.Reports.summaryTab</a> </li>
        <li><a href="/Reports/Orders" id="ordersTab">@Machete.Web.Resources.Reports.ordersTab</a></li>
    </ul>

    <div id="summaryWrapper">
        @*This is the default view.*@
    <div id="summaryHeader">
        <h3 style="padding-left: .5em;">@Machete.Web.Resources.Reports.summaryHeader</h3>
        <div id="summaryPopup">
                <p id="summaryInstructions" style="padding-left:.5em">
                    @Machete.Web.Resources.Reports.summaryInstructions
                    <input type="button" value="Hide" class="formButton" id="summaryHide" />
                </p>
        </div>
    </div>

    <div id="summaryReports">
        <h3><a href="#" id="dclLink">Daily</a></h3>
        <div id="dclTable">
            <input type="button" value="Refresh" class="formButton" id="dclDataOnlyBtn" />
            <input type="button" value="Print Report" class="formButton" id="dclPrintReport" />
            <input type="button" value="Spreadsheet" class="formButton" id="dclSpreadsheet" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-dcl-datepicker", @id = "dclDate" })
            <p id="dclHelp" style="display:inline;"><em>Select a day to see results.</em></p>
            <table id="dclDataTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.dwcList</th>
                        <th>@Machete.Web.Resources.Reports.dwcPropio</th>
                        <th>@Machete.Web.Resources.Reports.hhhList</th>
                        <th>@Machete.Web.Resources.Reports.hhhPropio</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.totalAssignments</th>
                        <th>@Machete.Web.Resources.Reports.cancelledJobs</th>
                    </tr>
                </thead>
            </table>
        </div>
        <h3><a href="#" id="wecLink">Weekly</a></h3>
        <div id="wecTable">
            <input type="button" value="Refresh" class="formButton" id="wecDataOnlyBtn" />
            <input type="button" value="Print" class="formButton" id="wecPrintReport" />
            <input type="button" value="Spreadsheet" class="formButton" id="wecSpreadsheet" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-wec-datepicker", @id = "wecDate" })
            <p id="wecHelp" style="display:inline;"><em>Select a day to see results for that week.</em></p>
            <table id="wecDataTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.weekday</th>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.noWeekJobs</th>
                        <th>@Machete.Web.Resources.Reports.weekJobsSect</th>
                        <th>No.</th>
                        <th>@Machete.Web.Resources.Reports.weekEstDailyHours</th>
                        <th>@Machete.Web.Resources.Reports.weekEstPayment</th>
                        <th>@Machete.Web.Resources.Reports.weekHourlyWage</th>
                    </tr>
                </thead>
            </table>
        </div>
        <h3><a href="#" id="mwdLink">Monthly</a></h3>
        <div id="mwdTable">
            <input type="button" value="Refresh" class="formButton" id="mwdDataOnlyBtn" />
            <input type="button" value="Print" class="formButton" id="mwdPrintReport" />
            <input type="button" value="Spreadsheet" class="formButton" id="mwdSpreadsheet" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-mwd-datepicker", @id = "mwdDate" })
            <p id="mwdHelp" style="display:inline;"><em>Select any day in a month to see results.</em></p>
            <table id="mwdDataTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.dwcSignins</th>
                        <th>@Machete.Web.Resources.Reports.hhhSignins</th>
                        <th>@Machete.Web.Resources.Reports.dwcDispatch</th>
                        <th>@Machete.Web.Resources.Reports.hhhDispatch</th>
                        <th>@Machete.Web.Resources.Reports.totalHours</th>
                        <th>@Machete.Web.Resources.Reports.totalIncome</th>
                        <th>@Machete.Web.Resources.Reports.avgIncome</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // hide the following ///////////////////////|X|
        //  
        $('#dclTable').hide(); // Daily (Casa Latina) table
        $('#wecTable').hide(); // Weekly (El Centro) table
        $('#mwdTable').hide(); // Monthly With Detail
        // These  (above ) may be better hidden by using partial views. But so many files for the reports...
        $('#sorryNoPieCharts').hide();
        $('#sorryNoPrintView').hide();
        // The preceding pop up in the header area when various events occur...
        $('#dclHelp').hide();
        $('#wecHelp').hide();
        $('#mwdHelp').hide();
        // these three show up when someone is taking their time picking a date
        // to instruct them how to proceed.

        //////////////////// | ACCORDIONS |
        //
        $('#reportTabs').tabs();
        $('#summaryHide').click(
            function () {
                $('#summaryPopup').hide();
            });

        $('#summaryReports').accordion({
                collapsible: true,
                active: false,
                autoHeight: false
            });

        $('#dclLink').click(function () {
            dclNewTable();
        });

        $('#wecLink').click(function () {
            wecNewTable();
        });

        $('#mwdLink').click(function () {
            mwdNewTable();
        });

        ////////////////////// | the date-pickerers |

        //
        // Daily datepickerer
        //

        $('.ui-dcl-datepicker').hover(
            function () {
                $('#dclHelp').show("fade", 2200);
            },
            function () {
                $('#dclHelp').hide("fade", 2200);
            });

        $('.ui-dcl-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.ui-dcl-datepicker').change(
            function (event) {
                dclNewTable();
            });

        //
        // Weekly datepickerer
        //

        $('.ui-wec-datepicker').hover(
            function () {
                $('#wecHelp').show("fade", 2200);
            },
            function () {
                $('#wecHelp').hide("fade", 2200);
            });

        $('.ui-wec-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus",
            beforeShowDay: function (date) {
                var day = date.getDay();
                return [(day > 5), ''];
            }
        });

        $('.ui-wec-datepicker').change(
            function (event) {
                wecNewTable();
            });

        //
        // Monthly datepickerer
        //

        $('.ui-mwd-datepicker').hover(
            function () {
                $('#mwdHelp').show("fade", 2200);
            },
            function () {
                $('#mwdHelp').hide("fade", 2200);
            });

        $('.ui-mwd-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.ui-mwd-datepicker').change(
            function (event) {
                mwdNewTable["todaysdate"] = $('#mwdDate').val();
                $('#mwdDataTable').dataTable(mwdNewTable).fnReloadAjax();
            });


        //////////////////////////////////////////////////////////////////////// | DATATABLES |
        //
        // Looking for the table properties? Try reports.js in ~/Web/Scripts
        //
        var lang = datatable_lang_@(CI.TwoLetterISOLanguageName);

        function dclNewTable() {
            var dclNewTable = $.extend(true, {}, dclTableDefaults(lang, $('#dclDate').val()));
            dclNewTable["bDestroy"] = "true,";
            $('#dclDataTable').dataTable(dclNewTable).fnReloadAjax();
        };

        function wecNewTable() {
            var wecNewTable = $.extend(true, {}, wecTableDefaults(lang, $('#wecDate').val()));
            wecNewTable["bDestroy"] = "true,";
            $('#wecDataTable').dataTable(wecNewTable).fnReloadAjax();
        };

        function mwdNewTable() {
            var mwdNewTable = $.extend(true, {}, mwdTableDefaults(lang, $('#mwdDate').val()));
            mwdNewTable["bDestroy"] = "true,";
            $('#mwdDataTable').dataTable(mwdNewTable).fnReloadAjax();
        };

        ///////////////////////////////////////////////////////////////////////////////// | BUTTONS |
        //
        //
        $('#dclDataOnlyBtn').click(
            function () {
                dclNewTable();
        });

        $('#wecDataOnlyBtn').click(
            function () {
                wecNewTable();
        });

        $('#mwdDataOnlyBtn').click(
            function () {
                mwdNewTable();
        });

         $('#dclPrintReport').click(
             function () {
                 window.open('/Reports/PrintView?date='+$('#dclDate').val()+'&typeOfReport=daily');
             });

         $('#wecPrintReport').click(
             function () {
                 window.open('/Reports/PrintView?date='+$('#wecDate').val()+'&typeOfReport=weekly');
             });

         $('#mwdPrintReport').click(
             function () {
                 window.open('/Reports/PrintView?date='+$('#mwdDate').val()+'&typeOfReport=monthly');
             });


         $('#dclSpreadsheet').click(function () {
             var url = "/Reports/AjaxDcl";
             var data = { todaysdate: $('#dclDate').val() };
             $.getJSON(url, data, function (ajax) {
                 var jstring = JSON.stringify(ajax.aaData);
                 var jcsv = json2spreadsheet(jstring);
                 download(jcsv, "reports.csv", "text/csv");
             });
         });

         $('#wecSpreadsheet').click(function () {
             var url = "/Reports/AjaxWec";
             var data = { todaysdate: $('#wecDate').val() };
             $.getJSON(url, data, function (ajax) {
                 var jstring = JSON.stringify(ajax.aaData);
                 var jcsv = json2spreadsheet(jstring);
                 download(jcsv, "reports.csv", "text/csv");
             });
         });

         $('#mwdSpreadsheet').click(function () {
             var url = "/Reports/AjaxMwd";
             var data = { todaysdate: $('#mwdDate').val() };
             $.getJSON(url, data, function (ajax) {
                 var jstring = JSON.stringify(ajax.aaData);
                 var jcsv = json2spreadsheet(jstring);
                 download(jcsv, "reports.csv", "text/csv");
             });
         });
        //
        //
    });
    // end DOM ready check
</script>

