@************************************************************************
*** Notes:
*** We will need a model here; also, the button names are generated in
*** Machete by the .resx file values based on the Culture setting...
*** That will have to be changed when we get out of the stub.
*** This goes for ALL buttons/tabs.
*@
@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}

<div id="reportTabs">
    <ul>
        <li><a href="#summaryReports" id="summaryTab" >@Machete.Web.Resources.Reports.summaryTab</a> </li>
        <li><a href="#workers" id="workersTab" >@Machete.Web.Resources.Reports.workersTab</a> </li>
        <li><a href="#orders" id="ordersTab" >@Machete.Web.Resources.Reports.ordersTab</a> </li>
        <li><a href="#activities" id="activitiesTab" >@Machete.Web.Resources.Reports.activitiesTab</a> </li>
    </ul>
    <div id="summaryReports">
        <h3><a href="#">Machete Summary Reports</a></h3>
        <div>
            <p>Open the menus below to select different types of summary reports.</p>
            <p id="stayTuned" title="Next update: Print buttons!">Use the buttons at the top of the report to toggle the display.</p>
        </div>
        
        <h3><a href="#">Monthly, With Detail</a></h3>
        <div id="mwdTable">
            <input type="button" value="Data Only" class="formButton" id="dataOnlyBtn" />
            <input type="button" value="Pie Chart" class="formButton" id="pieChartBtn" />
            @Html.TextBox("activeDate", "", new { @style = "width: 6em;", @class = "ui-datepicker", @id = "mwdDate" })
            <table id="mwdSummaryTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.dwcSignins</th>
                        <th>@Machete.Web.Resources.Reports.hhhSignins</th>
                        <th>@Machete.Web.Resources.Reports.dwcDispatch</th>
                        <th>@Machete.Web.Resources.Reports.hhhDispatch</th>
                        <th>@Machete.Web.Resources.Reports.totalHours</th>
                        <th>@Machete.Web.Resources.Reports.totalIncome</th>
                        <th>@Machete.Web.Resources.Reports.avgIncome</th>
                    </tr>
                </thead>
            </table>
            <div id="sorryNoPieCharts">
                <h3 style="color:red;">Sorry, pie charts aren't available quite yet! Just wait for the next update!</h3>
            </div>
        </div>
    </div>
    <div id="workers">
        @Html.Partial("Workers")
    </div>
    <div id="orders">
        @Html.Partial("Orders")
    </div>
    <div id="activities">
        @Html.Partial("Activities")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$(function () { $("#stayTuned").tooltip(); }); 
        // for some reason trying to use tooltips breaks the whole page

        ///TABS//////////////////////////////////////|X|
        // the following code creates
        // tabs from listed item tags 
        // in the HTML, by ID $("#id")
        $('#reportTabs').tabs();
        $("#summaryReports").accordion({
                collapsible: true,
                autoHeight: false
            });
        
        $('#sorryNoPieCharts').hide();

        ////PIE CHARTS/////////////////////////|X|
        // Buttons for showing and hiding
        // the Pie Charts feature ...
        // ... which doesn't exist yet!
        $('#dataOnlyBtn').click(function () {
            $('#sorryNoPieCharts').hide();
        });

        $('#pieChartBtn').click(function () {
            $('#sorryNoPieCharts').show();
        });

        // the date-picker ////////////////////|X|
        // these options draw more attention to the
        // month and year, but maybe we should just
        // select a month and calculate the date
        // later!
        $('.ui-datepicker').datepicker({
            dateFormat: 'MM yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
        });

    //    $('.ui-datepicker').focus(function () {
    //        $(".ui-datepicker-calendar").hide();
    //        $("#mwdTable").position({
    //            my: "center top",
    //            at: "center bottom",
    //            of: $(this)
    //    });
    //});


        ////DATATABLES////////////////////////////////////////////////////////////////////////////|X|
        // Datatables uses something called Hungarian
        // notation wherein they put the purpose of
        // a given variable to the left of the
        // variable name. E.g., i is integer, o is
        // object. More at datatables.net.
        $('#mwdSummaryTable').dataTable({
            "bPaginate": false, // to enable pagination (this report has fixed size)
            //"bLengthChange": true, //requires pagination
            //"aLengthMenu": [[35, 70, 105, -1], [35, 70, 105, dataSourceLength*]],
            //"iDisplayLength": -1, //number of rows to use with pagination
            "bAutoWidth": false,
            "bInfo": true, //shows information about data being displayed on the page
            "bSort": false, //enable or disable sorting of columns
            "bFilter": false, //enable or disable filtering of data
            "bServerSide": true, //server side processing, req. source
            "sAjaxSource": "/Reports/AjaxMwd", //source for server side processing
            "bProcessing": true, //enable processing indicator
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName), //internationalisation
            "aoColumns": [
                { mDataProp: "date" },
                { mDataProp: "totalSignins" },
                { mDataProp: "totalDWCSignins" },
                { mDataProp: "totalHHHSignins" },
                { mDataProp: "dispatchedDWCSignins" },
                { mDataProp: "dispatchedHHHSignins" },
                { mDataProp: "totalHours" },
                { mDataProp: "totalIncome" },
                { mDataProp: "avgIncomePerHour" }
            ], //these are the column names in the array; number must match # of cols. in table
            //TODO: Get DataTables refresh working. Datepicker / Monthpicker isn't the priority.
        });
        //end hell
    });
    // end document ready

</script>

