@using Machete.Web.Resources
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization
<script src="Content/reports.js"></script>

@{
    var httpContext = ViewContext.HttpContext;
    var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
    var currentUrl = UriHelper.BuildRelative(httpContext.Request.PathBase, httpContext.Request.Path, httpContext.Request.QueryString);
}
<div id="reportTabs">
    <ul>
        <li><a href="#summaryWrapper" id="summaryTab">@Reports.summaryTab</a> </li>
        <li><a href="#employersWrapper" id="employersTab">@Reports.employersTab</a></li>
        <li><a href="#workersWrapper" id="workersTab">@Reports.workersTab</a> </li>
        <li><a href="#activityWrapper" id="activityTab">@Reports.activitiesTab</a> </li>
        @*<li><a href="#ssrsWrapper" id="ssrsTab">@Reports.ssrsTab</a> </li>*@
    </ul>
        @await Html.PartialAsync("Summary")
        @await Html.PartialAsync("Employers")
        @await Html.PartialAsync("Workers")
        @await Html.PartialAsync("Activities")
        @*Html.Partial("SSRS")*@
</div>
@Html.AntiForgeryToken()
<script type="text/javascript">
    $(document).ready(function () {
        //VARS
        var dcl = $('#dclDataTable'); var dayPie1 = $('#dailyPieChart1'); var dayPie2 = $('#dailyPieChart2');
        var wec = $('#wecDataTable'); var weekPie = $('#weeklyPieChart');
        var mwd = $('#mwdDataTable'); var monthChart = $('#monthlyChart');
        var ywd = $('#ywdDataTable'); var yearChart = $('#yearlyChart');

        var weekAct = $('#weekActDataTable');
        var monthAct = $('#monthActDataTable');
        var yearAct = $('#yearActDataTable');

        var weekWkr = $('#weekWkrDataTable');
        var monthWkr = $('#monthWkrDataTable');
        var yearWkr = $('#yearWkrDataTable');

        var weekEmp = $('weekEmpDataTable');
        var monthEmp = $('monthEmpDataTable');
        var yearEmp = $('yearEmpDataTable');

        var lang = datatable_lang_@(currentCulture.TwoLetterISOLanguageName);

        // hide stuff 
        // 
        $('.report-instructions').hide();
        $('.report-instructions-show').click(
            function () {
                $('.report-instructions-show').hide();
                $('.report-instructions').show();
            });
        $('.report-instructions-hide').click(
            function () {
                $('.report-instructions').hide();
                $('.report-instructions-show').show();
            });

        //$('#dclTable').hide();
        //$('#wecTable').hide();
        //$('#mwdTable').hide();
        $('.report-container').hide();

        // make stuff pretty
        //
        $('#reportTabs').tabs();
        $('.formButton').button();
        $('.report-accordion').accordion({
            collapsible: true,
            active: false,
            autoHeight: false
        });
        
        ////////////////////// | the date-pickerers |

        $.datepicker.setDefaults({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.report-datepicker').datepicker();

        $('.report-datepicker-weekly').datepicker({
            beforeShowDay: function (date) {
                var day = date.getDay();
                return [(day > 5), ''];
            }
        });

        // Daily datepickerer
        //
        $('#dclDate').change(function (event) { dclNewTable(); });

        // Weekly datepickerers
        //
        $('#wecDate').change(function (event) { wecNewTable(); });
        $('#weekActDate').change(function (event) { weekActNewTable(); });
        $('#weekWkrDate').change(function (event) { weekWkrNewTable(); });
        $('#weekEmpDate').change(function (event) { weekEmpNewTable(); });

        // Monthly datepickerers
        //
        $('#mwdDate').change(function (event) { mwdNewTable(); });
        $('#monthActDate').change(function (event) { monthActNewTable(); });
        $('#monthWkrDate').change(function (event) { monthWkrNewTable(); });
        $('#monthEmpDate').change(function (event) { monthEmpNewTable(); });

        // Yearly datepickerer
        //
        $('#ywdDate').change(function (event) { ywdNewTable(); });
        $('#yearActDate').change(function (event) { yearActNewTable(); })
        $('#yearWkrDate').change(function (event) { yearWkrNewTable(); });
        $('#yearEmpDate').change(function (event) { yearEmpNewTable(); });

        //////////////////////////////////////////////////////////////////////// | DATATABLES |
        //
        //  SUMMARIES (ORDERS) -- Idea is to eventually separate quick summary reports from detailed orders reports.
        //

        function dclNewTable() {
            dayPie1.empty();
            dayPie2.empty();
            oDclTable = $.extend(true, {}, reportTableDefaults("/Reports/AjaxDcl", lang, $('#dclDate').val()));
            oDclTable.aoColumns = [
                { mDataProp: "dwcList" },
                { mDataProp: "dwcPropio" },
                { mDataProp: "hhhList" },
                { mDataProp: "hhhPropio" },
                { mDataProp: "uniqueSignins" },
                { mDataProp: "totalSignins" },
                { mDataProp: "totalAssignments" },
                { mDataProp: "cancelledJobs" },
            ];
            dcl = $('#dclDataTable').dataTable(oDclTable);
            makePie('summary','day');
        }

        function wecNewTable() {
            weekPie.empty();
            oWecTable = $.extend(true, {}, reportTableDefaults("/Reports/AjaxWec", lang, $('#wecDate').val()));
            oWecTable.aoColumns = [
                { mDataProp: "weekday" },
                { mDataProp: "totalSignins" },
                { mDataProp: "totalAssignments" },
                { mDataProp: "weekEstDailyHours" },
                { mDataProp: "weekEstPayment" },
                { mDataProp: "weekHourlyWage" },
                {
                    mDataProp: null,
                    sDefaultContent: '<img src="/Content/dataTables/details_open.png" class="nestedDetailsButton">'
                },
            ];
            wec = $('#wecDataTable').dataTable(oWecTable);
            makePie('summary','week');
        }
        
        function mwdNewTable() {
            monthChart.empty();
            oMwdTable = $.extend(true, {}, summaryTableDefaults("/Reports/AjaxMwd", lang, $('#mwdDate').val(), 'monthlyChart'));
            mwd = $('#mwdDataTable').dataTable(oMwdTable);
            }
        
        function ywdNewTable() {
            yearChart.empty();
            oYwdTable = $.extend(true, {}, summaryTableDefaults("/Reports/AjaxYwd", lang, $('#ywdDate').val(), 'yearlyChart'));
            ywd = $('#ywdDataTable').dataTable(oYwdTable);
        }
        //
        // ACTIVITIES
        //
        function weekActNewTable() {
            oWeekActTable = $.extend(true, {}, activityTableDefaults("/Reports/AjaxWeekAct", lang, $('#weekActDate').val()));
            weekAct = $('#weekActDataTable').dataTable(oWeekActTable);
        }

        function monthActNewTable() {
            oMonthActTable = $.extend(true, {}, activityTableDefaults("/Reports/AjaxMonthAct", lang, $('#monthActDate').val()));
            monthAct = $('#monthActDataTable').dataTable(oMonthActTable);
        }

        function yearActNewTable() {
            oYearActTable = $.extend(true, {}, activityTableDefaults("/Reports/AjaxYearAct", lang, $('#yearActDate').val()));
            yearAct = $('#yearActDataTable').dataTable(oYearActTable);
        }
        //
        // WORKERS
        //
        function weekWkrNewTable() {
            oWeekWkrTable = $.extend(true, {}, workerTableDefaults("/Reports/AjaxWeekWkr", lang, $('#weekWkrDate').val()));
            weekWkr = $('#weekWkrDataTable').dataTable(oWeekWkrTable);
        }

        function monthWkrNewTable() {
            oMonthWkrTable = $.extend(true, {}, workerTableDefaults("/Reports/AjaxMonthWkr", lang, $('#monthWkrDate').val()));
            monthWkr = $('#monthWkrDataTable').dataTable(oMonthWkrTable);
        }

        function yearWkrNewTable() {
            oYearWkrTable = $.extend(true, {}, workerTableDefaults("/Reports/AjaxYearWkr", lang, $('#yearWkrDate').val()));
            yearWkr = $('#yearWkrDataTable').dataTable(oYearWkrTable);
        }

        //
        // EMPLOYERS
        //
        function weekEmpNewTable() {
            oWeekEmpTable = $.extend(true, {}, employerTableDefaults("/Reports/AjaxWeekEmp", lang, $('#weekEmpDate').val()));
            weekEmp = $('#weekEmpDataTable').dataTable(oWeekEmpTable);
        }

        function monthEmpNewTable() {
            oMonthEmpTable = $.extend(true, {}, employerTableDefaults("/Reports/AjaxMonthEmp", lang, $('#monthEmpDate').val()));
            monthEmp = $('#monthEmpDataTable').dataTable(oMonthEmpTable);
        }

        function yearEmpNewTable() {
            oYearEmpTable = $.extend(true, {}, employerTableDefaults("/Reports/AjaxYearEmp", lang, $('#yearEmpDate').val()));
            yearEmp = $('#yearEmpDataTable').dataTable(oYearEmpTable);
        }

        ////////////////////////////////////////////////////////////// | DRILLDOWNS |
        ////////////////////////////////////////////////////////////// | [+] [-]... |

        // SUMMARY
        //
        $('#wecDataTable tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];

            if (wec.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/Content/dataTables/details_open.png";
                wec.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "/Content/dataTables/details_close.png";
                wec.fnOpen(nTr, fnFormatEmployerDetails(wec, nTr), 'nestedDetails');
            }
        });

        $('#mwdDataTable tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];

            if (mwd.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/Content/dataTables/details_open.png";
                mwd.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "/Content/dataTables/details_close.png";
                mwd.fnOpen(nTr, fnFormatSummaryDetails(mwd, nTr), 'nestedDetails');
            }
        });

        $('#ywdDataTable tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];

            if (ywd.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/Content/dataTables/details_open.png";
                ywd.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "/Content/dataTables/details_close.png";
                ywd.fnOpen(nTr, fnFormatSummaryDetails(ywd, nTr), 'nestedDetails');
            }
        });

        // ACTIVITIES
        //

        $('#weekActDataTable tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];

            if (weekAct.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/Content/dataTables/details_open.png";
                weekAct.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "/Content/dataTables/details_close.png";
                weekAct.fnOpen(nTr, fnFormatActivityDetails(weekAct, nTr), 'nestedDetails');
            }
        });

        $('#monthActDataTable tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];

            if (monthAct.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/Content/dataTables/details_open.png";
                monthAct.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "/Content/dataTables/details_close.png";
                monthAct.fnOpen(nTr, fnFormatActivityDetails(monthAct, nTr), 'nestedDetails');
            }
        });

        $('#yearActDataTable tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];

            if (yearAct.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/Content/dataTables/details_open.png";
                yearAct.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "/Content/dataTables/details_close.png";
                yearAct.fnOpen(nTr, fnFormatActivityDetails(yearAct, nTr), 'nestedDetails');
            }
        });

        // EMPLOYERS
        //

        $('#weekEmpDataTable tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];

            if (weekEmp.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/Content/dataTables/details_open.png";
                weekEmp.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "/Content/dataTables/details_close.png";
                weekEmp.fnOpen(nTr, fnFormatEmployerDetails(weekEmp, nTr), 'nestedDetails');
            }
        });

        $('#monthEmpDataTable tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];

            if (monthEmp.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/Content/dataTables/details_open.png";
                monthEmp.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "/Content/dataTables/details_close.png";
                monthEmp.fnOpen(nTr, fnFormatEmployerDetails(monthEmp, nTr), 'nestedDetails');
            }
        });

        $('#yearEmpDataTable tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];

            if (yearEmp.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/Content/dataTables/details_open.png";
                yearEmp.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "/Content/dataTables/details_close.png";
                yearEmp.fnOpen(nTr, fnFormatEmployerDetails(yearEmp, nTr), 'nestedDetails');
            }
        });

        ///////////////////////////////////////////////////////////////////////////////// | BUTTONS |
        //
        //

        // | REFRESH |

        $('#dclDataOnlyBtn').click(
            function () {
                dclNewTable();
            });

        $('#wecDataOnlyBtn').click(
            function () {
                wecNewTable();
            });
        $('#weekWkrDataRefreshBtn').click(
            function () {
                weekWkrNewTable();
            });
        $('#weekEmpDataRefreshBtn').click(
            function () {
                weekEmpNewTable();
            });
        $('#weekActDataRefreshBtn').click(
            function () {
                weekActNewTable();
            });

        $('#mwdDataOnlyBtn').click(
            function () {
                mwdNewTable();
            });
        $('#monthWkrDataRefreshBtn').click(
            function () {
                monthWkrNewTable();
            });
        $('#monthEmpDataRefreshBtn').click(
            function () {
                monthEmpNewTable();
            });
        $('#monthActDataRefreshBtn').click(
            function () {
                monthActNewTable();
            });

        $('#ywdDataOnlyBtn').click(
            function () {
                ywdNewTable();
            });
        $('#yearWkrDataRefreshBtn').click(
            function () {
                yearWkrNewTable();
            });
        $('#yearEmpDataRefreshBtn').click(
            function () {
                yearEmpNewTable();
            });
        $('#yearActDataRefreshBtn').click(
            function () {
                yearActNewTable();
            });

        // | PRINT VIEWS |

        $('#dclPrintReport').click(
            function () {
                window.open('/Reports/PrintView?date=' + $('#dclDate').val() + '&typeOfReport=daily');
            });

        $('#wecPrintReport').click(
            function () {
                window.open('/Reports/PrintView?date=' + $('#wecDate').val() + '&typeOfReport=weekly');
            });

        $('#mwdPrintReport').click(
            function () {
                window.open('/Reports/PrintView?date=' + $('#mwdDate').val() + '&typeOfReport=monthly');
            });

        // | SPREADSHEETS |
        function makeSpreadsheet(url, data) {
            var filename = prompt("Please enter a name for the file:", "macheteReports.csv");
            $.getJSON(url, data, function (ajax) {
                var jstring = JSON.stringify(ajax.aaData);
                var jcsv = json2spreadsheet(jstring);
                download(jcsv, filename, "text/csv");
            });
        }

        $('#dclSpreadsheet').click(function () {
            var url = "/Reports/AjaxDcl";
            var data = { todaysdate: $('#dclDate').val() };
            makeSpreadsheet(url, data);
        });

        $('#wecSpreadsheet').click(function () {
            var url = "/Reports/AjaxWec";
            var data = { todaysdate: $('#wecDate').val() };
            makeSpreadsheet(url, data);
        });

        $('#mwdSpreadsheet').click(function () {
            var url = "/Reports/AjaxMwd";
            var data = { todaysdate: $('#mwdDate').val() };
            makeSpreadsheet(url, data);
        });

        // | PIE CHARTS |
        function makePie(crust, filling) {
            var url;
            var data;
            if (crust == 'summary' && filling == 'day') {
                url = "/Reports/AjaxDcl";
                data = { todaysdate: $('#dclDate').val() };
                $.getJSON(url, data, function (ajax) {
                    dayPieArray = dailySigninPie(ajax);
                    var plot1 = $.jqplot('dailyPieChart1', dayPieArray.firstPie,
                        {
                            seriesDefaults: {
                                renderer: $.jqplot.PieRenderer,
                                rendererOptions: {
                                    showDataLabels: true
                                }
                            },
                            legend: { show: true, location: 'e' }
                        }
                    );
                    var plot2 = $.jqplot('dailyPieChart2', dayPieArray.secondPie,
                        {
                            seriesDefaults: {
                                renderer: $.jqplot.PieRenderer,
                                rendererOptions: {
                                    showDataLabels: true
                                }
                            },
                            legend: { show: true, location: 'e' }
                        }
                    );
                });
            }
            else if (crust == 'summary' && filling == 'week') {
                url = "/Reports/AjaxWec";
                data = { todaysdate: $('#wecDate').val() };
                $.getJSON(url, data, function (ajax) {
                    weekPieArray = weeklySigninPie(ajax);
                    var weekPlot = $.jqplot('weeklyPieChart', weekPieArray.weekPie,
                        {
                            seriesDefaults: {
                                renderer: $.jqplot.PieRenderer,
                                rendererOptions: {
                                    showDataLabels: true
                                }
                            },
                            legend: { show: true, location: 'e' }
                        }
                    );
                });
            }
        }
    });
</script>