@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@Scripts.Render("~/bundles/reports")

@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}
<div id="reportTabs">
    <ul>
        <li><a href="#summaryWrapper" id="summaryTab" >@Machete.Web.Resources.Reports.summaryTab</a> </li>
        <li><a href="#ssrsWrapper" id="ssrsTab">@Machete.Web.Resources.Reports.ssrsTab</a> </li>
    </ul>

    @Html.Partial("Summary")
    @Html.Partial("SSRS")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //Note that the yearly and quarterly functions are the same. This is by design.

        //VARS
        // These are at the top of the anonymous functions
        // section because that's what ECMA
        // does with them anyway.
        var lang = datatable_lang_@(CI.TwoLetterISOLanguageName);

        var oDclTable = $.extend(true, {}, reportTableDefaults("/Reports/AjaxDcl", lang, $('#dclDate').val()));
        var oWecTable = $.extend(true, {}, reportTableDefaults("/Reports/AjaxWec", lang, $('#wecDate').val()));
        var oMwdTable = $.extend(true, {}, reportTableDefaults("/Reports/AjaxMwd", lang, $('#dclDate').val()));

        oDclTable.aoColumns = [
            { mDataProp: "date" },
            { mDataProp: "dwcList" },
            { mDataProp: "dwcPropio" },
            { mDataProp: "hhhList" },
            { mDataProp: "hhhPropio" },
            { mDataProp: "uniqueSignins" },
            { mDataProp: "totalSignins" },
            { mDataProp: "totalAssignments" },
            { mDataProp: "cancelledJobs" },
        ];

        oWecTable.aoColumns = [
                { mDataProp: "weekday" },
                { mDataProp: "date" },
                { mDataProp: "totalSignins" },
                { mDataProp: "totalAssignments" },
                { mDataProp: "weekEstDailyHours" },
                { mDataProp: "weekEstPayment" },
                { mDataProp: "weekHourlyWage" },
                {
                    mDataProp: null,
                    sDefaultContent: '<img src="/Content/dataTables/details_open.png" class="nestedDetailsButton">'
                },
        ];

        oMwdTable.aoColumns = [
            { mDataProp: "date" },
            { mDataProp: "activeMembers" },
            { mDataProp: "totalSignins" },
            { mDataProp: "wentToClass" },
            { mDataProp: "dispatched" },
            { mDataProp: "totalHours" },
            { mDataProp: "totalIncome" },
            { mDataProp: "avgIncomePerHour" },
            {
                mDataProp: null,
                sDefaultContent: '<img src="/Content/dataTables/details_open.png" class="nestedDetailsButton">'
            }
        ];

        var dcl = $('#dclDataTable').dataTable(oDclTable);
        var wec = $('#wecDataTable').dataTable(oWecTable);
        var mwd = $('#mwdDataTable').dataTable(oMwdTable);

        //
        // hide stuff 
        //  
        $('#summaryHide').click(
            function () {
                $('#summaryPopup').hide();
            });

        $('#dclHelp').hide();
        $('#wecHelp').hide();
        $('#mwdHelp').hide();

        $('#dclTable').hide();
        $('#wecTable').hide();
        $('#mwdTable').hide();


        //
        // make stuff pretty
        //
        $('#reportTabs').tabs();

        //$('#ssrsReports').button();

        $('.formButton').button();

        // ACCORDIONS        
        $('#summaryReports').accordion({
            collapsible: true,
            active: false,
            autoHeight: false
        });
        
        ////////////////////// | the date-pickerers |

        //
        // Daily datepickerer
        //

        $('.ui-dcl-datepicker').hover(
            function () {
                $('#dclHelp').show("fade", 2200);
            },
            function () {
                $('#dclHelp').hide("fade", 2200);
            });

        $('.ui-dcl-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.ui-dcl-datepicker').change(
            function (event) {
                dclNewTable();
            });

        //
        // Weekly datepickerer
        //

        $('.ui-wec-datepicker').hover(
            function () {
                $('#wecHelp').show("fade", 2200);
            },
            function () {
                $('#wecHelp').hide("fade", 2200);
            });

        $('.ui-wec-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus",
            beforeShowDay: function (date) {
                var day = date.getDay();
                return [(day > 5), ''];
            }
        });

        $('.ui-wec-datepicker').change(
            function (event) {
                wecNewTable();
            });

        //
        // Monthly datepickerer
        //

        $('.ui-mwd-datepicker').hover(
            function () {
                $('#mwdHelp').show("fade", 2200);
            },
            function () {
                $('#mwdHelp').hide("fade", 2200);
            });

        $('.ui-mwd-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.ui-mwd-datepicker').change(
            function (event) {
                mwdNewTable();
            });

        //////////////////////////////////////////////////////////////////////// | DATATABLES |
        //
        // Looking for the table properties? Try reports.js in ~/Web/Scripts
        //

        function dclNewTable() {
            oDclTable = $.extend(true, {}, reportTableDefaults("/Reports/AjaxDcl", lang, $('#dclDate').val()));
            oDclTable.aoColumns = [
                { mDataProp: "date" },
                { mDataProp: "dwcList" },
                { mDataProp: "dwcPropio" },
                { mDataProp: "hhhList" },
                { mDataProp: "hhhPropio" },
                { mDataProp: "uniqueSignins" },
                { mDataProp: "totalSignins" },
                { mDataProp: "totalAssignments" },
                { mDataProp: "cancelledJobs" },
            ];
            oDclTable.bDestroy = "true,";
            $('#dclDataTable').dataTable(oDclTable).fnReloadAjax();
            //dailyPie();
        }

        function wecNewTable() {
            oWecTable = $.extend(true, {}, reportTableDefaults("/Reports/AjaxWec", lang, $('#wecDate').val()));
            oWecTable.aoColumns = [
                { mDataProp: "weekday" },
                { mDataProp: "date" },
                { mDataProp: "totalSignins" },
                { mDataProp: "totalAssignments" },
                { mDataProp: "weekEstDailyHours" },
                { mDataProp: "weekEstPayment" },
                { mDataProp: "weekHourlyWage" },
                {
                    mDataProp: null,
                    sDefaultContent: '<img src="/Content/dataTables/details_open.png" class="nestedDetailsButton">'
                },
            ];
            oWecTable.bDestroy = "true,";
            $('#wecDataTable').dataTable(oWecTable).fnReloadAjax();
        }

        function mwdNewTable() {
            oMwdTable = $.extend(true, {}, reportTableDefaults("/Reports/AjaxMwd", lang, $('#mwdDate').val()));
            oMwdTable.aoColumns = [
                { mDataProp: "date" },
                { mDataProp: "activeMembers"},
                { mDataProp: "totalSignins" },
                { mDataProp: "wentToClass"},
                { mDataProp: "dispatched"},
                { mDataProp: "totalHours" },
                { mDataProp: "totalIncome" },
                { mDataProp: "avgIncomePerHour" },
                { 
                    mDataProp: null,
                    sDefaultContent: '<img src="/Content/dataTables/details_open.png" class="nestedDetailsButton">'
                }
            ];
            oMwdTable.bDestroy = true;
            $('#mwdDataTable').dataTable(oMwdTable).fnReloadAjax();
            @*monthlyPie();*@
        }

        ////////////////////////////////////////////////////////////// | DRILLDOWNS |
        ////////////////////////////////////////////////////////////// | [+] [-]... |

        //
        // WEEKLY
        //

        function fnFormatWeekDetails(oTable, nTr) {
            var aData = oTable.fnGetData(nTr);
            var jobList = aData.topJobs;
            var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="margin-left: 13.5%;background: #90A2B6;border: solid 2px gray;border-collapse: separate;">';
            sOut += '<thead><tr><th>Date</th>';
            sOut += '<th>Skill</th>';
            sOut += '<th>Count</th>';
            sOut += '</tr></thead><tbody>';
            for (var i in jobList) {
                var job = jobList[i];
                sOut += '<tr><td>' + job.date + '</td><td>' + job.skill + '</td><td>' + job.count + '</td></tr>';
            }
            sOut += '</tbody></table>';
            return sOut;
        }

        $('#wecDataTable tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];

            if (wec.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/Content/dataTables/details_open.png";
                wec.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "/Content/dataTables/details_close.png";
                wec.fnOpen(nTr, fnFormatWeekDetails(wec, nTr), 'nestedDetails');
            }
        });

        //
        // MONTHLY
        //

        function fnFormatMonthDetails(oTable, nTr) {
            var aData = oTable.fnGetData(nTr);
            var drillList = aData.drilldown;
            var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="margin-left: 13.5%;background: #90A2B6;border: solid 2px gray;border-collapse: separate;">';
            sOut += '<thead><tr><th>Enrolled</th>';
            sOut += '<th>Exited</th>';
            sOut += '<th>Unique Signin</th>';
            sOut += '<th>Temporary</th>';
            sOut += '<th>Permanent</th>';
            sOut += '<th>Unique Dispatch</th>';
            sOut += '</tr></thead><tbody>';
            for (var i in drillList) {
                var item = drillList[i];
                sOut += '<tr><td>' + item.newlyEnrolled + '</td><td>'
                    + item.peopleWhoLeft + '</td><td>'
                    + item.uniqueSignins + '</td></tr>'
                    + item.tempDispatched + '</td></tr>'
                    + item.permanentPlacements + '</td></tr>'
                    + item.undupDispatched + '</td></tr>';
            }
            sOut += '</tbody></table>';
            return sOut;
        }

        $('#mwdDataTable tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];

            if (mwd.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/Content/dataTables/details_open.png";
                mwd.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "/Content/dataTables/details_close.png";
                mwd.fnOpen(nTr, fnFormatMonthDetails(mwd, nTr), 'nestedDetails');
            }
        });

        ///////////////////////////////////////////////////////////////////////////////// | BUTTONS |
        //
        //

        // | REFRESH |

        $('#dclDataOnlyBtn').click(
            function () {
                dclNewTable();
            });

        $('#wecDataOnlyBtn').click(
            function () {
                wecNewTable();
            });

        $('#mwdDataOnlyBtn').click(
            function () {
                mwdNewTable();
            });

        // | PRINT VIEWS |



        // | SPREADSHEETS |

        //
        // ||| PIE CHARTS |||
        //

    });
</script>