@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}
<div id="reportTabs">
    <ul>
        <li><a href="#summaryReports" id="summaryTab" >@Machete.Web.Resources.Reports.summaryTab</a> </li>
        <!-- only doing summary reports for now -->
    </ul>
    <div id="summaryHeader">
        <h3 style="padding-left: .5em;">@Machete.Web.Resources.Reports.summaryHeader</h3>
        <div id="summaryPopup">
            <p id="summaryInstructions" style="padding-left:.5em">
                @Machete.Web.Resources.Reports.summaryInstructions
            </p>
            <input type="button" value="Hide" class="formButton" id="summaryHide" />
        </div>
        <div id="sorryNoPieCharts" style="padding-left:.5em">
            <h3 style="color:red;">Sorry, pie charts aren't available quite yet! Just wait for the next update!</h3>
            <!-- please note, this only exists in English because it won't be sticking around long -->
        </div>
        <div id="sorryNoPrintView" style="padding-left:.5em">
            <h3 style="color:red;">Sorry, report printing isn't quite done yet! Please excuse our mess!</h3>
            <!-- please note, this only exists in English because it won't be sticking around long -->
        </div>
    </div>

    <div id="summaryReports">
        <h3><a href="#" id="dclLink">Daily (Casa Latina)</a></h3>
        <div id="dclTable">
            <input type="button" value="Data Only" class="formButton" id="dclDataOnlyBtn" />
            <input type="button" value="Pie Chart" class="formButton" id="dclPieChartBtn" />
            <input type="button" value="Print Report" class="formButton" id="dclPrintReport" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-dcl-datepicker", @id = "dclDate" })
            <p id="dclHelp"><em>Select a day to see results.</em></p>
            <table id="dclSummaryTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.dwcList</th>
                        <th>@Machete.Web.Resources.Reports.dwcPropio</th>
                        <th>@Machete.Web.Resources.Reports.hhhList</th>
                        <th>@Machete.Web.Resources.Reports.hhhPropio</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.cancelledJobs</th>
                        <th>@Machete.Web.Resources.Reports.dwcFuture</th>
                        <th>@Machete.Web.Resources.Reports.dwcPropioFuture</th>
                        <th>@Machete.Web.Resources.Reports.hhhFuture</th>
                        <th>@Machete.Web.Resources.Reports.hhhPropioFuture</th>
                        <th>@Machete.Web.Resources.Reports.futureTotal</th>
                    </tr>
                </thead>
            </table>
        </div>
        <h3><a href="#" id="wecLink">Weekly (El Centro)</a></h3>
        <div id="wecTable">
            <input type="button" value="Data Only" class="formButton" id="wecDataOnlyBtn" />
            <input type="button" value="Pie Chart" class="formButton" id="wecPieChartBtn" />
            <input type="button" value="Print Report" class="formButton" id="wecPrintReport" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-wec-datepicker", @id = "wecDate" })
            <p id="wecHelp"><em>Select a day to see results for that week.</em></p>
            <table id="wecSummaryTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.noWeekJobs</th>
                        <!--<th>Machete.Web.Resources.Reports.weekJobsSect</th>-->
                        <th>@Machete.Web.Resources.Reports.weekEstDailyHours</th>
                        <th>@Machete.Web.Resources.Reports.weekEstPayment</th>
                        <th>@Machete.Web.Resources.Reports.weekHourlyWage</th>
                    </tr>
                </thead>
            </table>
        </div>
        <h3><a href="#" id="mwdLink">Monthly, With Detail</a></h3>
        <div id="mwdTable">
            <input type="button" value="Data Only" class="formButton" id="mwdDataOnlyBtn" />
            <input type="button" value="Pie Chart" class="formButton" id="mwdPieChartBtn" />
            <input type="button" value="Print Report" class="formButton" id="mwdPrintReport" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-mwd-datepicker", @id = "mwdDate" })
            <p id="mwdHelp"><em>Select any day in a month to see results.</em></p>
            <table id="mwdSummaryTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.dwcSignins</th>
                        <th>@Machete.Web.Resources.Reports.hhhSignins</th>
                        <th>@Machete.Web.Resources.Reports.dwcDispatch</th>
                        <th>@Machete.Web.Resources.Reports.hhhDispatch</th>
                        <th>@Machete.Web.Resources.Reports.totalHours</th>
                        <th>@Machete.Web.Resources.Reports.totalIncome</th>
                        <th>@Machete.Web.Resources.Reports.avgIncome</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // hide the following ///////////////////////|X|
        //  
        $('#dclTable').hide(); // Daily (Casa Latina) table
        $('#wecTable').hide(); // Weekly (El Centro) table
        $('#mwdTable').hide(); // Monthly With Detail
        // These  (above ) may be better hidden by using partial views. But so many files for the reports...
        $('#summaryPopup').hide();
        $('#sorryNoPieCharts').hide();
        $('#sorryNoPrintView').hide();
        // The preceding pop up in the header area when various events occur...
        $('#dclHelp').hide();
        $('#wecHelp').hide();
        $('#mwdHelp').hide();
        // these three show up when someone is taking their time picking a date
        // to instruct them how to proceed.

        //////// TABS and ACCORDIONS and TOOLTIPS //////// |X|
        // the following code creates tabs from listed item tags 
        // in the HTML, by ID $("#id")
        $('#reportTabs').tabs();
        $('#summaryHeader').hover(
            function () {
                $('#summaryPopup').show("fold", 1000);
            },
            function () {
                $('#summaryHeader').off('hover')
            });
        $('#summaryHide').click(
            function () {
                $('#summaryPopup').hide();
            });
        // Shows for ten seconds on hover, hides when button clicked.

        // The reports start in accordion format, closed.
        $('#summaryReports').accordion({
                collapsible: true,
                active: false,
                autoHeight: false
            });

        // A click anywhere in the summary reports div keeps the header help
        // from showing up again, unless page is reloaded. This helps eliminate
        // clunkiness.
        $('#summaryReports').click(
            function () {
                $('#summaryHeader').unbind('mouseenter mouseleave');
        //    },
        //    function () {
        //        $('#summaryReports')
        //            .filter(":not(:has(.selected))") 
        //            .accordion("activate", 0);
            });
        // commented out while troubleshooting accordion panelse that won't close


        ///////////////////////////// PIE CHARTS /////////////////////////|X|
        // Buttons for showing and hiding
        // the Pie Charts feature ...
        // ... which doesn't exist yet!
        //

        $('#dclDataOnlyBtn').click(function () {
            $('#sorryNoPieCharts').hide();
        });

        $('#dclPieChartBtn').click(function () {
            $('#sorryNoPieCharts').show("fold", 400);
        });

        $('#dclPrintReport').click(function () {
            $('#sorryNoPrintView').show("fold", 400);
        });

        $('#wecDataOnlyBtn').click(function () {
            $('#sorryNoPieCharts').hide();
        });

        $('#wecPieChartBtn').click(function () {
            $('#sorryNoPieCharts').show("fold", 400);
        });

        $('#wecPrintReport').click(function () {
            $('#sorryNoPrintView').show("fold", 400);
        });

        $('#mwdDataOnlyBtn').click(function () {
            $('#sorryNoPieCharts').hide();
        });

        $('#mwdPieChartBtn').click(function () {
            $('#sorryNoPieCharts').show("fold", 400);
        });

        $('#mwdPrintReport').click(function () {
            $('#sorryNoPrintView').show("fold", 400);
        });

        //
        //

        //////////////////////////////////////// DATATABLES //////////////////////////////////////|X|
        // Datatables uses something called Hungarian notation wherein they put the purpose
        // of a given variable to the left of the variable name. E.g., i is integer, o is
        // object. More at datatables.net.
        //

        var dclTableDefaults = {
            "bPaginate": false, // to enable pagination (this report has fixed size)
            "bAutoWidth": false,
            "bDestroy": false,
            "bInfo": true, //shows information about data being displayed on the page
            "bSort": false, //enable or disable sorting of columns
            "bFilter": false, //enable or disable filtering of data
            "bServerSide": true, //server side processing, req. source
            "sAjaxSource": "/Reports/AjaxDcl", //source for server side processing
            "bProcessing": true, //enable processing indicator
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName), //internationalisation
            "aoColumns": [
                { mDataProp: "dwcList" },
                { mDataProp: "dwcPropio" },
                { mDataProp: "hhhList" },
                { mDataProp: "hhhPropio" },
                { mDataProp: "totalSignins" },
                { mDataProp: "cancelledJobs" },
                { mDataProp: "dwcFuture" },
                { mDataProp: "dwcPropioFuture" },
                { mDataProp: "hhhFuture" },
                { mDataProp: "hhhPropioFuture" },
                { mDataProp: "futureTotal" },
            ], //these are the column names in the array; number must match # of cols. in table
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "todaysdate", "value": $('#dclDate').val() });
                $.getJSON(sSource, aoData, function (json) {
                    /* Do whatever additional processing you want on the callback, then tell DataTables */
                    fnCallback(json)
                });
            }
        };

        var wecTableDefaults = {
            "bPaginate": false, // to enable pagination (this report has fixed size)
            "bAutoWidth": false,
            "bDestroy": false,
            "bInfo": true, //shows information about data being displayed on the page
            "bSort": false, //enable or disable sorting of columns
            "bFilter": false, //enable or disable filtering of data
            "bServerSide": true, //server side processing, req. source
            "sAjaxSource": "/Reports/AjaxWec", //source for server side processing
            "bProcessing": true, //enable processing indicator
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName), //internationalisation
            "aoColumns": [
                { mDataProp: "date" },
                { mDataProp: "totalSignins" },
                { mDataProp: "noWeekJobs" },
//                { mDataProp: "weekJobsSector" },
                { mDataProp: "weekEstDailyHours" },
                { mDataProp: "weekEstPayment" },
                { mDataProp: "weekHourlyWage" },
            ], // column names; must match # of cols. in table
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "todaysdate", "value": $('#wecDate').val() });
                $.getJSON(sSource, aoData, function (json) {
                    /* Do whatever additional processing you want on the callback, then tell DataTables */
                    fnCallback(json)
                });
            }
        };

        var mwdTableDefaults = {
            "bPaginate": false, // to enable pagination (this report has fixed size)
            "bAutoWidth": false,
            "bDestroy": false,
            "bInfo": true, //shows information about data being displayed on the page
            "bSort": false, //enable or disable sorting of columns
            "bFilter": false, //enable or disable filtering of data
            "bServerSide": true, //server side processing, req. source
            "sAjaxSource": "/Reports/AjaxMwd", //source for server side processing
            "bProcessing": true, //enable processing indicator
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName), //internationalisation
            "aoColumns": [
                { mDataProp: "date" },
                { mDataProp: "totalSignins" },
                { mDataProp: "totalDWCSignins" },
                { mDataProp: "totalHHHSignins" },
                { mDataProp: "dispatchedDWCSignins" },
                { mDataProp: "dispatchedHHHSignins" },
                { mDataProp: "totalHours" },
                { mDataProp: "totalIncome" },
                { mDataProp: "avgIncomePerHour" }
            ], // column names; must match # of cols. in table
            "fnServerData": function ( sSource, aoData, fnCallback ) {
                aoData.push({ "name": "todaysdate", "value": $('#mwdDate').val() });
                $.getJSON(sSource, aoData, function (json) {
                    /* Do whatever additional processing you want on the callback, then tell DataTables */
                    fnCallback(json)
                });
            }
        };

        var dclNewTable = jQuery.extend(true, {}, dclTableDefaults);
        var wecNewTable = jQuery.extend(true, {}, wecTableDefaults);
        var mwdNewTable = jQuery.extend(true, {}, mwdTableDefaults);

        dclNewTable["bDestroy"] = "true,";
        wecNewTable["bDestroy"] = "true,";
        mwdNewTable["bDestroy"] = "true,";

        $('#dclLink').click(function () {
            $('#dclSummaryTable').dataTable(dclTableDefaults);
        });

        $('#wecLink').click(function () {
            $('#wecSummaryTable').dataTable(wecTableDefaults);
        });

        $('#mwdLink').click(function () {
            $('#mwdSummaryTable').dataTable(mwdTableDefaults);
        });

        //////////////// the date-pickerers /////////////////|X|
        //
        // Daily, Casa Latina datepicker
        //

        $('.ui-dcl-datepicker').hover(
            function () {
                $('#dclHelp').delay(2000).show("fade", 1000);
            },
            function () {
                $('#dclHelp').hide();
            });
        
        $('.ui-dcl-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.ui-dcl-datepicker').change(
            function (event) {
                dclNewTable["todaysdate"] = $('#dclDate').val();
                $('#dclSummaryTable').dataTable(dclNewTable).fnReloadAjax();
            });

        //
        // Weekly, El Centro datepicker
        //
        $('.ui-wec-datepicker').hover(
            function () {
                $('#wecHelp').show("fade", 1000);
            },
            function () {
                $('#wecHelp').hide("fade", 2000).off('hover');
            });

        $('.ui-wec-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus",
            beforeShowDay: function (date) {
                var day = date.getDay();
                return [(day > 5), ''];
            }
        });

        $('.ui-wec-datepicker').change(
            function (event) {
                wecNewTable["todaysdate"] = $('#wecDate').val();
                $('#wecSummaryTable').dataTable(wecNewTable).fnReloadAjax();
            });

        $('.ui-mwd-datepicker').hover(
            function () {
                $('#mwdHelp').show("fade", 1000);
            },
            function () {
                $('#mwdHelp').hide();
            });

        $('.ui-mwd-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.ui-mwd-datepicker').change(
            function (event) {
                mwdNewTable["todaysdate"] = $('#mwdDate').val();
                $('#mwdSummaryTable').dataTable(mwdNewTable).fnReloadAjax();
            });
    });
    // end DOM ready check
</script>

