@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}
<div id="reportTabs">
    <ul>
        <li><a href="#summaryWrapper" id="summaryTab" >@Machete.Web.Resources.Reports.summaryTab</a> </li>
        <li><a href="/Reports/Orders" id="ordersTab">@Machete.Web.Resources.Reports.ordersTab</a></li>
    </ul>

    <div id="summaryWrapper">
        @*This is the default view.*@
    <div id="summaryHeader">
        <h3 style="padding-left: .5em;">@Machete.Web.Resources.Reports.summaryHeader</h3>
        <div id="summaryPopup">
                <p id="summaryInstructions" style="padding-left:.5em">
                    @Machete.Web.Resources.Reports.summaryInstructions
                    <input type="button" value="Hide" class="formButton" id="summaryHide" />
                </p>
        </div>
    </div>

    <div id="summaryReports">
        <h3><a href="#" id="dclLink">Daily</a></h3>
        <div id="dclTable">
            <input type="button" value="Refresh" class="formButton" id="dclDataOnlyBtn" />
            <input type="button" value="Print Report" class="formButton" id="dclPrintReport" />
            <input type="button" value="Spreadsheet" class="formButton" id="dclSpreadsheet" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-dcl-datepicker", @id = "dclDate" })
            <p id="dclHelp" style="display:inline;"><em>Select a day to see results.</em></p>
            <table id="dclDataTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.dwcList</th>
                        <th>@Machete.Web.Resources.Reports.dwcPropio</th>
                        <th>@Machete.Web.Resources.Reports.hhhList</th>
                        <th>@Machete.Web.Resources.Reports.hhhPropio</th>
                        <th>Unique</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.totalAssignments</th>
                        <th>@Machete.Web.Resources.Reports.cancelledJobs</th>
                    </tr>
                </thead>
            </table>
            <div id="dailyPieChart1" style="height:auto;width:50%;float:left;"></div>
            <div id="dailyPieChart2" style="height:auto;width:50%;float:left;"></div>
        </div>
        <h3><a href="#" id="wecLink">Weekly</a></h3>
        <div id="wecTable">
            <input type="button" value="Refresh" class="formButton" id="wecDataOnlyBtn" />
            <input type="button" value="Print" class="formButton" id="wecPrintReport" />
            <input type="button" value="Spreadsheet" class="formButton" id="wecSpreadsheet" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-wec-datepicker", @id = "wecDate" })
            <p id="wecHelp" style="display:inline;"><em>Select a day to see results for that week.</em></p>
            <table id="wecDataTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.weekday</th>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.totalAssignments</th>
                        <th>@Machete.Web.Resources.Reports.weekEstDailyHours</th>
                        <th>@Machete.Web.Resources.Reports.weekEstPayment</th>
                        <th>@Machete.Web.Resources.Reports.weekHourlyWage</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            <div id="weeklyPieChart" style="height:auto;width:50%;float:right;"></div>
        </div>
        <h3><a href="#" id="mwdLink">Monthly</a></h3>
        <div id="mwdTable">
            <input type="button" value="Refresh" class="formButton" id="mwdDataOnlyBtn" />
            <input type="button" value="Print" class="formButton" id="mwdPrintReport" />
            <input type="button" value="Spreadsheet" class="formButton" id="mwdSpreadsheet" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-mwd-datepicker", @id = "mwdDate" })
            <p id="mwdHelp" style="display:inline;"><em>Select any day in a month to see results.</em></p>
            <table id="mwdDataTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>Unique</th>
                        <th>@Machete.Web.Resources.Reports.dwcSignins</th>
                        <th>@Machete.Web.Resources.Reports.hhhSignins</th>
                        <th>@Machete.Web.Resources.Reports.dwcDispatch</th>
                        <th>@Machete.Web.Resources.Reports.hhhDispatch</th>
                        <th>@Machete.Web.Resources.Reports.totalHours</th>
                        <th>@Machete.Web.Resources.Reports.totalIncome</th>
                        <th>@Machete.Web.Resources.Reports.avgIncome</th>
                    </tr>
                </thead>
            </table>
            <div id="monthlyPieChart1" style="height:auto;width:50%;float:left;"></div>
            <div id="monthlyPieChart2" style="height:auto;width:50%;float:left;"></div>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //PESKY VARS
        // The reason oWecTable exists here is it was necessary to have JS parse var wec (below) to get the drill
        // down menus to work. These are at the top of the anonymous functions section because that's what ECMA
        // does with them anyway.
        var lang = datatable_lang_@(CI.TwoLetterISOLanguageName);
        var oWecTable = $.extend(true, {}, reportTableDefaults("/Reports/AjaxWec", lang, $('#wecDate').val()));
        var wec = $('#wecDataTable').dataTable(oWecTable);

        //
        // hide stuff 
        //  
        $('#dclTable').hide(); // Daily (Casa Latina) table
        $('#wecTable').hide(); // Weekly (El Centro) table
        $('#mwdTable').hide(); // Monthly With Detail
        // These  (above ) may be better hidden by using partial views. But so many files for the reports...
        $('#sorryNoPieCharts').hide();
        $('#sorryNoPrintView').hide();
        // The preceding pop up in the header area when various events occur...
        $('#dclHelp').hide();
        $('#wecHelp').hide();
        $('#mwdHelp').hide();
        // these three show up when someone is taking their time picking a date
        // to instruct them how to proceed.



        ////////////////////// | the date-pickerers |

        //
        // Daily datepickerer
        //

        $('.ui-dcl-datepicker').hover(
            function () {
                $('#dclHelp').show("fade", 2200);
            },
            function () {
                $('#dclHelp').hide("fade", 2200);
            });

        $('.ui-dcl-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.ui-dcl-datepicker').change(
            function (event) {
                dclNewTable();
            });

        //
        // Weekly datepickerer
        //

        $('.ui-wec-datepicker').hover(
            function () {
                $('#wecHelp').show("fade", 2200);
            },
            function () {
                $('#wecHelp').hide("fade", 2200);
            });

        $('.ui-wec-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus",
            beforeShowDay: function (date) {
                var day = date.getDay();
                return [(day > 5), ''];
            }
        });

        $('.ui-wec-datepicker').change(
            function (event) {
                wecNewTable();
            });

        //
        // Monthly datepickerer
        //

        $('.ui-mwd-datepicker').hover(
            function () {
                $('#mwdHelp').show("fade", 2200);
            },
            function () {
                $('#mwdHelp').hide("fade", 2200);
            });

        $('.ui-mwd-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.ui-mwd-datepicker').change(
            function (event) {
                mwdNewTable();
            });


        //////////////////// | ACCORDIONS |
        //
        //
        $('#reportTabs').tabs();
        $('#summaryHide').click(
            function () {
                $('#summaryPopup').hide();
            });

        $('#summaryReports').accordion({
            collapsible: true,
            active: false,
            autoHeight: false
        });

        $('#dclLink').click(function () {
            dclNewTable();
        });

        $('#wecLink').click(function () {
            wecNewTable();
        });

        $('#mwdLink').click(function () {
            mwdNewTable();
        });

        //////////////////////////////////////////////////////////////////////// | DATATABLES |
        //
        // Looking for the table properties? Try reports.js in ~/Web/Scripts
        //

        function dclNewTable() {
            var dclNewTable = $.extend(true, {}, dclTableDefaults(lang, $('#dclDate').val()));
            dclNewTable["bDestroy"] = "true,";
            $('#dclDataTable').dataTable(dclNewTable).fnReloadAjax();
            dailyPie();
        };

        //wecNewTable() has a different format than the other functions listed here. See above
        //for the explanation. (Under section "pesky vars").
        function wecNewTable() {
            oWecTable["bDestroy"] = "true,";
            $('#wecDataTable').dataTable(oWecTable).fnReloadAjax();
        };

        function mwdNewTable() {
            var mwdNewTable = $.extend(true, {}, mwdTableDefaults(lang, $('#mwdDate').val()));
            mwdNewTable["bDestroy"] = "true,";
            $('#mwdDataTable').dataTable(mwdNewTable).fnReloadAjax();
        };

        function fnFormatDetails(oTable, nTr) {
            var aData = oTable.fnGetData(nTr);
            var jobList = aData['topJobs'];
            var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="margin-left: 13.5%;background: #90A2B6;border: solid 2px gray;border-collapse: separate;">';
            sOut += '<thead><tr><th>Date</th>';
            sOut += '<th>Skill</th>';
            sOut += '<th>Count</th>';
            sOut += '</tr></thead><tbody>';
            for (var i in jobList)
            {
                var job = jobList[i];
                sOut += '<tr><td>'+job.date+'</td><td>'+job.skill+'</td><td>'+job.count+'</td></tr>';
            }
            sOut += '</tbody></table>';
            return sOut;
        }


        ///////////////////////////////////////////////////////////////////////////////// | BUTTONS |
        //
        //

        // | REFRESH |

        $('#dclDataOnlyBtn').click(
            function () {
                dclNewTable();
        });

        $('#wecDataOnlyBtn').click(
            function () {
                wecNewTable();
        });

        $('#mwdDataOnlyBtn').click(
            function () {
                mwdNewTable();
            });

        // | PRINT VIEWS |

         $('#dclPrintReport').click(
             function () {
                 window.open('/Reports/PrintView?date='+$('#dclDate').val()+'&typeOfReport=daily');
             });

         $('#wecPrintReport').click(
             function () {
                 window.open('/Reports/PrintView?date='+$('#wecDate').val()+'&typeOfReport=weekly');
             });

         $('#mwdPrintReport').click(
             function () {
                 window.open('/Reports/PrintView?date='+$('#mwdDate').val()+'&typeOfReport=monthly');
             });

        // | SPREADSHEETS |
         $('#dclSpreadsheet').click(function () {
             var url = "/Reports/AjaxDcl";
             var data = { todaysdate: $('#dclDate').val() };
             $.getJSON(url, data, function (ajax) {
                 var jstring = JSON.stringify(ajax.aaData);
                 var jcsv = json2spreadsheet(jstring);
                 download(jcsv, "reports.csv", "text/csv");
             });
         });

         $('#wecSpreadsheet').click(function () {
             var url = "/Reports/AjaxWec";
             var data = { todaysdate: $('#wecDate').val() };
             $.getJSON(url, data, function (ajax) {
                 var jstring = JSON.stringify(ajax.aaData);
                 var jcsv = json2spreadsheet(jstring);
                 download(jcsv, "reports.csv", "text/csv");
             });
         });

         $('#mwdSpreadsheet').click(function () {
             var url = "/Reports/AjaxMwd";
             var data = { todaysdate: $('#mwdDate').val() };
             $.getJSON(url, data, function (ajax) {
                 var jstring = JSON.stringify(ajax.aaData);
                 var jcsv = json2spreadsheet(jstring);
                 download(jcsv, "reports.csv", "text/csv");
             });
         });

         $('#wecDataTable tbody td img').live('click', function () {
             var nTr = $(this).parents('tr')[0];

             if (wec.fnIsOpen(nTr)) {
                 /* This row is already open - close it */
                 this.src = "/Content/dataTables/details_open.png";
                 wec.fnClose(nTr);
             } else {
                 /* Open this row */
                 this.src = "/Content/dataTables/details_close.png";
                 wec.fnOpen(nTr, fnFormatDetails(wec, nTr), 'nestedDetails');
             }
         });

        // | PIE CHARTS |
         function dailyPie() {
             var pieUrl = "/Reports/AjaxDcl";
             var ajaxData = { todaysdate: $('#dclDate').val() };
             var pieFilling1 = pieFilling(pieUrl, ajaxData, 'dailySigninPie');
             var pieFilling2 = pieFilling(pieUrl, ajaxData, 'gotJobsPie');
             var pieOptions = getPieOptions(true);
             var dayPie1 = $.jqplot($('#pieChart1'), pieFilling1, pieOptions);
             var dayPie2 = $.jqplot($('#pieChart2'), pieFilling2, pieOptions);
         }
    });
    // end DOM ready check
</script>