@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}
<div id="reportTabs">
    <ul>
        <li><a href="#summaryWrapper" id="summaryTab" >@Machete.Web.Resources.Reports.summaryTab</a> </li>
        <li><a href="/Reports/Orders" id="ordersTab">@Machete.Web.Resources.Reports.ordersTab</a></li>
        <!-- only doing summary reports for now -->
    </ul>

    <div id="summaryWrapper">
        @*The idea here is that this div could be its own partial view. It is the default view.*@
    <div id="summaryHeader">
        <h3 style="padding-left: .5em;">@Machete.Web.Resources.Reports.summaryHeader</h3>
        <div id="summaryPopup">
                <p id="summaryInstructions" style="padding-left:.5em">
                    @Machete.Web.Resources.Reports.summaryInstructions
                    <input type="button" value="Hide" class="formButton" id="summaryHide" />
                </p>
        </div>
        <div id="sorryNoPieCharts" style="padding-left:.5em">
            <h3 style="color:red;">Sorry, pie charts aren't available quite yet! Just wait for the next update!</h3>
            <!-- please note, this only exists in English because it won't be sticking around long -->
        </div>
        <div id="sorryNoPrintView" style="padding-left:.5em">
            <h3 style="color:red;">Sorry, report printing isn't quite done yet! Please excuse our mess!</h3>
            <!-- please note, this only exists in English because it won't be sticking around long -->
        </div>
    </div>

    <div id="summaryReports">
        <h3><a href="#" id="dclLink">Daily (Casa Latina)</a></h3>
        <div id="dclTable">
            <input type="button" value="Data Only" class="formButton" id="dclDataOnlyBtn" />
            <input type="button" value="Pie Chart" class="formButton" id="dclPieChartBtn" />
            <input type="button" value="Print Report" class="formButton" id="dclPrintReport" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-dcl-datepicker", @id = "dclDate" })
            <p id="dclHelp" style="display:inline;"><em>Select a day to see results.</em></p>
            <table id="dclSummaryTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.dwcList</th>
                        <th>@Machete.Web.Resources.Reports.dwcPropio</th>
                        <th>@Machete.Web.Resources.Reports.hhhList</th>
                        <th>@Machete.Web.Resources.Reports.hhhPropio</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.totalAssignments</th>
                        <th>@Machete.Web.Resources.Reports.cancelledJobs</th>
                    </tr>
                </thead>
            </table>
        </div>
        <h3><a href="#" id="wecLink">Weekly (El Centro)</a></h3>
        <div id="wecTable">
            <input type="button" value="Data Only" class="formButton" id="wecDataOnlyBtn" />
            <input type="button" value="Pie Chart" class="formButton" id="wecPieChartBtn" />
            <input type="button" value="Print Report" class="formButton" id="wecPrintReport" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-wec-datepicker", @id = "wecDate" })
            <p id="wecHelp" style="display:inline;"><em>Select a day to see results for that week.</em></p>
            <table id="wecSummaryTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.weekday</th>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.noWeekJobs</th>
                        <th>@Machete.Web.Resources.Reports.weekJobsSect</th>
                        <th>@Machete.Web.Resources.Reports.weekEstDailyHours</th>
                        <th>@Machete.Web.Resources.Reports.weekEstPayment</th>
                        <th>@Machete.Web.Resources.Reports.weekHourlyWage</th>
                    </tr>
                </thead>
            </table>
        </div>
        <h3><a href="#" id="mwdLink">Monthly, With Detail</a></h3>
        <div id="mwdTable">
            <input type="button" value="Data Only" class="formButton" id="mwdDataOnlyBtn" />
            <input type="button" value="Pie Chart" class="formButton" id="mwdPieChartBtn" />
            <input type="button" value="Print Report" class="formButton" id="mwdPrintReport" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-mwd-datepicker", @id = "mwdDate" })
            <p id="mwdHelp" style="display:inline;"><em>Select any day in a month to see results.</em></p>
            <table id="mwdSummaryTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.dwcSignins</th>
                        <th>@Machete.Web.Resources.Reports.hhhSignins</th>
                        <th>@Machete.Web.Resources.Reports.dwcDispatch</th>
                        <th>@Machete.Web.Resources.Reports.hhhDispatch</th>
                        <th>@Machete.Web.Resources.Reports.totalHours</th>
                        <th>@Machete.Web.Resources.Reports.totalIncome</th>
                        <th>@Machete.Web.Resources.Reports.avgIncome</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // hide the following ///////////////////////|X|
        //  
        $('#dclTable').hide(); // Daily (Casa Latina) table
        $('#wecTable').hide(); // Weekly (El Centro) table
        $('#mwdTable').hide(); // Monthly With Detail
        // These  (above ) may be better hidden by using partial views. But so many files for the reports...
        $('#sorryNoPieCharts').hide();
        $('#sorryNoPrintView').hide();
        // The preceding pop up in the header area when various events occur...
        $('#dclHelp').hide();
        $('#wecHelp').hide();
        $('#mwdHelp').hide();
        // these three show up when someone is taking their time picking a date
        // to instruct them how to proceed.

        //////// TABS and ACCORDIONS and TOOLTIPS //////// |X|
        // the following code creates tabs from listed item tags 
        // in the HTML, by ID $("#id")
        $('#reportTabs').tabs();
        $('#summaryHide').click(
            function () {
                $('#summaryPopup').hide();
            });

        // The reports start in accordion format, closed.
        $('#summaryReports').accordion({
                collapsible: true,
                active: false,
                autoHeight: false
            });


        ///////////////////////////// PIE CHARTS /////////////////////////|X|
        // Buttons for showing and hiding
        // the Pie Charts feature ...
        // ... which doesn't exist yet!
        //

        $('#dclDataOnlyBtn').click(function () {
            $('#sorryNoPieCharts').hide();
        });

        $('#dclPieChartBtn').click(function () {
            $('#sorryNoPieCharts').show();
        });

        $('#dclPrintReport').click(function () {
            $('#sorryNoPrintView').show();
        });

        $('#wecDataOnlyBtn').click(function () {
            $('#sorryNoPieCharts').hide();
        });

        $('#wecPieChartBtn').click(function () {
            $('#sorryNoPieCharts').show();
        });

        $('#wecPrintReport').click(function () {
            $('#sorryNoPrintView').show();
        });

        $('#mwdDataOnlyBtn').click(function () {
            $('#sorryNoPieCharts').hide();
        });

        $('#mwdPieChartBtn').click(function () {
            $('#sorryNoPieCharts').show();
        });

        $('#mwdPrintReport').click(function () {
            $('#sorryNoPrintView').show();
        });

        //
        //

        //////////////////////////////////////// DATATABLES //////////////////////////////////////|X|
        // Datatables uses something called Hungarian notation wherein they put the purpose
        // of a given variable to the left of the variable name. E.g., i is integer, o is
        // object. More at datatables.net.
        //

        var dclTableDefaults = {
            "bPaginate": false, // to enable pagination (this report has fixed size)
            "bAutoWidth": false,
            "bDestroy": false,
            "bInfo": true, //shows information about data being displayed on the page
            "bSort": false, //enable or disable sorting of columns
            "bFilter": false, //enable or disable filtering of data
            "bServerSide": true, //server side processing, req. source
            "sAjaxSource": "/Reports/AjaxDcl", //source for server side processing
            "bProcessing": false, //enable processing indicator
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName), //internationalisation
            "aoColumns": [
                { mDataProp: "date" }, //have to add this otherwise dt assumes
                { mDataProp: "dwcList" }, //an entire month of data is coming.
                { mDataProp: "dwcPropio" }, //why, I don't know. Also, it's
                { mDataProp: "hhhList" }, //broken now and I don't know why.
                { mDataProp: "hhhPropio" }, //these are similar to the other
                { mDataProp: "totalSignins" }, //reports.
                { mDataProp: "totalAssignments" },
                { mDataProp: "cancelledJobs" }
            ], //these are the column names in the array; total # must match
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "todaysdate", "value": $('#dclDate').val() });
                $.getJSON(sSource, aoData, function (json) {
                    /* Do whatever additional processing you want on the callback, then tell DataTables */
                    fnCallback(json)
                });
            }
        };

        var wecTableDefaults = {
            "bPaginate": false, // to enable pagination (this report has fixed size)
            "bAutoWidth": false,
            "bDestroy": false,
            "bInfo": true, //shows information about data being displayed on the page
            "bSort": false, //enable or disable sorting of columns
            "bFilter": false, //enable or disable filtering of data
            "bServerSide": true, //server side processing, req. source
            "sAjaxSource": "/Reports/AjaxWec", //source for server side processing
            "bProcessing": false, //enable processing indicator
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName), //internationalisation
            "aoColumns": [
                { mDataProp: "weekday" },
                { mDataProp: "date" },
                { mDataProp: "totalSignins" },
                { mDataProp: "noWeekJobs" },
                { mDataProp: "weekJobsSector" },
                { mDataProp: "weekEstDailyHours" },
                { mDataProp: "weekEstPayment" },
                { mDataProp: "weekHourlyWage" },
            ], // column names must match # of cols. in table
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "todaysdate", "value": $('#wecDate').val() });
                $.getJSON(sSource, aoData, function (json) {
                    /* Do whatever additional processing you want on the callback, then tell DataTables */
                    fnCallback(json)
                });
            }
        };

        var mwdTableDefaults = {
            "bPaginate": false, // to enable pagination (this report has fixed size)
            "bAutoWidth": false,
            "bDestroy": false,
            "bInfo": true, //shows information about data being displayed on the page
            "bSort": false, //enable or disable sorting of columns
            "bFilter": false, //enable or disable filtering of data
            "bServerSide": true, //server side processing, req. source
            "sAjaxSource": "/Reports/AjaxMwd", //source for server side processing
            "bProcessing": false, //enable processing indicator
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName), //internationalisation
            "aoColumns": [
                { mDataProp: "date" },
                { mDataProp: "totalSignins" },
                { mDataProp: "totalDWCSignins" },
                { mDataProp: "totalHHHSignins" },
                { mDataProp: "dispatchedDWCSignins" },
                { mDataProp: "dispatchedHHHSignins" },
                { mDataProp: "totalHours" },
                { mDataProp: "totalIncome" },
                { mDataProp: "avgIncomePerHour" }
            ], // column names; must match # of cols. in table
            "fnServerData": function ( sSource, aoData, fnCallback ) {
                aoData.push({ "name": "todaysdate", "value": $('#mwdDate').val() });
                $.getJSON(sSource, aoData, function (json) {
                    /* Do whatever additional processing you want on the callback, then tell DataTables */
                    fnCallback(json)
                });
            }
        };

        var dclNewTable = jQuery.extend(true, {}, dclTableDefaults);
        var wecNewTable = jQuery.extend(true, {}, wecTableDefaults);
        var mwdNewTable = jQuery.extend(true, {}, mwdTableDefaults);

        dclNewTable["bDestroy"] = "true,";
        wecNewTable["bDestroy"] = "true,";
        mwdNewTable["bDestroy"] = "true,";

        $('#dclLink').click(function () {
            $('#dclSummaryTable').dataTable(dclNewTable);
        });

        $('#wecLink').click(function () {
            $('#wecSummaryTable').dataTable(wecNewTable);
        });

        $('#mwdLink').click(function () {
            $('#mwdSummaryTable').dataTable(mwdNewTable);
        });

        //////////////// the date-pickerers /////////////////|X|
        //
        // Daily, Casa Latina datepicker
        //

        $('.ui-dcl-datepicker').hover(
            function () {
                $('#dclHelp').show("fade", 2200);
            },
            function () {
                $('#dclHelp').hide("fade", 2200);
            });
        
        $('.ui-dcl-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.ui-dcl-datepicker').change(
            function (event) {
                dclNewTable["todaysdate"] = $('#dclDate').val();
                $('#dclSummaryTable').dataTable(dclNewTable).fnReloadAjax();
            });

        //
        // Weekly, El Centro datepicker
        //
        $('.ui-wec-datepicker').hover(
            function () {
                $('#wecHelp').show("fade", 2200);
            },
            function () {
                $('#wecHelp').hide("fade", 2200);
            });

        $('.ui-wec-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus",
            beforeShowDay: function (date) {
                var day = date.getDay();
                return [(day > 5), ''];
            }
        });

        $('.ui-wec-datepicker').change(
            function (event) {
                wecNewTable["todaysdate"] = $('#wecDate').val();
                $('#wecSummaryTable').dataTable(wecNewTable).fnReloadAjax();
            });

        $('.ui-mwd-datepicker').hover(
            function () {
                $('#mwdHelp').show("fade", 2200);
            },
            function () {
                $('#mwdHelp').hide("fade", 2200);
            });

        $('.ui-mwd-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.ui-mwd-datepicker').change(
            function (event) {
                mwdNewTable["todaysdate"] = $('#mwdDate').val();
                $('#mwdSummaryTable').dataTable(mwdNewTable).fnReloadAjax();
            });
    });
    // end DOM ready check
</script>

