@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}

<div id="ordersHeader">
    <h3 style="padding-left: .5em;">@Machete.Web.Resources.Reports.ordersHeader</h3>
    <div id="ordersPopup">
        <p style="padding-left: .5em;">
        @Machete.Web.Resources.Reports.ordersInstructions
        <input type="button" value="Hide" class="formButton" id="orderHide" />
        </p>
    </div>
</div>

<div id="ordersReports">
    <h3><a href="#" id="jzcLink">Jobs and Zip Codes (Mountain View)</a></h3>
    <div id="jzcTable">
        <div style="display:block;">
        <input type="button" value="Refresh" class="formButton" id="jzcDataRefreshBtn" />
        <input type="button" value="Print" class="formButton" id="jzcPrint" />
        <input type="button" value="Spreadsheet" class="formButton" id="jzcSpreadsheet" />
        @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-datepicker", @id = "jzcDate" })
        <p id="jzcHelp" style="display:inline;"><em>Select a date to see results.</em></p>
        </div>
        <table id="jzcDataTable" class="display">
            <thead>
                <tr>
                    <th style="width:15%;">@Machete.Web.Resources.Reports.date</th>
                    <th style="width:15%;">@Machete.Web.Resources.Reports.jzcZipCodes</th>
                    <th style="width:10%;">No.</th>
                    <th style="width:50%;">@Machete.Web.Resources.Reports.jzcJobs</th>
                    <th style="width:10%;">No.</th>
                </tr>
            </thead>
        </table>
        <div id="piechart1" style="float:left;height:auto;width:50%;"><p id="testp1">Pie chart one goats here.</p></div>
        <div id="piechart2" style="float:left;height:auto;width:50%;"><p id="testp2">Pie chart two goats there.</p></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //hide stuff
        $('#jzcTable').hide();
        $('#jzcHelp').hide();

        //click to hide stuff
        $('#orderHide').click(
            function () {
                $('#ordersPopup').hide();
            });

        //accordion stuff
        $('#ordersReports').accordion({
            collapsible: true,
            active: false,
            autoHeight: false
        });

        //make stuff pretty
        $('.formButton').button();

        //make stuff do stuff
        //
        //
        //
        /////////////////DATATABLES///////////////
        var jzcTableDefaults = {
            "bPaginate": false, // to enable pagination (this report has fixed size)
            "bAutoWidth": false,
            "bScrollCollapse": true,
            "bDestroy": false,
            "bInfo": true, //shows information about data being displayed on the page
            "bSort": false, //enable or disable sorting of columns
            "bFilter": false, //enable or disable filtering of data
            "bServerSide": true, //server side processing, req. source
            "sAjaxSource": "/Reports/AjaxJobsZipCodes", //source for server side processing
            "bProcessing": false, //enable processing indicator
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName), //internationalisation
            "aoColumns": [
                { mDataProp: "date" },
                { mDataProp: "topZips" },
                { mDataProp: "topZipsCount" },
                { mDataProp: "topJobs" },
                { mDataProp: "topJobsCount" }
            ], //these are the column names in the array; total # must match
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "todaysdate", "value": $('#jzcDate').val() });
                $.getJSON(sSource, aoData, function (json) {
                    /* Do whatever additional processing you want on the callback, then tell DataTables */
                    fnCallback(json)
                });
            }
        };
        //
        var jzcNewTable = jQuery.extend(true, {}, jzcTableDefaults);
        //
        jzcNewTable["bDestroy"] = "true,";
        //
        //
        //GO
        $('#jzcLink').click(function () {
            $('#jzcDataTable').dataTable(jzcNewTable);

        });

        ////////////////////DATEPICKER/////////////////
        $('.ui-datepicker').datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            constrainInput: true,
            dateFormat: 'mm/dd/yy',
            duration: "slow",
            showButtonPanel: false,
            showOn: "focus"
        });

        $('.ui-datepicker').hover(
            function () {
                $('#jzcHelp').show("fade", 1100);
            },
            function () {
                $('#jzcHelp').hide("fade", 1100);
            });

        $('.ui-datepicker').change(
        function (event) {
            jzcNewTable["todaysdate"] = $('#jzcDate').val();
            $('#jzcDataTable').dataTable(jzcNewTable).fnReloadAjax();
        });

        $('#jzcDataRefreshBtn').click(
            function () {
                jzcNewTable["todaysdate"] = $('#jzcDate').val();
                $('#jzcDataTable').dataTable(jzcNewTable).fnReloadAjax();
            });

        $('#jzcPrint').click(
            function () {
                window.open('/Reports/PrintView?date='+$('#jzcDate').val()+'&typeOfReport=jobsandzips');
            });

        $('#jzcSpreadsheet').click(function () {
            var url = "/Reports/AjaxJobsZipCodes";
            var data = { todaysdate: $('#jzcDate').val() };
            $.getJSON(url, data, function (ajax) {
                var jstring = JSON.stringify(ajax.aaData);
                var jcsv = json2spreadsheet(jstring);
                download(jcsv, "reports.csv", "text/csv");
            });
        });

    });
</script>