@model Machete.Web.ViewModel.ReportPrintView
@using Machete.Web.Helpers

@using Machete.Web.Resources
@using Machete.Service
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization

@{
    var httpContext = ViewContext.HttpContext;
    var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
    var currentUrl = UriHelper.BuildRelative(httpContext.Request.PathBase, httpContext.Request.Path, httpContext.Request.QueryString);
}

    @if (Model.typeOfReport == "yearly")
    {
        <div style="padding-top:6em;">
            <div style="float:left;width:40%;padding-left:10%">
                <h3>Yearly Report</h3>
                <p>@Model.date</p>
            </div>
            <div style="float:left;width:40%;padding-right:10%;">
                <img src="../../Content/machete_1_close_crop.png" style="float:right;" />
            </div>
            <div style="display:block;padding:0 10%;">
                <table id="ywdDataTable" class="display report-datatable">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="report-table-header">@Reports.date</th>
                            <th class="report-table-header">@Reports.activeMembers</th>
                            <th class="report-table-header">@Reports.totalSignins</th>
                            <th class="report-table-header">@Reports.wentToClass</th>
                            <th class="report-table-header">@Reports.dispatched</th>
                            <th class="report-table-header">@Reports.totalHours</th>
                            <th class="report-table-header">@Reports.totalIncome</th>
                            <th class="report-table-header">@Reports.avgIncome</th>
                            <th class="report-table-header"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th><strong>Totals</strong></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="4"></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="report-chart">
                <div id="monthlyChart" class="report-chart-inner-only"></div>
            </div>
        </div>
        <script type="text/javascript">
                $(document).ready(function () {
                    var lang = datatable_lang_@(currentCulture.TwoLetterISOLanguageName);
                    var date = '@Model.date';
                    var oMwdTable = $.extend(true, {}, summaryTableDefaults("/Reports/AjaxYwd", lang, date, 'yearlyChart'));
                    var mwd = $('#ywdDataTable').dataTable(oMwdTable);
                });
        </script>
    }

    else if (Model.typeOfReport == "monthly")
    {
        <div style="padding-top:6em;">
            <div style="float:left;width:40%;padding-left:10%">
                <h3>Monthly Report</h3>
                <p>@Model.date</p>
            </div>
            <div style="float:left;width:40%;padding-right:10%;">
                <img src="../../Content/machete_1_close_crop.png" style="float:right;" />
            </div>
            <div style="display:block;padding:0 10%;">
                <table id="mwdDataTable" class="display report-datatable">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="report-table-header">@Reports.date</th>
                            <th class="report-table-header">@Reports.activeMembers</th>
                            <th class="report-table-header">@Reports.totalSignins</th>
                            <th class="report-table-header">@Reports.wentToClass</th>
                            <th class="report-table-header">@Reports.dispatched</th>
                            <th class="report-table-header">@Reports.totalHours</th>
                            <th class="report-table-header">@Reports.totalIncome</th>
                            <th class="report-table-header">@Reports.avgIncome</th>
                            <th class="report-table-header"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th><strong>Totals</strong></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="4"></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="report-chart">
                <div id="monthlyChart" class="report-chart-inner-only"></div>
            </div>        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var lang = datatable_lang_@(currentCulture.TwoLetterISOLanguageName);
                var date = '@Model.date';
                var oMwdTable = $.extend(true, {}, summaryTableDefaults("/Reports/AjaxMwd", lang, date, 'monthlyChart'));
                var mwd = $('#mwdDataTable').dataTable(oMwdTable);
            });
        </script>
    }

    else if (Model.typeOfReport == "weekly")
    {
        <div style="padding-top:6em;">
            <div style="float:left;width:40%;padding-left:10%">
                <h3>Weekly Report</h3>
                <p>@Model.date</p>
            </div>
            <div style="float:left;width:40%;padding-right:10%;">
                <img src="../../Content/machete_1_close_crop.png" style="float:right;" />
            </div>
            <div style="display:block;padding:0 10%;">
                <table id="wecDataTable" class="display report-datatable">
                    <thead>
                        <tr>
                            <th class="report-table-header">@Reports.weekday</th>
                            <th class="report-table-header">@Reports.totalSignins</th>
                            <th class="report-table-header">@Reports.totalAssignments</th>
                            <th class="report-table-header">@Reports.weekEstDailyHours</th>
                            <th class="report-table-header">@Reports.weekEstPayment</th>
                            <th class="report-table-header">@Reports.weekHourlyWage</th>
                            <th class="report-table-header"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var lang = datatable_lang_@(currentCulture.TwoLetterISOLanguageName);
                var date = '@Model.date';
                var oWecTable = $.extend(true, {}, reportTableDefaults("/Reports/AjaxWec", lang, $('#wecDate').val()));
                oWecTable.aoColumns = [
                    { mDataProp: "weekday" },
                    { mDataProp: "totalSignins" },
                    { mDataProp: "totalAssignments" },
                    { mDataProp: "weekEstDailyHours" },
                    { mDataProp: "weekEstPayment" },
                    { mDataProp: "weekHourlyWage" },
                    {
                        mDataProp: null,
                        sDefaultContent: '<img src="/Content/dataTables/details_open.png" class="nestedDetailsButton">'
                    },
                ];
                var wec = $('#wecDataTable').dataTable(oWecTable);
                $.getJSON("/Reports/AjaxWec",
                            { todaysdate: $('#wecDate').val() },
                            function (ajax) {
                                weekPieArray = weeklySigninPie(ajax);
                                var weekPlot = $.jqplot('weeklyPieChart',
                                    weekPieArray.weekPie,
                                    {
                                        seriesDefaults: {
                                            renderer: $.jqplot.PieRenderer,
                                            rendererOptions: {
                                                showDataLabels: true
                                            }
                                        },
                                        legend: { show: true, location: 'e' }
                                    }   
                                );
                            }
                        );
            });
        </script>
    }

    else if (Model.typeOfReport == "daily")
    {
          <div style="padding-top:6em;">
            <div style="float:left;width:40%;padding-left:10%">
                <h3>Daily Report</h3>
                <p>@Model.date</p>
            </div>
            <div style="float:left;width:40%;padding-right:10%;">
                <img src="../../Content/machete_1_close_crop.png" style="float:right;" />
            </div>
          <div style="display:block;padding:0 10%;">
              <table id="dclDataTable" class="display report-datatable">
                  <thead>
                      <tr>
                          <th class="report-table-header">@Reports.dwcList</th>
                          <th class="report-table-header">@Reports.dwcPropio</th>
                          <th class="report-table-header">@Reports.hhhList</th>
                          <th class="report-table-header">@Reports.hhhPropio</th>
                          <th class="report-table-header">Unique</th>
                          <th class="report-table-header">@Reports.totalSignins</th>
                          <th class="report-table-header">@Reports.totalAssignments</th>
                          <th class="report-table-header">@Reports.cancelledJobs</th>
                      </tr>
                  </thead>
              </table>
            </div>
            <div class="report-chart">
                  <div id="dailyPieChart1" class="report-chart-inner"></div>
                  <div id="dailyPieChart2" class="report-chart-inner"></div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var lang = datatable_lang_@(currentCulture.TwoLetterISOLanguageName);
                var date = '@Model.date';
                var oDclTable = $.extend(true, {}, reportTableDefaults("/Reports/AjaxDcl", lang, $('#dclDate').val()));
                oDclTable.aoColumns = [
                    { mDataProp: "dwcList" },
                    { mDataProp: "dwcPropio" },
                    { mDataProp: "hhhList" },
                    { mDataProp: "hhhPropio" },
                    { mDataProp: "uniqueSignins" },
                    { mDataProp: "totalSignins" },
                    { mDataProp: "totalAssignments" },
                    { mDataProp: "cancelledJobs" },
                ];
                var dcl = $('#dclDataTable').dataTable(oDclTable);
                $.getJSON("/Reports/AjaxDcl", { todaysdate: $('#dclDate').val() }, function (ajax) {
                    dayPieArray = dailySigninPie(ajax);
                    var plot1 = $.jqplot('dailyPieChart1', dayPieArray.firstPie,
                        {
                            seriesDefaults: {
                                renderer: $.jqplot.PieRenderer,
                                rendererOptions: {
                                    showDataLabels: true
                                }
                            },
                            legend: { show: true, location: 'e' }
                        }
                    );
                    var plot2 = $.jqplot('dailyPieChart2', dayPieArray.secondPie,
                        {
                            seriesDefaults: {
                                renderer: $.jqplot.PieRenderer,
                                rendererOptions: {
                                    showDataLabels: true
                                }
                            },
                            legend: { show: true, location: 'e' }
                        }
                    );
                });
            });
        </script>
    }

    else
    {
        <h3>Sorry. There appears to be some sort of problem here.</h3>
        <p>That's all we know.</p>
    }

<script type="text/javascript">
    $('.print-off').hide();
    window.print();
</script>
