@model Machete.Web.ViewModel.ReportPrintView
@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service

@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}

    @if (Model.typeOfReport == "monthly")
    {
        <div style="padding-top:6em;">
            <div style="float:left;width:40%;padding-left:10%">
                <h3>Monthly Report</h3>
                <p>@Model.date</p>
            </div>
            <div style="float:left;width:40%;padding-right:10%;">
                <img src="../../Content/machete_1_close_crop.png" style="float:right;" />
            </div>
            <div style="display:block;padding:0 10%;">
            <table id="mwdDataTable" class="display">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>Unique</th>
                        <th>@Machete.Web.Resources.Reports.dwcList</th>
                        <th>@Machete.Web.Resources.Reports.hhhList</th>
                        <th>@Machete.Web.Resources.Reports.dwcPropio</th>
                        <th>@Machete.Web.Resources.Reports.hhhPropio</th>
                        <th>@Machete.Web.Resources.Reports.totalHours</th>
                        <th>@Machete.Web.Resources.Reports.totalIncome</th>
                        <th>@Machete.Web.Resources.Reports.avgIncome</th>
                    </tr>
                </thead>
            </table>
            <div id="monthlyPieChart1" style="height:auto;width:80%;margin-top:3em;"></div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var lang = datatable_lang_@(CI.TwoLetterISOLanguageName);
                var date = '@Model.date';
                var oMwdTable = $.extend(true, {}, monthlyTableDefaults("/Reports/AjaxMwd", lang, date));
                var dcl = $('#mwdDataTable').dataTable(oMwdTable);
                var ajaxUrl = "/Reports/AjaxMwd";
                var ajaxData = { todaysdate: '@Model.date' };

                var pieFill1;

                $.getJSON(ajaxUrl, ajaxData, function (ajax) {
                    pieFill1 = monthlySigninPie(ajax);
                    var plot1 = $.jqplot('monthlyPieChart1', [pieFill1],
                      {
                          seriesDefaults: {
                              renderer: $.jqplot.PieRenderer,
                              rendererOptions: {
                                  showDataLabels: true
                              }
                          },
                          legend: { show: true, location: 'e' }
                      }
                    );
                });
            });
        </script>
    }

    else if (Model.typeOfReport == "weekly")
    {
        <div style="padding-top:6em;">
            <div style="float:left;width:40%;padding-left:10%">
                <h3>Monthly Report</h3>
                <p>@Model.date</p>
            </div>
            <div style="float:left;width:40%;padding-right:10%;">
                <img src="../../Content/machete_1_close_crop.png" style="float:right;" />
            </div>
            <div style="display:block;padding:0 10%;">
                <table id="wecDataTable" class="display">
                    <thead>
                        <tr>
                            <th>@Machete.Web.Resources.Reports.weekday</th>
                            <th>@Machete.Web.Resources.Reports.date</th>
                            <th>@Machete.Web.Resources.Reports.totalSignins</th>
                            <th>@Machete.Web.Resources.Reports.noWeekJobs</th>
                            <th>@Machete.Web.Resources.Reports.weekJobsSect</th>
                            <th>No.</th>
                            <th>@Machete.Web.Resources.Reports.weekEstDailyHours</th>
                            <th>@Machete.Web.Resources.Reports.weekEstPayment</th>
                            <th>@Machete.Web.Resources.Reports.weekHourlyWage</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var lang = datatable_lang_@(CI.TwoLetterISOLanguageName);
                var date = '@Model.date';
                var wecNewTable = $.extend(true, {}, wecTableDefaults(lang, date));
                wecNewTable["bDestroy"] = "true,";
                $('#wecDataTable').dataTable(wecNewTable).fnReloadAjax();
            });
        </script>
    }

    else if (Model.typeOfReport == "daily")
    {
          <div style="padding-top:6em;">
            <div style="float:left;width:40%;padding-left:10%">
                <h3>Monthly Report</h3>
                <p>@Model.date</p>
            </div>
            <div style="float:left;width:40%;padding-right:10%;">
                <img src="../../Content/machete_1_close_crop.png" style="float:right;" />
            </div>
          <div style="display:block;padding:0 10%;">
                <table id="dclDataTable" class="display">
                    <thead>
                        <tr>
                            <th>@Machete.Web.Resources.Reports.date</th>
                            <th>@Machete.Web.Resources.Reports.dwcList</th>
                            <th>@Machete.Web.Resources.Reports.dwcPropio</th>
                            <th>@Machete.Web.Resources.Reports.hhhList</th>
                            <th>@Machete.Web.Resources.Reports.hhhPropio</th>
                            <th>Unique</th>
                            <th>@Machete.Web.Resources.Reports.totalSignins</th>
                            <th>@Machete.Web.Resources.Reports.totalAssignments</th>
                            <th>@Machete.Web.Resources.Reports.cancelledJobs</th>
                        </tr>
                    </thead>
                </table>
                <div id="dailyPieChart1" style="height:auto;width:80%;display:block;"></div>
                <div id="dailyPieChart2" style="height:auto;width:80%;display:block;"></div>
              </div>
        </div>
        <script type="text/javascript">
            var lang = datatable_lang_@(CI.TwoLetterISOLanguageName);
            var date = '@Model.date';
            var oDclTable = $.extend(true, {}, dailyTableDefaults("/Reports/AjaxDcl", lang, date));
            var dcl = $('#dclDataTable').dataTable(oDclTable);
            var ajaxUrl = "/Reports/AjaxDcl";
            var ajaxData = { todaysdate: '@Model.date' };

            var pieFill1;
            var pieFill2;

            $('#dailyPieChart1').empty();
            $('#dailyPieChart2').empty();

            $.getJSON(ajaxUrl, ajaxData, function (ajax) {
                pieFill1 = dailySigninPie(ajax);
                pieFill2 = gotWorkPie(ajax);
                var plot1 = $.jqplot('dailyPieChart1', [pieFill1],
                      {
                          seriesDefaults: {
                              renderer: $.jqplot.PieRenderer,
                              rendererOptions: {
                                  showDataLabels: true
                              }
                          },
                          legend: { show: true, location: 'e' }
                      }
                    );
                var plot2 = $.jqplot('dailyPieChart2', [pieFill2],
                    {
                        seriesDefaults: {
                            renderer: $.jqplot.PieRenderer,
                            rendererOptions: {
                                showDataLabels: true
                            }
                        },
                        legend: { show: true, location: 'e' }
                    }
                    );
            });
        </script>
    }
    else if (Model.typeOfReport == "jobsandzips")
    {
        <div style="padding-top:6em;">
            <div style="float:left;width:63.5%;padding-left:10%">
                <h3>Top Jobs and Zip Codes Report</h3>
                <p>@Model.date</p>
            </div>
            <div style="float:left;">
                <img src="../../Content/machete_1_close_crop.png" />
            </div>
            <div style="display:block;padding:0 10%;">
                <table id="jzcDataTable" class="display">
                <thead>
                    <tr>
                        <th style="width:15%;">@Machete.Web.Resources.Reports.date</th>
                        <th style="width:15%;">@Machete.Web.Resources.Reports.jzcZipCodes</th>
                        <th style="width:10%;">No.</th>
                        <th style="width:50%;">@Machete.Web.Resources.Reports.jzcJobs</th>
                        <th style="width:10%;">No.</th>
                    </tr>
                </thead>
            </table>

            <input type="button" id="Hi" value="Hi" />
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var lang = datatable_lang_@(CI.TwoLetterISOLanguageName);
                var date = '@Model.date';
                var jzcNewTable = jQuery.extend(true, {}, jzcTableDefaults(lang, date));
                jzcNewTable["bDestroy"] = "true,";
                $('#jzcDataTable').dataTable(jzcNewTable).fnReloadAjax();
            });
        </script>
    }

    else
    {
        <h3>Sorry. There appears to be some sort of problem here.</h3>
        <p>That's all we know.</p>
    }

<script type="text/javascript">
    
</script>
