<div id="summaryWrapper" class="report-wrapper">
    <div id="summaryHeader">
        <div id="summaryPopup">
            <h3 style="padding-left: .5em;">@Machete.Web.Resources.Reports.summaryHeader</h3>

            <p id="summaryInstructions" class="report-instructions">
                @Machete.Web.Resources.Reports.summaryInstructions
                <input type="button" value="Hide" class="formButton" id="summaryHide" />
            </p>
        </div>
    </div>
    <div id="summaryReports" class="report-accordion">
        <h3 class="report-subtitle">
            <a href="#" id="dclLink">Daily</a>
        </h3>
        <div id="dclTable" class="report-container">
            <input type="button" value="Refresh" class="formButton report-top" id="dclDataOnlyBtn" />
            <input type="button" value="Print Report" class="formButton report-top" id="dclPrintReport" />
            <input type="button" value="Spreadsheet" class="formButton report-top" id="dclSpreadsheet" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @class = "report-datepicker report-top", @id = "dclDate" })
            <p id="dclHelp" class="report-inline report-top"><em>@Machete.Web.Resources.Reports.dayInstructions</em></p>
            <table id="dclDataTable" class="display report-datatable">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.dwcList</th>
                        <th>@Machete.Web.Resources.Reports.dwcPropio</th>
                        <th>@Machete.Web.Resources.Reports.hhhList</th>
                        <th>@Machete.Web.Resources.Reports.hhhPropio</th>
                        <th>Unique</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.totalAssignments</th>
                        <th>@Machete.Web.Resources.Reports.cancelledJobs</th>
                    </tr>
                </thead>
            </table>
            <div id="dailyPieChart1" style="height:auto;width:80%;display:block;"></div>
            <div id="dailyPieChart2" style="height:auto;width:80%;display:block;"></div>
        </div>
        <h3 class="report-subtitle"><a href="#" id="wecLink">Weekly</a></h3>
        <div id="wecTable" class="report-container">
            <input type="button" value="Refresh" class="formButton report-top" id="wecDataOnlyBtn" />
            <input type="button" value="Print" class="formButton report-top" id="wecPrintReport" />
            <input type="button" value="Spreadsheet" class="formButton report-top" id="wecSpreadsheet" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @class = "report-datepicker-weekly report-top", @id = "wecDate" })
            <p id="wecHelp" class="report-inline report-top"><em>@Machete.Web.Resources.Reports.weekInstructions</em></p>
            <table id="wecDataTable" class="display report-datatable">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.weekday</th>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.totalAssignments</th>
                        <th>@Machete.Web.Resources.Reports.weekEstDailyHours</th>
                        <th>@Machete.Web.Resources.Reports.weekEstPayment</th>
                        <th>@Machete.Web.Resources.Reports.weekHourlyWage</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <h3 class="report-subtitle"><a href="#" id="mwdLink">Monthly</a></h3>
        <div id="mwdTable" class="report-container">
            <input type="button" value="Refresh" class="formButton report-top" id="mwdDataOnlyBtn" />
            <input type="button" value="Print" class="formButton report-top" id="mwdPrintReport" />
            <input type="button" value="Spreadsheet" class="formButton report-top" id="mwdSpreadsheet" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @class = "report-datepicker report-top", @id = "mwdDate" })
            <p id="mwdHelp" class="report-inline report-top"><em>@Machete.Web.Resources.Reports.monthInstructions</em></p>
            <table id="mwdDataTable" class="display report-datatable">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.activeMembers</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.wentToClass</th>
                        <th>@Machete.Web.Resources.Reports.dispatched</th>
                        <th>@Machete.Web.Resources.Reports.totalHours</th>
                        <th>@Machete.Web.Resources.Reports.totalIncome</th>
                        <th>@Machete.Web.Resources.Reports.avgIncome</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th><strong>Totals</strong></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="4"></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            @*            <div id="monthlyPieChart1" style="height:auto;width:80%;margin-top:3em;"></div> *@
        </div>
        <h3 class="report-subtitle"><a href="#" id="ywdLink">Yearly</a></h3>
        <div id="ywdTable" class="report-container">
            <input type="button" value="Refresh" class="formButton report-top" id="ywdDataOnlyBtn" />
            <input type="button" value="Print" class="formButton report-top" id="ywdPrintReport" />
            <input type="button" value="Spreadsheet" class="formButton report-top" id="ywdSpreadsheet" />
            @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @class = "report-datepicker report-top", @id = "ywdDate" })
            <p id="ywdHelp" class="report-inline report-top"><em>@Machete.Web.Resources.Reports.yearInstructions</em></p>
            <table id="ywdDataTable" class="display report-datatable">
                <thead>
                    <tr>
                        <th>@Machete.Web.Resources.Reports.date</th>
                        <th>@Machete.Web.Resources.Reports.activeMembers</th>
                        <th>@Machete.Web.Resources.Reports.totalSignins</th>
                        <th>@Machete.Web.Resources.Reports.wentToClass</th>
                        <th>@Machete.Web.Resources.Reports.dispatched</th>
                        <th>@Machete.Web.Resources.Reports.totalHours</th>
                        <th>@Machete.Web.Resources.Reports.totalIncome</th>
                        <th>@Machete.Web.Resources.Reports.avgIncome</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th><strong>Totals</strong></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="4"></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            @*            <div id="yearlyPieChart1" style="height:auto;width:80%;margin-top:3em;"></div> *@
        </div>
    </div>
</div>