<div id="workersWrapper" class="reportWrapper">
    <div id="workersHeader">
        <div id="workersPopup">
            <h3 style="padding-left: .5em;">
                @Machete.Web.Resources.Reports.workersHeader
                <input type="button" value="Hide Info" class="formButton" id="workerHide" />
            </h3>
            <p style="padding-left: .5em;">
                @Machete.Web.Resources.Reports.summaryInstructions
            </p>
        </div>
    </div>
    <div id="workersReports">
        <h3><a href="#" id="newLink">New Workers</a></h3>
        <div id="newTable">
            <div style="display:block;">
                <input type="button" value="Refresh" class="formButton" id="newDataRefreshBtn" />
                <input type="button" value="Print" class="formButton" id="newPrint" />
                <input type="button" value="Spreadsheet" class="formButton" id="newSpreadsheet" />
                @Html.TextBox("activeDate", @DateTime.Now.ToShortDateString(), new { @style = "height: 2em;width: 6em;border-radius:.5em;text-align:center;font-weight:bold;", @class = "ui-datepicker", @id = "jzcDate" })
                <p id="newHelp" style="display:inline;"><em>Select a date to see results.</em></p>
            </div>
            <table id="newDataTable" class="display">
                <thead>
                    <tr>
                        <th style="width:15%;">@Machete.Web.Resources.Reports.date</th>
                        <th style="width:15%;">@Machete.Web.Resources.Reports.singleAdults</th>
                        <th style="width:10%;">@Machete.Web.Resources.Reports.familyHouseholds</th>
                        <th style="width:15%;">@Machete.Web.Resources.Reports.newSingleAdults</th>
                        <th style="width:10%;">@Machete.Web.Resources.Reports.newFamilyHousholds</th>
                    </tr>
                </thead>
            </table>
            <div id="newpiechart1" style="float:left;height:auto;width:50%;"><p id="testp1">Pie chart one goats here.</p></div>
        </div>
    </div>
</div>