@using Machete.Web.Helpers
@using Machete.Web.Resources
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization
@using WorkOrder = Machete.Domain.WorkOrder
@model Machete.Web.ViewModel.WorkOrder

@{
    var httpContext = ViewContext.HttpContext;
    var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
    var currentUrl = UriHelper.BuildRelative(httpContext.Request.PathBase, httpContext.Request.Path, httpContext.Request.QueryString);

    string recType = "WO";
    string empRecType = "employer";
    string idPrefix = recType + Model.ID + "-";
    string empPrefix = empRecType + Model.EmployerID + "-";
    int editDisable = 0;
    if (!Html.IsInRole("Administrator", "Manager") && Html.IsInRole("Administrator", "Manager", "PhoneDesk") && Model.dateTimeofWork < DateTime.Today)
    {
        editDisable = 1;
    }
}
@using (Html.BeginForm("Edit", "WorkOrder", FormMethod.Post,
                        new { @class = "edittab-form EditPost", id = "WorkOrderTab-" + Model.ID }))
{
    <input type="button" value="@WorkOrders.printlink" class="formButton" id="viewWorkOrder-@(Model.ID)" />
    //
    // Phonedesk can save changes if work order is today or in the future
    if (Html.IsInRole("Administrator", "Manager", "PhoneDesk") && Model.dateTimeofWork >= DateTime.Today || Html.IsInRole("Administrator", "Manager"))
    {
    <input type="submit" value="@WorkOrders.editsubmit" class="formButton saveBtn" id="@(idPrefix)SaveBtn"/>
    }
    <input type="button" id="@(idPrefix)printMap" class="formButton" value="@WorkOrders.mapbutton"/>
    <input type="button" id="@(idPrefix)emailConfirm" class="formButton" value="@Emails.btnEmailWO" />

    if (Html.IsInRole("Administrator", "Manager"))
    {
        <input type="button" id="@(idPrefix)changeEmployerBtn" value="@WorkOrders.changeemployer" class="formButton"/>
    }
    if (Html.IsInRole("Administrator", "Manager"))
    {
        <input id="deleteWorkOrderButton-@(Model.ID)" type="button" value="@WorkOrders.deletesubmit" class="formButton deleteButton" />
    }
    <br />  
    @Html.ValidationSummary(true)
    @Html.EditorForModel()

}

@using (Html.BeginForm("Activate", "WorkOrder", FormMethod.Post,
                        new { @class = "edittab-form ActivatePost", id = "ActivateWorkOrder-" + Model.ID }))
{
    @Html.HiddenFor(model => model.ID);
}

@if (Html.IsInRole("Administrator", "Manager"))
{
    using (Html.BeginForm("Delete", "WorkOrder", FormMethod.Post,
                            new { @class = "edittab-form DeletePost", id = "DeleteWorkOrder-" + Model.ID }))
    {
        @Html.HiddenFor(model => model.ID);
    }
}

@if (WorkOrder.iPending == Model.statusID)
{
    <div class="completeOrderContainer">
        <input type="button" value="@WorkOrders.activatesubmit" class="formButton completeOrderButton" id="activateWorkOrderButton-@(Model.ID)"/>
    </div>
} 
@await Html.PartialAsync("WorkAssignmentIndex", Model)
<div id="@(idPrefix)emailPopup" />

<script type="text/javascript">
    $(document).ready(function () {
        var eDis = @editDisable; //ignore visual studio error; moved assignment here so it would parse the rest
        if ( eDis == 1 ) {
            $('#WorkOrderTab-@(Model.ID)').find('input,select,textarea').attr('disabled', 'disabled');
        }
        $('#activateWorkOrder-@(Model.ID)').hide();
        $('.formButton').button();
        $('#contactName').focus();
        //
        // English note toggle
        $('#@(idPrefix)englishRequired').mUI('selectToggleOnValue', {
            target: $('#@(idPrefix)englishRequiredNoteRow'),
            showVal: "@(Shared.yes)"
        });
        //
        // machete UI detect changes on forms in tabs
        $("#WorkOrderTab-@(Model.ID)").mUI('formDetectChanges', {
            recType: "@(recType)",
            formLevel: 2,
            changeConfirm: "@Shared.changeConfirm",
            changeTitle: "@Shared.changeTitle"
        });
        //
        // Add validation to dynamic content
        $.validator.unobtrusive.parseDynamicContent($('#WorkOrderTab-@Model.ID'));
        //
        // Find tabindex attribute (for tab order, not jquery tabs) and increment by 10
        $('#WorkOrderTab-@Model.ID').find('[tabindex]').each(function () {
            $(this).attr('tabindex', parseInt($(this).attr('tabindex')) + 10)
        });
        //
        // open work order view for printing
        $('#viewWorkOrder-@(Model.ID)').click(function () {
            window.open('/WorkOrder/View/@(Model.ID)');
        });
        //
        // Delete confirmation
        $("#deleteWorkOrderButton-@(Model.ID)").mUI('formClickDelete', {
            ok: "@WorkOrders.deletesubmit",
            confirm: '@WorkOrders.deleteconfirmation',
            title: '@WorkOrders.deletetitle',
            form: $('#DeleteWorkOrder-@Model.ID')
        });
        //
        // submit edit
        $("#WorkOrderTab-@(Model.ID)").mUI('tabFormSubmit', {
            exclusiveTab: false,
            selectTab: 0,
            preProcess: function () {
                $('#workerRequests2_WO-@(Model.ID)').find('option').attr("selected", "selected");
            },
            formLevel: 2
        });
        //
        // submit activate
        // this is actually happening before the button appears, right after clicking "Save" on the form
        $("#ActivateWorkOrder-@(Model.ID)").mUI('tabFormSubmit', {
            clickButton: $("#activateWorkOrderButton-@(Model.ID)"),
            selectTab: 0,
            closeTab: false,
            formLevel: 2
        });
        $('#@(idPrefix)printMap').click(function () {
            openGoogleMap("@Html.Encode(Model.workSiteAddress1 + ',' + Model.city + ',' + Model.state + " " + Model.zipcode)",
                    '@Html.Encode(Model.def.getConfig("OrganizationAddress"))');
        });
        //
        // emailConfirm
        $('#@(idPrefix)emailConfirm').click(function () {
            $('#@(idPrefix)emailPopup').html('');
            $('#@(idPrefix)emailPopup').dialog({
                height: 600,
                width: 550,
                modal: true
            });
            $.ajax({
                url: "/Email/ConfirmDialog",
                data: {woid: "@(Model.ID)"},
                success: function(data) {
                    $('#@(idPrefix)emailPopup').html(data);
                },
                dataType: "html"
            });
        });
        //
        // change employer
        $('#@(idPrefix)changeEmployerBtn').click(function() {            
            $('#employerSelectTable').attr('idprefix', '@(idPrefix)');
            $('#employerSelectTable').dataTable().fnDraw();
            $('#employerSelectTable').show();
            //
            //Anon function to handle doubleclick of record selector            
            $("#employerSelectDialog").dialog({
                    height: 340,
                    width: 1000,
                    modal: true
            });           
            $('#employerSelectDialog').show();
        });
    });
</script>