@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}
<div id="dispatchTabs" >
    <ul>
        <li><a href="#orderList" id="pendingOrderListTab" class="ListTab">Details?!</a> </li>
        <li><a href="#summaryList" id="summaryOrderListTab" class="ListTab">Summary?!</a> </li>
        
    </ul>
    <div id="summaryList">
        <table id="orderSummaryTable" class="display">
            <thead>
                <tr>
                    <th>date?!</th>
                    <th>weekday?!</th>
                    <th>pending order?!</th>
                    <th>pending assignment?!</th>
                    <th>active order?!</th>
                    <th>active assignment?!</th>
                    <th>completed order?!</th>
                    <th>completed assignment?!</th>
                    <th>cancelled order?!</th>
                    <th>cancelled assignment?!</th>
                    <th>expired order?!</th>
                    <th>expired assignment?!</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="orderList">
        <input type="button" value="Pending?!" class="formButton" id="pendingOrdersBtn"/>
        <input type="button" value="Active?!" class="formButton" id="activeOrdersBtn"/>
        <input type="button" value="Completed?!" class="formButton" id="completedOrdersBtn"/>
        <input type="button" value="Cancelled?!" class="formButton" id="cancelledOrdersBtn"/>
        <input type="button" value="Expired?!" class="formButton" id="expiredOrdersBtn"/>
        <input type="button" value="All?!" class="formButton" id="allOrdersBtn"/>
        <table id="orderTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>EmployerID</th>
                    <th>@WorkOrder.workorderID</th>
                    <th>@WorkOrder.dateTimeofWork</th>
                    <th>@WorkOrder.statusShort</th>
                    <th>@WorkOrders.assigncount</th>
                    <th>@WorkOrder.contactName</th>
                    <th>@WorkOrder.workSiteAddress1</th>
                    <th>@Record.dateupdated</th>
                    <th>@Record.updatedby</th>                    
                </tr>
            </thead>
        </table>        
    </div>
</div>
<script language="javascript" type="text/javascript">
    var oTableDefaults = {
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[4, "desc"]],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "iDeferLoading": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/WorkOrder/AjaxHandler",
            "bProcessing": true,
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
            "aoColumns": [
                            { "mDataProp": "tabref", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "tablabel", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "EID", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "WOID" },
                            { "mDataProp": "dateTimeofWork" },
                            { "mDataProp": "status" },
                            { "mDataProp": "WAcount" },
                            { "mDataProp": "contactName" },
                            { "mDataProp": "workSiteAddress1" },
                            { "mDataProp": "dateupdated" },
                            { "mDataProp": "updatedby" }
                        ],
            "aoSearchCols" :  [null, null, null, null, null, null, null, null, null, null, null],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        $(nRow).attr("edittabref", aData["tabref"]);
                        $(nRow).attr("edittablabel", aData["tablabel"]);
                        return nRow;
                    }
        };
    var orderDefs = jQuery.extend(true, {}, oTableDefaults); //example of copying js object
    var summaryDefs = jQuery.extend(true, {}, oTableDefaults);
    delete orderDefs["iDeferLoading"];
    delete summaryDefs["aoColumns"];
    delete summaryDefs["fnRowCallback"];
    summaryDefs["aaSorting"] = [[0, 'desc']];
    summaryDefs["sAjaxSource"] = "/WorkOrder/AjaxSummary";
       
    //    pendingDefs["aoSearchCols"][5] = {"sSearch" : '@Lookups.getSingleEN("orderstatus", "Pending")'};
    //    activeDefs["aoSearchCols"][5] = {"sSearch" : '@Lookups.getSingleEN("orderstatus", "Active")'};
    //    completedDefs["aoSearchCols"][5] = {"sSearch" : '@Lookups.getSingleEN("orderstatus", "Completed")'};
    //    cancelledDefs["aoSearchCols"][5] = {"sSearch" : '@Lookups.getSingleEN("orderstatus", "Cancelled")'};
    //    expiredDefs["aoSearchCols"][5] = {"sSearch" : '@Lookups.getSingleEN("orderstatus", "Expired")'};
    //////////////////////////////////////////////
    //
    //
    //
    $(document).ready(function () {
        ////////////////////////////////////////////////////////////////
        //
        // Setup work order Tabs
        //
        M_dispatchTabs = null;
        M_orderTable = null;
        M_summaryTable = null;
        $('.formButton').button();
        M_dispatchTabs = $('#dispatchTabs');
        jqrfyTabs(M_dispatchTabs, "ui-tabs-dispatch-");
        ////////////////////////////////////////////////////////////////
        //
        // Setup workorder Table
        //
        M_orderTable = $('#orderTable');
        M_summaryTable = $('#orderSummaryTable');
        oTable = jqrfyTable(M_orderTable, M_dispatchTabs, orderDefs, false);

        jqrfyTable(M_summaryTable, M_dispatchTabs, summaryDefs, function (event) {            
            var myTr = event.target.parentNode;
            $(M_orderTable).dataTable().fnFilter($(myTr).find('td:eq(0)').text());
            $('#dispatchTabs').tabs('select',0);
        });
        $('#pendingOrdersBtn').click(function() {            
            oTable.dataTable().fnFilter('@Lookups.getSingleEN("orderstatus", "Pending")', 5); //sync with DT array above
        });
        $('#activeOrdersBtn').click(function() {            
            oTable.dataTable().fnFilter('@Lookups.getSingleEN("orderstatus", "Active")', 5); //sync with DT array above
        });
        $('#completedOrdersBtn').click(function() {            
            oTable.dataTable().fnFilter('@Lookups.getSingleEN("orderstatus", "Completed")', 5); //sync with DT array above
        });
        $('#expiredOrdersBtn').click(function() {            
            oTable.dataTable().fnFilter('@Lookups.getSingleEN("orderstatus", "Expired")', 5); //sync with DT array above
        });
        $('#allOrdersBtn').click(function() {
            oTable.dataTable().fnFilter("");
            oTable.dataTable().fnFilter("", 5); //sync with DT array above
        });
        $('#cancelledOrdersBtn').click(function() {
            oTable.dataTable().fnFilter('@Lookups.getSingleEN("orderstatus", "Cancelled")', 5); //sync with DT array above
        });
    });
</script>