@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}
<div id="dispatchTabs" >
    <ul>
        <li><a href="#summaryOrderList" id="summaryOrderListTab" class="ListTab">Summary?!</a> </li>
        <li><a href="#pendingOrderList" id="pendingOrderListTab" class="ListTab">Pending?!</a> </li>
        <li><a href="#activeOrderList" id="activeOrderListTab" class="ListTab">Active?!</a> </li>   
        <li><a href="#completedOrderList" id="completedOrderListTab" class="ListTab">Completed?!</a> </li>   
        <li><a href="#cancelledOrderList" id="cancelledOrderListTab" class="ListTab">Cancelled?!</a> </li>   
        <li><a href="#expiredOrderList" id="expiredOrderListTab" class="ListTab">Expired?!</a> </li>   
    </ul>
    <div id="summaryOrderList">
        <table id="orderSummaryTable" class="display">
            <thead>
                <tr>
                    <th>date</th>
                    <th>weekday</th>
                    <th>pending order</th>
                    <th>pending assignment</th>
                    <th>active order</th>
                    <th>active assignment</th>
                    <th>completed order</th>
                    <th>completed assignment</th>
                    <th>cancelled order</th>
                    <th>cancelled assignment</th>
                    <th>expired order</th>
                    <th>expired assignment</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="pendingOrderList">
        <table id="pendingOrderTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>EmployerID</th>
                    <th>@WorkOrder.workorderID</th>
                    <th>@WorkOrder.dateTimeofWork</th>
                    <th>@WorkOrder.statusShort</th>
                    <th>@WorkOrders.assigncount</th>
                    <th>@WorkOrder.contactName</th>
                    <th>@WorkOrder.workSiteAddress1</th>
                    <th>@Record.dateupdated</th>
                    <th>@Record.updatedby</th>                    
                </tr>
            </thead>
        </table>        
    </div>
    <div id="activeOrderList">
        <table id="activeOrderTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>EmployerID</th>
                    <th>@WorkOrder.workorderID</th>
                    <th>@WorkOrder.dateTimeofWork</th>
                    <th>@WorkOrder.statusShort</th>
                    <th>@WorkOrders.assigncount</th>
                    <th>@WorkOrder.contactName</th>
                    <th>@WorkOrder.workSiteAddress1</th>
                    <th>@Record.dateupdated</th>
                    <th>@Record.updatedby</th>
                </tr>
            </thead>
        </table>        
    </div>
    <div id="completedOrderList">
        <table id="completedOrderTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>EmployerID</th>
                    <th>@WorkOrder.workorderID</th>
                    <th>@WorkOrder.dateTimeofWork</th>
                    <th>@WorkOrder.statusShort</th>
                    <th>@WorkOrders.assigncount</th>
                    <th>@WorkOrder.contactName</th>
                    <th>@WorkOrder.workSiteAddress1</th>
                    <th>@Record.dateupdated</th>
                    <th>@Record.updatedby</th>
                </tr>
            </thead>
        </table>        
    </div>
    <div id="cancelledOrderList">
        <table id="cancelledOrderTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>EmployerID</th>
                    <th>@WorkOrder.workorderID</th>
                    <th>@WorkOrder.dateTimeofWork</th>
                    <th>@WorkOrder.statusShort</th>
                    <th>@WorkOrders.assigncount</th>
                    <th>@WorkOrder.contactName</th>
                    <th>@WorkOrder.workSiteAddress1</th>
                    <th>@Record.dateupdated</th>
                    <th>@Record.updatedby</th>
                </tr>
            </thead>
        </table>        
    </div>
    <div id="expiredOrderList">
        <table id="expiredOrderTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>EmployerID</th>
                    <th>@WorkOrder.workorderID</th>
                    <th>@WorkOrder.dateTimeofWork</th>
                    <th>@WorkOrder.statusShort</th>
                    <th>@WorkOrders.assigncount</th>
                    <th>@WorkOrder.contactName</th>
                    <th>@WorkOrder.workSiteAddress1</th>
                    <th>@Record.dateupdated</th>
                    <th>@Record.updatedby</th>
                </tr>
            </thead>
        </table>        
    </div>
</div>
<script language="javascript" type="text/javascript">
    var oTableDefaults = {
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[4, "desc"]],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "iDeferLoading": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/WorkOrder/AjaxHandler",
            "bProcessing": true,
            "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
            "aoColumns": [
                            { "sName": "ID", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "sName": "LABEL", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "sName": "EmployerID", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "sName": "workorderID" },
                            { "sName": "dateTimeofWork" },
                            { "sName": "status", "bVisible": false  },
                            { "sName": "assigncount" },
                            { "sName": "contactName" },
                            { "sName": "workSiteAddress1" },
                            { "sName": "dateupdated" },
                            { "sName": "Updatedby" }
                        ],
            "aoSearchCols" :  [null, null, null, null, null, null, null, null, null, null, null],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        $(nRow).attr("edittabref", aData[0]);
                        $(nRow).attr("edittablabel", aData[1]);
                        return nRow;
                    }
        };
    var pendingDefs = jQuery.extend(true, {}, oTableDefaults);
    var activeDefs = jQuery.extend(true, {}, oTableDefaults);
    var completedDefs = jQuery.extend(true, {}, oTableDefaults);
    var cancelledDefs = jQuery.extend(true, {}, oTableDefaults);
    var expiredDefs = jQuery.extend(true, {}, oTableDefaults);
    var summaryDefs = jQuery.extend(true, {}, oTableDefaults);
   
    pendingDefs["aoSearchCols"][5] = {"sSearch" : '@Lookups.getSingleEN("orderstatus", "Pending")'};
    activeDefs["aoSearchCols"][5] = {"sSearch" : '@Lookups.getSingleEN("orderstatus", "Active")'};
    completedDefs["aoSearchCols"][5] = {"sSearch" : '@Lookups.getSingleEN("orderstatus", "Completed")'};
    cancelledDefs["aoSearchCols"][5] = {"sSearch" : '@Lookups.getSingleEN("orderstatus", "Cancelled")'};
    expiredDefs["aoSearchCols"][5] = {"sSearch" : '@Lookups.getSingleEN("orderstatus", "Expired")'};
    //////////////////////////////////////////////
    //
    //
    //
    delete summaryDefs["iDeferLoading"];
    delete summaryDefs["aoColumns"];
    delete summaryDefs["fnRowCallback"];
    summaryDefs["aaSorting"] = [[1, 'desc']];
    summaryDefs["sAjaxSource"] = "/WorkOrder/AjaxSummary";

    $(document).ready(function () {
        if (eventDebug) M_conlog("EVENT", "READY", "workorder", "", "");
        ////////////////////////////////////////////////////////////////
        //
        // Setup work order Tabs
        //
        M_dispatchTabs = null;
        M_pendingOrderTable = null;
        M_activeOrderTable = null;
        M_completedOrderTable = null;
        M_cancelledOrderTable = null;
        M_expiredOrderTable = null;
        
        M_dispatchTabs = $('#dispatchTabs');
        jqrfyTabs(M_dispatchTabs, "ui-tabs-dispatch-");
        ////////////////////////////////////////////////////////////////
        //
        // Setup workorder Table
        //
        M_pendingOrderTable = $('#pendingOrderTable');
        M_activeOrderTable = $('#activeOrderTable');
        M_completedOrderTable = $('#completedOrderTable');
        M_cancelledOrderTable = $('#cancelledOrderTable');
        M_expiredOrderTable = $('#expiredOrderTable');
        M_summaryTable = $('#orderSummaryTable');
        jqrfyTable(M_pendingOrderTable, M_dispatchTabs, pendingDefs);
        jqrfyTable(M_activeOrderTable, M_dispatchTabs, activeDefs);
        jqrfyTable(M_completedOrderTable, M_dispatchTabs, completedDefs);
        jqrfyTable(M_cancelledOrderTable, M_dispatchTabs, cancelledDefs);
        jqrfyTable(M_expiredOrderTable, M_dispatchTabs, expiredDefs);
        jqrfyTable(M_summaryTable, M_dispatchTabs, summaryDefs);
    });
</script>