@using Machete.Domain
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization
@using WorkOrder = Machete.Web.Resources.WorkOrder
@using Record = Machete.Web.Resources.Record

@using Machete.Web.Resources

@{
    var httpContext = ViewContext.HttpContext;
    var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
    var currentUrl = UriHelper.BuildRelative(httpContext.Request.PathBase, httpContext.Request.Path, httpContext.Request.QueryString);
}
<div id="woDispatchTabs" >
    <ul>
        <li><a href="#orderList" id="pendingOrderListTab" class="ListTab">@WorkOrders.details</a> </li>
        <li><a href="#summaryList" id="summaryOrderListTab" class="ListTab">@WorkOrders.summary</a> </li>
        
    </ul>
    <div id="summaryList">
        <input type="button" id="printActiveBtn" class="formButton" value="@WorkOrders.printactive"/>
        <input type="button" id="printActiveAssignedBtn" class="formButton" value="@WorkOrders.printactiveassigned"/>
        @Html.TextBox("activeDate", DateTime.Today.ToShortDateString(), new { style = "width: 6em;", @class = "ui-datepicker" })
        <input type="button" id="completeActiveBtn" class="formButton" value="@WorkOrders.completeactiveassigned"/>
        <table id="orderSummaryTable" class="display">
            <thead>
                <tr>
                    <th>@WorkOrders.date</th>
                    <th>@WorkOrders.weekday</th>
                    <th>@WorkOrders.pendingorder</th>
                    <th>@WorkOrders.pendingassignment</th>
                    <th>@WorkOrders.activeorder</th>
                    <th>@WorkOrders.activeassignment</th>
                    <th>@WorkOrders.completedorder</th>
                    <th>@WorkOrders.completedassignment</th>
                    <th>@WorkOrders.cancelledorder</th>
                    <th>@WorkOrders.cancelledassignment</th>
                    <th>@WorkOrders.expiredorder</th>
                    <th>@WorkOrders.expiredassignment</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="orderList">
        <input type="button" value="@WorkOrders.btnPending" class="formButton" id="pendingOrdersBtn"/>
        <input type="button" value="@WorkOrders.btnActive" class="formButton" id="activeOrdersBtn"/>
        <input type="button" value="@WorkOrders.btnCompleted" class="formButton" id="completedOrdersBtn"/>
        <input type="button" value="@WorkOrders.btnCancelled" class="formButton" id="cancelledOrdersBtn"/>
        <input type="button" value="@WorkOrders.btnExpired" class="formButton" id="expiredOrdersBtn"/>
        <input type="button" value="@WorkOrders.btnAll" class="formButton" id="allOrdersBtn"/>
        <input type="button" value="@WorkOrders.btnOnline" class="formwButton" id="onlineOrdersBtn"/>
        <table id="orderTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LABEL</th>
                    <th>EmployerID</th>
                    <th>@WorkOrder.workorderID</th>
                    <th>@WorkOrder.dateTimeofWork</th>
                    <th>@WorkOrder.statusShort</th>
                    <th>@WorkOrder.transportProviderID</th>
                    <th>@WorkOrders.assigncount</th>
                    <th>@WorkOrder.contactName</th>
                    <th>@WorkOrder.workSiteAddress1</th>
                    <th>@WorkOrder.zipcode</th>
                    <th>@WorkOrders.onlineSource</th>                  
                    <th>@Emails.emailsSent</th>                  
                    <th>@Emails.errorCount</th>  
                    <th>@Record.updatedby</th>                
                </tr>
            </thead>
        </table>        
    </div>
</div>
@await Html.PartialAsync("WorkerIndex")
<script type="text/javascript">
    var oTableDefaults = {
            "bPaginate": true,
            "bLengthChange": true,
            "aaSorting": [[4, "desc"]],
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "iDeferLoading": true,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/WorkOrder/AjaxHandler",
            "bProcessing": true,
            "oLanguage": datatable_lang_@(currentCulture.TwoLetterISOLanguageName),
            "aoColumns": [
                            { "mDataProp": "tabref", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "tablabel", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "EID", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "WOID" },
                            { "mDataProp": "dateTimeofWork" },
                            { "mDataProp": "status" },
                            { "mDataProp": "transportMethod" },
                            { "mDataProp": "WAcount" },
                            { "mDataProp": "contactName" },
                            { "mDataProp": "workSiteAddress1" },
                            { "mDataProp": "zipcode" },
                            { "mDataProp": "onlineSource", "bSearchable": false, "bSortable": true, "bVisible": true },
                            { "mDataProp": "emailSentCount", "bSearchable": false, "bSortable": true, "bVisible": true },
                            { "mDataProp": "emailErrorCount", "bSearchable": false, "bSortable": true, "bVisible": true },
                            { "mDataProp": "updatedby" }
                        ],
            "aoSearchCols" :  [null, null, null, null, null, null, null, null, null, null, null, null],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        $(nRow).attr("edittabref", aData["tabref"]);
                        $(nRow).attr("edittablabel", aData["tablabel"]);
                        switch (aData['displayState']) {
                            case "@(LOrderStatus.Pending)": $(nRow).addClass('statusGrey'); break;
                            case "@(LOrderStatus.Active)": $(nRow).addClass('statusBlue'); break;
                            case "@(LOrderStatus.Completed)": $(nRow).addClass('statusGreen'); break;
                            case "@(LOrderStatus.Cancelled)": $(nRow).addClass('statusRed'); break;
                            case "@(LOrderStatus.Expired)": $(nRow).addClass('statusRed'); break;
                            case "@(LOrderStatus.Orphaned)": $(nRow).addClass('statusYellow'); break;
                            case "@(LOrderStatus.Unassigned)": $(nRow).addClass('statusOrange'); break;
                            default: break;
                        }
                        return nRow;
            }
        };
    var orderDefs = jQuery.extend(true, {}, oTableDefaults); //example of copying js object
    var summaryDefs = jQuery.extend(true, {}, oTableDefaults);
    delete orderDefs["iDeferLoading"];
    delete summaryDefs["aoColumns"];
    delete summaryDefs["fnRowCallback"];
    summaryDefs["sAjaxSource"] = "/WorkOrder/AjaxSummary";
    summaryDefs["aaSorting"] = [[0, 'desc']];
    summaryDefs["iDisplayLength"] = 25;
    summaryDefs["aLengthMenu"] = [[25, 50, 100], [25, 50, 100]];
        orderDefs["iDisplayLength"] = 15;
    orderDefs["aLengthMenu"] = [[15, 50, 100], [15, 50, 100]];
    //////////////////////////////////////////////
    //
    //
    //
    $(document).ready(function () {
        ////////////////////////////////////////////////////////////////
        //
        // Setup work order Tabs
        //
        $('.formButton').button();
        $('#woDispatchTabs').mUI('createTabs', {
            prefix: "ui-tabs-dispatch-",
            formLevel: 1,
            changeConfirm: "@Shared.changeConfirm",
            changeTitle: "@Shared.changeTitle",
            updateDatatable: true
            });
        ////////////////////////////////////////////////////////////////
        //
        // Setup workorder Table
        //
        var oTable = jqrfyTable({
            table: $('#orderTable'),
            tab: $('#woDispatchTabs'),
            options: orderDefs,
            dblClickEvent: false,
            tabLabel: null
            });

        var woSumTable = jqrfyTable({
            table: $('#orderSummaryTable'),
            tab: $('#woDispatchTabs'),
            options: summaryDefs,
            dblClickEvent: function (event) {
                var myTr = event.target.parentNode;
                $('#orderTable').dataTable().fnFilter($(myTr).find('td:eq(0)').text());
                $('#woDispatchTabs').tabs('select',0);
                },
            tabLabel: null
        });

        $('#orderSummaryTable').find('tbody').click(function (event) {
            var selectedDate = $(event.target.parentNode.childNodes[0]).text();
            console.log(selectedDate);
            $('#activeDate').val(selectedDate);
        });
        ////////////////////////////////////////////////////////////////
        //
        // filtering buttons on details page
        //
        $('#pendingOrdersBtn').click(function() {
            oTable.dataTable().fnResetAllFilters(false);
            oTable.dataTable().fnFilter('@Machete.Domain.WorkOrder.iPending', 5); //sync with DT array above
        });
        $('#activeOrdersBtn').click(function() {
            oTable.dataTable().fnResetAllFilters(false);
            oTable.dataTable().fnFilter('@Machete.Domain.WorkOrder.iActive', 5); //sync with DT array above
        });
        $('#completedOrdersBtn').click(function() {
            oTable.dataTable().fnResetAllFilters(false);
            oTable.dataTable().fnFilter('@Machete.Domain.WorkOrder.iCompleted', 5); //sync with DT array above
        });
        $('#expiredOrdersBtn').click(function() {
            oTable.dataTable().fnResetAllFilters(false);
            oTable.dataTable().fnFilter('@Machete.Domain.WorkOrder.iExpired', 5); //sync with DT array above
        });
        $('#allOrdersBtn').click(function() {
            oTable.dataTable().fnResetAllFilters();
//            oTable.dataTable().fnFilter("");
//            oTable.dataTable().fnFilter("", 5); //sync with DT array above
        });
        $('#cancelledOrdersBtn').click(function() {
            oTable.dataTable().fnFilter('@Machete.Domain.WorkOrder.iCancelled', 5); //sync with DT array above
        });
        $('#onlineOrdersBtn').click(function() {
            oTable.dataTable().fnResetAllFilters(false);
            oTable.dataTable().fnFilter(true, 11); //sync with DT array above
        });
        ////////////////////////////////////////////////////////////////
        //
        // print and complete buttons from summary page
        //
        $('#printActiveBtn').click(function() {
            window.open('/WorkOrder/GroupView?assignedOnly=false&date='+$('#activeDate').val());
        });
        $('#printActiveAssignedBtn').click(function() {
            window.open('/WorkOrder/GroupView?assignedOnly=true&date='+$('#activeDate').val());
        });
        $('#completeActiveBtn').click(function() {
            $.post("/WorkOrder/CompleteOrders",
                {
                    date: $('#activeDate').val()
                },
                function (data) {
                        alert("Number of orders completed: "+data.completedCount);
                }
            );
        });
        $('.ui-datepicker').datepicker({
            dateFormat: 'mm/dd/yy'
        });
    });
</script>