@model Machete.Domain.WorkOrder
@using Machete.Web.Resources
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}

<div id="woPaypalTabs" >
    <ul>
        <li><a href="#" id="paypalTab" class="ListTab">@Machete.Web.Resources.WorkOrders.orderConfirmation</a> </li>
    </ul>
@using (Html.BeginForm("PaymentComplete", "HirerWorkOrder", FormMethod.Get,
                        new { @class = "edittab-form EditPost", @id = "WorkOrderTab-" + Model.ID }))
{
    <input type="hidden" name="payerId" id="payerId" value="@(Model.paypalPayerId)">
    <input type="hidden" name="token" id="token" value="@(Model.paypalToken)">
    <div>
        <h1>Transportation Fees - PayPal Authorization</h1>
        <p>You have authorized a PayPal payment - please select the link below to confirm the payment.</p>
        <p>The transportation fees must be paid before a Work Order can be confirmed</p>
        <p>Contact Casa Latina during business hours if you have any questions/issues.</p>
        <p>The Work Order Number is: @(Model.ID)</p>
        <p>The transportation fee (paid to worker center) is: $@(Model.transportFee).00</p>
        <br />
    </div>
    <div>
        <button type="submit" class="btn btn-default formButton" id="confirmPayment" name="provider" value="confirmPayment">Confirm Payment</button>
        <button type="button" class="btn btn-default formButton" id="proceed" name="proceed" onclick="location.href='@Url.Action("PaymentComplete", "HirerWorkOrder")'" value="proceed">Proceed Without Payment</button>
    </div>
}
</div>
    
<script type="text/javascript">
    $(document).ready(function () {

        $('#woPaypalTabs').tabs();

        $('.formButton').button();
    });
</script>
