@model Machete.Web.Models.ChangePasswordModel
@{
    ViewBag.Title = @Machete.Web.Resources.ValidationStrings.ChangeTitle;
}
<h2>@Machete.Web.Resources.ValidationStrings.ChangeTitle</h2>
<p>
    @Machete.Web.Resources.ValidationStrings.ChangeSubTitle
</p>
<p>
    @Machete.Web.Resources.ValidationStrings.ChangePassLength1 @ViewBag.PasswordLength
    @Machete.Web.Resources.ValidationStrings.ChangePassLength2
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, @Machete.Web.Resources.ValidationStrings.ChangeValSummary)
    <div class="tb-table">
        <fieldset>
            <legend>@Machete.Web.Resources.ValidationStrings.ChangeLegend</legend>
            <div class="tb-row">
                <div class="tb-label tb-cell">
                    @Html.LabelFor(m => m.OldPassword)
                </div>
                <div class="tb-field tb-cell">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>
            <div class="tb-row">
                <div class="tb-label tb-cell">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="tb-field tb-cell">
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="tb-row">
                <div class="tb-label tb-cell">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="tb-field tb-cell">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <p>
                <input type="submit" value="@Machete.Web.Resources.ValidationStrings.Change" />
            </p>
        </fieldset>
    </div>
}
