@model Machete.Web.Models.MembersModel
@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, Machete.Web.Resources.ValidationStrings.RegisterValSummary)
    <fieldset>
        <legend>MembersModel</legend>
        <div class="tb-table">
            <div class="tb-row">
                <div class="tb-label tb-cell">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="tb-field tb-cell">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
                <div class="tb-label tb-cell">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="tb-field tb-cell">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>


            <div class="tb-row">
                <div class="tb-label tb-cell">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="tb-field tb-cell">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="tb-label tb-cell">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </div>
                <div class="tb-field tb-cell">
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>


            <div class="tb-row">
                <div class="tb-label tb-cell">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="tb-field tb-cell">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="tb-label tb-cell">
                    @Html.LabelFor(model => model.IsApproved)
                </div>
                <div class="tb-field tb-cell">
                    @Html.EditorFor(model => model.IsApproved)
                    @Html.ValidationMessageFor(model => model.IsApproved)
                </div>
            </div>
            <div class="tb-row">
                <div class="tb-label tb-cell">
                    @Html.LabelFor(model => model.question)
                </div>
                <div class="tb-field tb-cell">
                    @Html.EditorFor(model => model.question)
                    @Html.ValidationMessageFor(model => model.question)
                </div>
            </div>
            <div class="tb-row">
                <div class="tb-label tb-cell">
                    @Html.LabelFor(model => model.answer)
                </div>
                <div class="tb-field tb-cell">
                    @Html.EditorFor(model => model.answer)
                    @Html.ValidationMessageFor(model => model.answer)
                </div>
            </div>
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
