@model  System.Web.Security.MembershipUser   
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="tb-table">
        <div class="tb-row">
            <div class="tb-cell">
                <fieldset id="accountSet">
                    <legend>Account Info?!</legend>
                    <div class="tb-table">
                        <div class="tb-row">
                            <div class="tb-label">
                                @Html.LabelFor(model => model.UserName)
                            </div>
                            <div class="tb-field">
                                @Html.EditorFor(model => model.UserName)
                            </div>
                        </div>
                        <div class="tb-row">
                            <div class="tb-label">
                                @Html.LabelFor(model => model.Email)
                            </div>
                            <div class="tb-field">
                                @Html.EditorFor(model => model.Email)
                            </div>
                        </div>
                        <div class="tb-row">
                            <div class="tb-label">
                                @Html.LabelFor(model => model.IsApproved)
                            </div>
                            <div class="tb-field">
                                @Html.EditorFor(model => model.IsApproved)
                            </div>
                        </div>
                        <input type="submit" value="Delete?!" />
                    </div>
                </fieldset>
            </div>
            <div class="tb-cell">
                <fieldset id="rolesSet">
                    <legend>Roles?!</legend>
                    <div class="tb-table">        
                            @foreach (String role in Roles.GetAllRoles())
                            {
                                <div class="tb-row">
                                    <div class="tb-cell">
                                        <label for="@role">@role:</label> 
                                    </div>
                                    <div class="tb-cell">
                                        @Html.CheckBox(role, Roles.IsUserInRole(Model.UserName, role), new { @class = "check-box" })
                                    </div>
                                </div>
                            }
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $().ready(function () {
        $('input.check-box, input.text-box').attr('disabled', 'disabled');

    });
</script>