@model Machete.Web.ViewModel.EditUserViewModel        
@{
    ViewBag.Title = "Edit User";
}
<div class="account-background">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <p style="color:red;"><strong>@Html.ValidationSummary()</strong></p>
        <p style="color:red;"><strong>@Model.ErrorMessage</strong></p>
        <div class="tb-table" style="float: left;">
            <fieldset>
                <legend>Basic User Info</legend>
                <div class="tb-row">
                    <div class="tb-label">
                        @Html.LabelFor(model => model.UserName)
                    </div>
                    <div class="tb-field">
                        @Html.DisplayTextFor(model => model.UserName)
                    </div>
                </div>
                <div class="tb-row">
                    <div class="tb-label">
                        @Html.LabelFor(model => model.FirstName)
                    </div>
                    <div class="tb-field">
                        @Html.TextBoxFor(model => model.FirstName)
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                <div class="tb-row">
                    <div class="tb-label">
                        @Html.LabelFor(model => model.LastName)
                    </div>
                    <div class="tb-field">
                        @Html.TextBoxFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>
                <div class="tb-row">
                    <div class="tb-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="tb-field">
                        @Html.TextBoxFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="tb-row">
                    <div class="tb-label">
                        @Html.LabelFor(model => model.IsApproved)
                    </div>
                    <div class="tb-field">
                        @Html.CheckBoxFor(model => model.IsApproved)
                    </div>
                </div>
                <div class="tb-row">
                    <div class="tb-label">
                        @Html.LabelFor(model => model.IsLockedOut)
                    </div>
                    <div class="tb-field">
                        @Html.CheckBoxFor(model => model.IsLockedOut)
                    </div>
                </div>
                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        </div>


        <div class="tb-table" style="float: left; margin-left: 3em;">
            <h3>Password Recovery</h3>
            <div class="tb-row">
                <div class="tb-label">
                    @Html.LabelFor(model => model.NewPassword)
                </div>
                <div class="tb-field">
                    @Html.PasswordFor(model => model.NewPassword)
                </div>
            </div>
            <div class="tb-row">
                <div class="tb-label">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </div>
                <div class="tb-field">
                    @Html.PasswordFor(model => model.ConfirmPassword)
                </div>
            </div>
            <p>(Leave this blank unless you want to change the user's password.)</p>
        </div>

    }
    <div style="clear: left;">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>