@model System.Web.Security.MembershipUser          
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
@Html.ValidationSummary(true)
@using (Html.BeginForm())
{

    <div class="tb-table" style="float: left;">
    <fieldset>
    <legend>MembersModel</legend>
        <div class="tb-row">
            <div class="tb-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="tb-field">
                @Html.DisplayTextFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="tb-row">
            <div class="tb-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="tb-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="tb-row">
            <div class="tb-label">
                @Html.LabelFor(model => model.IsApproved)
            </div>
            <div class="tb-field">
                @Html.EditorFor(model => model.IsApproved)
                @Html.ValidationMessageFor(model => model.IsApproved)
            </div>
        </div>
        <div class="tb-row">
            <div class="tb-label">
                @Html.LabelFor(model => model.IsLockedOut)
            </div>
            <div class="tb-field">
                @Html.EditorFor(model => model.IsLockedOut)
                @Html.ValidationMessageFor(model => model.IsLockedOut)
            </div>
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
        </fieldset>
    </div>


    <div class="tb-table" style="float: left;">
    <fieldset>
    <legend>Roles</legend>    
        @foreach (String role in Roles.GetAllRoles())
        {   
        <div class="tb-row">
            <div class="tb-label">
                <label for="@role">@role:</label>
            </div>   
            <div class="tb-label">               
                @Html.CheckBox(role, Roles.IsUserInRole(Model.UserName, role))
            </div>
        </div>                        
        }
        </fieldset>
    </div>

}
<div style="clear: left;">
    @Html.ActionLink("Back to List", "Index")
</div>
