@using Machete.Web.Models

@model IEnumerable<UserSettingsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Machete Configuration Page</h2>
<p style="color:red;">
    <strong>@ViewBag.Message</strong>
</p>
<p>
    @Html.ActionLink("Manage Current User", "Manage") | @Html.ActionLink("Create New User", "Register") | @Html.ActionLink("Configure Lookups", "Index", "Config")
</p>
<h3>Users Table</h3>
<table>
    <tr>
        <th></th>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            IsApproved
        </th>
        <th>
            IsLockedOut
        </th>
        <th>
            IsOnline
        </th>
        <th>
            CreationDate
        </th>
        <th>
            LastLoginDate
        </th>
    </tr>

@foreach (UserSettingsViewModel item in Model)
{
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", "Account", new { id = item.ProviderUserKey }, null) 
            @Html.ActionLink("Delete", "Delete", "Account", new { id = item.ProviderUserKey }, null) 
            @Html.ActionLink("Roles", "UserRoles", "Account", new { id = item.ProviderUserKey }, null) 
        </td>
        <td>
            @item.UserName
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.IsApproved
        </td>
        <td>
            @item.IsLockedOut
        </td>
        <td>
            @item.IsOnline
        </td>
        <td>
            @String.Format("{0:g}", item.CreationDate)
        </td>
        <td>
            @String.Format("{0:g}", item.LastLoginDate)
        </td>
    </tr>
}

</table>

