@using Machete.Web.Models

@model IEnumerable<UserSettingsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New User Account", "Register")
    <br />
    @Html.ActionLink("Configure Lookups", "Index", "Config")
</p>
<table>
    <tr>
        <th></th>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            IsApproved
        </th>
        <th>
            IsLockedOut
        </th>
        <th>
            IsOnline
        </th>
        <th>
            CreationDate
        </th>
        <th>
            LastLoginDate
        </th>
    </tr>

@foreach (UserSettingsViewModel item in Model)
{
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProviderUserKey }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProviderUserKey }) |
            @Html.ActionLink("Set Password", "AdminChangePassword", new { id = item.ProviderUserKey })
        </td>
        <td>
            @item.UserName
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.IsApproved
        </td>
        <td>
            @item.IsLockedOut
        </td>
        <td>
            @item.IsOnline
        </td>
        <td>
            @String.Format("{0:g}", item.CreationDate)
        </td>
        <td>
            @String.Format("{0:g}", item.LastLoginDate)
        </td>
    </tr>
}

</table>

