@model Machete.Domain.ActivitySchedule

@using Machete.Web.Resources
@using Machete.Web.Helpers

@{  
    string recType = "activity";
    string idPrefix = recType + Model.ID + "-";
}

@{
    ViewBag.Title = "CreateMany";
}

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

@using (Html.BeginForm("CreateMany", "Activity", FormMethod.Post, 
                        new { @id = "activityCreateForm" }))
{
    <div>
        <input type="submit" id="@(idPrefix)SaveBtn" class="formButton saveBtn" 
               value="@Activities.createsubmit" />
    </div>
    @Html.ValidationSummary(true)
    @Html.EditorFor(model => model, "ActivityCreateMany")
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.formButton').button();
        var activityCreateForm = $("#activityCreateForm");
        $.validator.unobtrusive.parseDynamicContent('#activityCreateForm');
        $('#activityName').focus();
        // Activity Create submit event

        activityCreateForm.mUI('tabFormSubmit', {
            recType: "@(recType)", //for add_rectab
            create: true,
            formLevel: 1
        });
        //
        // machete UI detect changes on forms in tabs   
        activityCreateForm.mUI('formDetectChanges', {
            recType: "@(recType)",
            formLevel: 1,
            changeConfirm: "@(Machete.Web.Resources.Shared.changeConfirm)",
            changeTitle: "@(Machete.Web.Resources.Shared.changeTitle)"
        });
    });
</script>