@model Machete.Web.ViewModel.ActivitySchedule

@using Machete.Web.Resources

@{
    ViewBag.Title = "CreateMany";
    string recType = "activity";
    string idPrefix = recType + Model.firstID + " - ";
}
    
@using (Html.BeginForm("CreateMany", "Activity", FormMethod.Post,
                        new { @id = "activityCreateManyForm" }))
{
    <div>
        <input type="submit" id="@(idPrefix)SaveBtn" class="formButton saveBtn"
               value="@Activities.createsubmit" tabindex="9" />
    </div>
    @Html.ValidationSummary(true);

    @Html.EditorFor(model => model, "ActivityCreateMany");
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.formButton').button();
        var activityCreateManyForm = $("#activityCreateManyForm");
        $.validator.unobtrusive.parseDynamicContent('#activityCreateManyForm');
        // Activity Create submit event

        activityCreateManyForm.mUI('tabFormSubmit', {
            recType: "@(recType)", //for add_rectab
            create: true,
            pleaseDontFindMe: true, 
            formLevel: 1
        });
        //
        // machete UI detect changes on forms in tabs
        activityCreateManyForm.mUI('formDetectChanges', {
            recType: "@(recType)",
            formLevel: 1,
            changeConfirm: "@Shared.changeConfirm",
            changeTitle: "@Shared.changeTitle"
        });
    });
</script>