@using Machete.Web.Helpers
@using Machete.Web.Resources
@using Machete.Domain.Resources
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
    //string recType = "activity";
}
<div id="activityTabs" class="ExclusiveTab">
    <ul>
        <li><a href="#activityList" id="activityListTab" class="ListTab">@Activities.listlink</a> </li>
        @if (Html.IsInRole(Html.Role_AM()))
        {
            <li><a href="/Activity/Create" id="activityCreateTab" class="CreateTab">@Activities.createlink</a></li>
        }
    </ul>
    @Html.Partial("ActivityIndex")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.formButton').button();
        $('#activityTabs').mUI('createTabs', { 
            prefix: "ui-tabs-activity-",
            formLevel: 1,
            changeConfirm: "@(Machete.Web.Resources.Shared.changeConfirm)",
            changeTitle: "@(Machete.Web.Resources.Shared.changeTitle)"
            });
    });
</script>

